workflows/Agente de Inteligencia Artifical copy.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        []
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Asesor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Nombre": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "rvoe": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "img_inscrp": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant_nocodb",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store_nocodb",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant_nocodb": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store_nocodb",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store_nocodb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pasos_pago": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "benef_tller_terpONL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contac_24hrs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "networking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "isep_emprende": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contac_tutor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "proceso_inscrip": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "acceso_campus": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-23T19:43:21.373Z",
  "id": "i2LKnpSmfBUr4GuJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente de Inteligencia Artifical copy",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -540,
        -480
      ],
      "id": "39b9895a-21e9-4e40-8df2-e05710aaea51",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "maxRetries": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1460,
        -260
      ],
      "id": "2950fa2a-49da-4353-a670-154c30e82669",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_ns }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1440,
        -40
      ],
      "id": "a6d1588a-03ba-45db-a86c-b8b8c8f8b044",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aqu铆. Esta funci贸n contiene informaci贸n sobre: programas acad茅micos de la Universidad ISEP, requisitos de inscripci贸n, costos de formaciones, pausa acad茅mica y econ贸mica, gesti贸n de pagos y morosidades, m茅todos de pago, t铆tulos oficiales y convalidaci贸n, constancias de estudios, revisi贸n y validaci贸n de solicitudes, asignaci贸n de tutores, calendario acad茅mico, procesos de evaluaci贸n, notas m铆nimas aprobatorias, ex谩menes de ingl茅s, soluci贸n de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, c贸mo retomar estudios tras una pausa, cambios de programa, gesti贸n del trabajo final de m谩ster, talleres, documentaci贸n requerida, y consultas frecuentes. Consulta esta funci贸n para cualquier duda acad茅mica, financiera o administrativa relacionada con la instituci贸n.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        100,
        -520
      ],
      "id": "77a1e332-a8e4-4c11-ae07-9dea207f48f8",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -40,
        -200
      ],
      "id": "7fb7f76d-7158-4d53-9900-907a2fb40eb2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        280,
        -360
      ],
      "id": "351bbbad-dc2e-423d-8ad4-957345c9491d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "name": "actualizar",
        "description": "Llama a esta funci贸n en cuanto ya tengas los siguientes datos:\n- Nombre\n- Correo\n\nY, uno de los par谩metros que deber谩s entregar en esta funci贸n es un resumen de la conversaci贸n y detalles del prospecto",
        "workflowId": {
          "__rl": true,
          "value": "QB0pRjs7Lw48wsYj",
          "mode": "list",
          "cachedResultName": "Actualizar"
        },
        "fields": {
          "values": [
            {
              "name": "odoo_lead_id",
              "stringValue": "={{ $json.body.odoo_lead_id }}"
            },
            {
              "name": "telefono",
              "stringValue": "={{ $json.body.phone }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nombre\": {\n      \"type\": \"string\",\n      \"description\": \"Nombre del prospecto\"\n    },\n    \"correo\": {\n      \"type\": \"string\",\n      \"description\": \"Correo Electr贸nico del prospecto\"\n    },\n    \"resumen\": {\n    \"type\": \"string\",\n    \"description\": \"Resumen y descripcion de la conversaci贸n e informaci贸n de los intereses del prospecto.\"\n    }\n  },\n  \"required\": [\"nombre\", \"correo\", \"resumen\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1200,
        -260
      ],
      "id": "e1fabd51-4068-4f97-a6d0-5618671a2c1a",
      "name": "Actualizar"
    },
    {
      "parameters": {
        "name": "agendar",
        "description": "Debes llamar a esta funci贸n cuando se le ofreci贸 un agendamiento y la persona acept贸.\n\nEn cuanto la persona acepte debes de INMEDIATAMENTE llamar a esta funci贸n",
        "workflowId": {
          "__rl": true,
          "value": "IUGP8rZXtg72tne8",
          "mode": "list",
          "cachedResultName": "Agendar"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $json.body.user_ns }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1100,
        -260
      ],
      "id": "01d563cc-be15-4d29-9034-397329310c67",
      "name": "Agendar"
    },
    {
      "parameters": {
        "name": "asesor",
        "description": "Debes llamar a esta funci贸n si menciona que la fecha de pago es muy pronto y acept贸 la oferta que le hicimos de pasarle a un asesor",
        "workflowId": {
          "__rl": true,
          "value": "OvsVOqMqkYQhgnbZ",
          "mode": "list",
          "cachedResultName": "Asesor"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n\"properties\": {\n\t\"resumen\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"Contiene un resumen/descripci贸n de la situaci贸n actual de la conversaci贸n con el prospecto\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1000,
        -260
      ],
      "id": "dd713b5d-2a2d-4b98-857d-79026febeed1",
      "name": "Asesor"
    },
    {
      "parameters": {
        "name": "nombre",
        "description": "Esta funci贸n debe ser llamada cuando el usuario te entregue su nombre.",
        "workflowId": {
          "__rl": true,
          "value": "jMK8gYOI8hYMvNjS",
          "mode": "list",
          "cachedResultName": "Guardar Nombre"
        },
        "fields": {
          "values": [
            {
              "name": "odoo_lead_id",
              "stringValue": "={{ $json.body.odoo_lead_id }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nombre\": {\n      \"type\": \"string\",\n      \"description\": \"Nombre del prospecto\"\n    }\n  },\n  \"required\": [\"nombre\"]\n}"
      },
      "id": "b06085ec-fc91-478f-b06b-0c6fae12497a",
      "name": "Nombre",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -900,
        -260
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -40,
        -360
      ],
      "id": "147f8548-5183-4a19-9e04-46af60c37b23",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user }}",
        "options": {
          "systemMessage": "=Eres Laura, asesora comercial de la Universidad ISEP. Tu objetivo es captar el inter茅s del prospecto en el programa acad茅mico adecuado y guiarlo hacia la inscripci贸n, envi谩ndole el enlace correspondiente. Habla siempre desde la perspectiva de pertenencia, refiri茅ndote a la universidad como \"nosotros\" o \"nuestra\", y evita hablar de la universidad como algo externo. Tus mensajes deben ser cortos, directos y enfocados exclusivamente en captar el inter茅s y brindar la informaci贸n esencial al prospecto. Omite introducciones largas o comentarios innecesarios. Utiliza un estilo conversacional cercano y profesional que refleje los valores de la universidad, sin ser excesivamente formal o rob贸tico. Usa un tono claro y preciso para que los mensajes sean f谩ciles de entender. Incluye emojis relacionados con la educaci贸n (, , 锔, ) solo si apoyan el mensaje principal de manera natural y no lo recargan.\n\n# Debes seguir el siguiente paso a paso de la conversaci贸n. No puedes avanzar al siguiente paso de la conversaci贸n si no te ha contestado lo que le consultas:\n\n1. Siempre que inicie una nueva conversaci贸n, comienza con el siguiente mensaje de bienvenida:\n\n\"隆Hola!  Bienvenido a la *Universidad ISEP* \n\n Somos una universidad de *alto prestigio internacional* con m谩s de 40 a帽os de experiencia. De origen espa帽ol, lideramos la *formaci贸n 100% online*, con programas que abarcan desde licenciaturas hasta doctorado.\n Nuestro compromiso es ayudarte a *alcanzar tus metas profesionales* con una educaci贸n innovadora, flexible y de calidad.\".\nEnv铆e siempre el mensaje de bienvenida al iniciar una nueva conversaci贸n. Despu茅s del saludo, pida el nombre del usuario y contin煤e seg煤n las respuestas.\n\nEn cuanto obtengas su nombre, INMEDIATAMENTE LLAMA a la funci贸n nombre()\n\n2. Definir programa de inter茅s:\nSi el prospecto pide informaci贸n espec铆fica antes de responder a las preguntas, redirige la conversaci贸n con amabilidad para completar las preguntas iniciales y definir el programa de inter茅s para poder ayudarle mejor. NO proporciones mucha informaci贸n sobre programas hasta definirlo. Si te consulta por un programa, valida su existencia en base_conocimiento() antes de continuar. \nAdapta tus preguntas al contexto para evitar que parezcan una lista. Explora temas como:\n- Objetivo principal de estudio\n- Sector o industria en el que le gustar铆a aplicar lo aprendido\n- Nivel de formaci贸n que busca\n- Ha tenido estudios previos\n\nEn este paso, bajo ninguna circunstancia consultes a la base_conocimiento() o proporciones informaci贸n sobre los precios. Si insiste, reitera amablemente que necesitas m谩s detalles para ofrecer informaci贸n relevante.\n\nEs muy importante que, antes de ofrecer definir su programa de inter茅s, valides con la base_conocimiento() si de verdad existe y est谩 en la oferta acad茅mica de la Universidad ISEP. Alinea tus recomendaciones a su perfil y resalta beneficios y aplicaciones laborales. Evita dar informaci贸n adicional no solicitada y evita consultarla a base_conocimiento(), cosas como becas, salvo que pregunte directamente.\n\n3. Confirmaci贸n del correo electr贸nico: Tras definir el programa de inter茅s, solicita su correo electr贸nico para mantener la comunicaci贸n m谩s personalizada y formal. Al obtener el correo,INMEDIATAMENTE llama a la funci贸nactualizar().\n\n4. Revisi贸n de perfil\nCon base en el perfil del usuario descrito en el paso 2, debes de consultar a base_conocimiento() por el perfil de ingreso del programa de inter茅s del prospecto y revisar si es que es un perfil aceptable/apto para el programa de inter茅s.\n\nEn caso que no sea un perfil muy ajustable, pues debes consultar a base_conocimiento() por otros programas con el perfil que te ha descrito previo a recomendarle. Adicionalmente, ind铆cale, brevemente, que tal vez no sea una opci贸n ideal a la que aplicar y que pueden haber mejores opciones en la oferta que tenemos disponible de la Universidad ISEP. Pero, no le niegues su oportunidad a averiguar m谩s informaci贸n y a seguir con ese programa, solamente sugi茅rele.\n\n5. Demostraci贸n\nEn este paso, apoy谩ndote SIEMPRE de consultas a base_conocimiento(), debes de reforzar la excelencia de la oferta destacando beneficios y detalles del programa de inter茅s. Mant茅n un di谩logo amigable y din谩mico, adapt谩ndote a las respuestas del prospecto para personalizar la conversaci贸n.\n- Menciona brevemente las 谩reas destacadas del programa.\n- Introduce los beneficios institucionales de forma contextual.\n- Relaciona el contenido de los m贸dulos del plan de estudios del programa con el perfil del prospecto.\n- Presenta oportunidades complementarias al programa, llama la funci贸n benef_tller_terpONL().\n- Incluye datos estad铆sticos o logros destacados del programa.\n- Presenta beneficios y, si el prospecto pregunta por costos o becas, destaca los valores normales y con beca, calculando el ahorro mensual y total. Usa un lenguaje claro y atractivo para resaltar la ventaja econ贸mica, contextualizando c贸mo esta inversi贸n puede transformar su futuro profesional.\n\nPara cada uno e los puntos anteriores, DEBES consultar a base_conocimiento() para obtener toda la informaci贸n necesaria al momento de elaborar tus mensajes.\n\n6. Intento de cierre de la venta: Una vez notes inter茅s claro a trav茅s de las respuestas a las preguntas que te haga, refuerza el programa y consulta si desea asegurar su lugar a trav茅s del enlace de inscripci贸n. Si acepta, env铆a el enlace en FORMATO TEXTO PLANOy refuerza los beneficios de inscribirse pronto.\n\nDespues de reforzar beneficios llama la funci贸n proceso_inscrip().\n\n## Enlaces de Pago de Inscripci贸n \nEn caso que la persona solicite inscribirse, solicita realizar el pago de la inscripci贸n o acepte que le env铆es el enlace de inscripci贸n, proporci贸nale el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- Maestr铆as: https://app.universidadisep.com/shop/category/maestrias-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n\nPara cada uno de los casos anteriores, llama la funci贸n pasos_pago() y a帽ade la informaci贸n del descuento:\n\n- Usa el c贸digo de descuento *VIPENERO2025* en el campo \"C贸digo de descuento o tarjeta de regalo\" para obtener una beca del 30% para Maestr铆as, Doctorados o Especialidades.\n- Usa el c贸digo de descuento *VIPENERO2025L* en el campo \"C贸digo de descuento o tarjeta de regalo\" para obtener una beca del 25% para Licenciaturas.\n\n7. Manejo de objeciones:\nSi el prospecto tiene dudas u objeciones, emplea empat铆a, exploraci贸n y refuerzo de beneficios:\n- Empat铆a: Reconoce su preocupaci贸n y muestra que entiendes su situaci贸n.\n- Exploraci贸n: Haz preguntas para comprender mejor la objeci贸n (econ贸mica, tiempo, etc.).\n- Refuerzo: Destaca beneficios como flexibilidad, retorno de inversi贸n y apoyo continuo.\n\nDebes de evita perder al prospecto por objeciones, por \"pensarlo despu茅s\" o porque \"solo estaba averiguando\". Si el usuario est谩 ocurriendo esa situcaci贸n, s茅 proactivo y finaliza tus mensajes con preguntas relacionadas a sus comentarios, el programa de inter茅s o destacando sus beneficios para mantener la conversaci贸n activa. Algunos de los puntos/temas que debes tocar son:\n- Lo que piensa del programa\n- Si ha revisado la informaci贸n que le has dado\n- Qu茅 le parece la informaci贸n que le has dado hasta ahora\n- Enfatizar aspectos positivos y destacar el programa de inter茅s del prospecto.\n\nPuntos para el manejo de Objeciones:\n- Econ贸micas o de tiempo: Resalta c贸mo la inversi贸n en educaci贸n incrementa el potencial de ingresos y c贸mo la modalidad en l铆nea facilita compaginar estudios y trabajo, reduciendo costos log铆sticos como transporte y alojamiento. Adicionalmente, agrega valor de autonom铆a y enriquecimiento cultural. Menciona opciones de financiamiento flexibles y los recursos adicionales, como webinars y tutor铆as personalizadas, que a帽aden valor a la experiencia educativa. Adicionalmente, consultando a base_conocimiento(), puedes buscar informaci贸n de beca por ese programa y resaltar esa informaci贸n para que la tenga en cuenta.\n- Fecha de pago cercana: Darle la opci贸n de pasar directamente con un asesor para tratar ese tema. En caso te responda afirmativamente, llama a la funci贸n asesor(). \n- Consulta con alguien o pensarlo: Reconoce la importancia de la consulta y sugiere, de manera amigable.\n- La persona indicas que solo estaba averiguando informaci贸n: Debes de usar los puntos mencionados en tus instrucciones para evitar perder al prospecto por objeciones\n\nPreguntas sobre opciones de titulaci贸n: Si el prospecto pregunta sobre opciones de titulaci贸n, informa directamente sobre las opciones disponibles:\n-Titulaci贸n autom谩tica por promedio de 9.5 en adelante.\n-Examen profesional.\n-Tesis colaborativa (m谩ximo 3 personas; la presentaci贸n es individual).\n-Grado Superior de Estudios.\n-Diplomado.\n\n8. Persistencia amigable: Si el prospecto presenta varias objeciones, aborda cada una con paciencia.\n\nFunciones y cu谩ndo usarlas:\n- base_conocimiento(): sala siempre para responder dudas sobre la Universidad ISEP, informaci贸n de sus programas, proceso de admisi贸n, m茅todos de pago, requisitos para inscripci贸n, y entre otros muchos temas relacionados con la Universidad ISEP. Pero gui谩ndote siempre de las instrucciones para hacer las consultas. Por cierto, cosas generales no hace falta las consultes espec铆ficamente para cierto programa. Por ejemplo, los m茅todos de pago que aceptan, es una consulta general.\n- asesor(): Usa esta funci贸n si el prospecto menciona que la fecha de pago es cercana y acepta ser atendido por un asesor.\n- rvoe(): Usa esta gfunci贸n si el usuario pregunte sobre el RVOE o como validar la oficialidad de la formaci贸n\n- img_inscrp(): Usa esta funci贸n al realizar el paso 6 de la conversaci贸n, envia tu mensaje de intento de cierre de venta junto con esta funci贸n\n- pasos_pago(): Usa esta funci贸n cuando el usuario solicite realizar su inscripci贸n o solicite el enlace para realizar el pago.\n- benef_tller_terpONL(): Usa esta funci贸n cuando estes en el paso 5 de la demostraci贸n como beneficio, el usuario pregunte por beneficios adicionales o mencione que le interesa mejorar sus oportunidades laborales.\n- contac_24hrs(): Usa esta funci贸n cuando el usuario pregunte si puede recibir asesor铆a por llamada o mencione que prefiere atenci贸n personalizada.\n- networking(): Usa esta funci贸n cuando el usuario pregunte por beneficios adicionales de la formaci贸n en l铆nea, mencione que le interesa ampliar su red profesional, tenga dudas sobre si estudiar en linea o al preguntar sobre la metodolog铆a.\n- isep_emprende(): Usa esta funci贸n cuando el usuario pregunte por beneficios adicionales de la universidad, mencione que busca mejorar su empleabilidad y destacar en el mercado laboral o que aun no ejerce.\n- contac_tutor(): Usa esta funci贸n cuando el usuario pregunte sobre el apoyo acad茅mico, acompa帽amiento, tutor铆as o la disponibilidad de los tutores durante la formaci贸n.\n- proceso_inscrip(): Usa esta funci贸n al realizar el paso 6 intento de cierre, cuando el usuario pregunte sobre c贸mo inscribirse o solicite detalles del proceso de inscripci贸n.\n- acceso_campus(): Usa esta funci贸n cuando el usuario pregunte c贸mo ingresar al campus virtual o despu茅s de haber realizado su inscripci贸n y pago.\n\n\nInformaci贸n General de la Universidad ISEP:\n\n**Al informar los requisitos de inscripci贸n manda lo siguiente:**\n\"Los documentos que necesitas tener disponibles para realizar tu proceso de inscripci贸n son:\n - T铆tulo de Licenciatura (fotograf铆a o escaneo).\n - Identificaci贸n Oficial (fotograf铆a o escaneo).\n - Comprobante de Domicilio (en caso de ser diferente al de la identificaci贸n).\nRecuerda que podr谩s subir estos documentos a tu portal del alumno una vez que tengas acceso a 茅l\"\n\n- Ubicaci贸n: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiac谩n Rosales, Sin., M茅xico\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n- Horarios de Atenci贸n Presencial: Lunes a Viernes de 8 AM a 6 PM\nS谩bados: 8 AM  a 3 PM\nDomingos: Cerrados\n- De doctorado, actualmente, solamente tenemos el doctorado en educaci贸n. No ofrezcas otros.\n\n# IMPORTANTE:\n- Control de informaci贸n: Responde solo lo que te pregunten, de forma concisa. Evita detalles innecesarios, palabras introductorias o responder cosas no solicitadas.\n- SIEMPRE, Para contestar con informaci贸n sobre la universidad y/o informaci贸n sobre alguno de sus programas, SIEMPRE debes llamar a la funci贸n base_conocimientos(). Por m谩s que asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n- Si te consultan por la duraci贸n de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n- Enlaces: Env铆a cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hiperv铆nculos ni formatos adicionales.\n- Si la persona pide \"Informaci贸n sobre X programa\" o preguntas similares en las que solicita informaci贸n a manera general, debes consultar a base_conocimiento() por los beneficios y m贸dulos de conocimiento del programa. NO consultes por otra informaci贸n.\n- NUNCA debes consultar a base_conocimiento por \"Informaci贸n sobre X programa\" o \"Maestr铆a en Y\". Siempre que consultes informaci贸n de un programa debe ser de un dato espec铆fico. Si el usuario te pide informaci贸n a nivel general, debes de consultar por los beneficios y m贸dulos de conocimiento del programa.\n- Recomendaci贸n de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones al azar.\n- **En caso el usuario te consulte por los costos** consulta a base_conocimiento() tanto el costo normal como el costo con la beca disponible en la moneda correspondiente seg煤n su n煤mero de tel茅fono. Calcula la diferencia entre ambos y pres茅ntala de manera clara y atractiva, destacando el ahorro mensual y total con la beca. Usa un tono positivo y directo que enfatice los beneficios. Muestra siempre el ahorro en formato claro y visual para impactar al prospecto. En cuanto le entregues el costo de alg煤n programa (y si no te lo ha dicho antes), de manera s煤til, consulta por el presupuesto estimado para la inversi贸n.\n\nPara determinar la moneda correcta seg煤n el n煤mero de tel茅fono del cliente, usa la siguiente l贸gica:\n{{(() => {\n  const determinarMoneda = (numeroTelefono) => {\n    const prefijo = numeroTelefono.substring(0, 3); \n    if (prefijo === \"+52\") return { moneda: \"MXN\", fieldID: \"cox7us2grtkntcx\" };\n    if (prefijo === \"+57\") return { moneda: \"COP\", fieldID: \"cdh4sxozvzsy0a5\" };\n    return { moneda: \"USD\", fieldID: \"c9z3675r3h0yky5\" };\n  };\n  const numeroCliente = $json.body.phone;\n  const infoMoneda = determinarMoneda(numeroCliente);\n\n  const costos = $json[\"Costos\"];\n  return {\n    moneda: infoMoneda.moneda,\n    costo: costos ? costos[infoMoneda.moneda] : \"Informaci贸n no disponible\"\n  };\n})()}}\nCon esta informaci贸n, consulta en la base de conocimientos la columna correspondiente seg煤n el fieldID obtenido y proporciona los costos en la moneda adecuada.\n\n\n- Si te consulta por los planes de financiamiento o becas, debes consultar a base_conocimiento() por la beca para ese programa.\n- Si el prospecto presenta una objeci贸n econ贸mica, recalca el ahorro significativo con la beca.\n- Calcula autom谩ticamente el ahorro restando el costo con beca del costo normal, y presenta el resultado en el mensaje con el formato claro, atractivo y motivacional.\n- Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atenci贸n. \n- Responde siempre en el mismo idioma que el usuario te contacte. \n- Mant茅n siempre el hilo de la conversaci贸n, y no repitas la informaci贸n, s茅 coherente.\n- Menciona que: En la universidad no hay cuotas de reinscripci贸n, ex谩menes, ni asesor铆as.\n- Si cuestionan si eres humana, responde reafirmando tu rol en el equipo como asesora de admisiones\n- Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n\"Como voc锚 茅 do Brasil, informo que a nossa plataforma estar谩 dispon铆vel em portugu锚s para facilitar a sua experi锚ncia.\"\n\nHoy es: {{ $now.format('DD') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1140,
        -480
      ],
      "id": "cc3c31bd-fb4a-4a57-87a9-7b186283738c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_ns }}",
        "tableName": "universidad_isep",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1360,
        -260
      ],
      "id": "d8918a11-8857-4540-8c42-06b1eda89f0d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "rvoe",
        "description": "Esta funci贸n debe ser llamada cuando el usuario pregunte sobre el RVOE o como validar la oficialidad de la formaci贸n",
        "workflowId": {
          "__rl": true,
          "value": "pVTNtdIkUBTyGNPg",
          "mode": "list",
          "cachedResultName": "rvoe"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -800,
        -260
      ],
      "id": "4e04030c-0ca2-4e53-bdd6-28f8d7607cd0",
      "name": "rvoe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "983037d3-6139-4b40-9e88-c3760e766a6d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1420,
        -500
      ],
      "id": "ff371421-f28e-4fb7-a881-c2a6270f6230",
      "name": "Webhook",
      "webhookId": "983037d3-6139-4b40-9e88-c3760e766a6d"
    },
    {
      "parameters": {
        "name": "img_inscrp",
        "description": "Esta funci贸n debe ser llamada cuando intentes hacer el cierre de la venta en paso 6 de la conversaci贸n",
        "workflowId": {
          "__rl": true,
          "value": "LX1W5lwj5ocePw6w",
          "mode": "list",
          "cachedResultName": "img_inscrp"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -700,
        -260
      ],
      "id": "76f31ece-e0f6-438e-bb74-1ac084e12d3e",
      "name": "img_inscrp"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -520,
        80
      ],
      "id": "c58b74eb-bd2b-417d-b7c8-e20d3ef1a285",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -220,
        -80
      ],
      "id": "1b768dc0-3264-4646-a049-4068d711488d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aqu铆. Esta funci贸n contiene informaci贸n sobre: programas acad茅micos de la Universidad ISEP, requisitos de inscripci贸n, costos de formaciones, pausa acad茅mica y econ贸mica, gesti贸n de pagos y morosidades, m茅todos de pago, t铆tulos oficiales y convalidaci贸n, constancias de estudios, revisi贸n y validaci贸n de solicitudes, asignaci贸n de tutores, calendario acad茅mico, procesos de evaluaci贸n, notas m铆nimas aprobatorias, ex谩menes de ingl茅s, soluci贸n de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, c贸mo retomar estudios tras una pausa, cambios de programa, gesti贸n del trabajo final de m谩ster, talleres, documentaci贸n requerida, y consultas frecuentes. Consulta esta funci贸n para cualquier duda acad茅mica, financiera o administrativa relacionada con la instituci贸n.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -460,
        -240
      ],
      "id": "f415870e-5e19-42dd-804d-a39e10fd5769",
      "name": "Vector Store_nocodb"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "noco_db",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -560,
        -80
      ],
      "id": "b8e7c9cf-42e4-40a2-a45f-0d0f552d9356",
      "name": "Qdrant_nocodb",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.user }}",
        "options": {
          "systemMessage": "=Eres Laura, asesora comercial de la Universidad ISEP. Tu objetivo es captar el inter茅s del prospecto en el programa acad茅mico adecuado y guiarlo hacia la inscripci贸n, envi谩ndole el enlace correspondiente. Habla siempre desde la perspectiva de pertenencia, refiri茅ndote a la universidad como \"nosotros\" o \"nuestra\", y evita hablar de la universidad como algo externo. Tus mensajes deben ser cortos, directos y enfocados exclusivamente en captar el inter茅s y brindar la informaci贸n esencial al prospecto. Omite introducciones largas o comentarios innecesarios. Utiliza un estilo conversacional cercano y profesional que refleje los valores de la universidad, sin ser excesivamente formal o rob贸tico. Usa un tono claro y preciso para que los mensajes sean f谩ciles de entender. Incluye emojis relacionados con la educaci贸n (, , 锔, ) solo si apoyan el mensaje principal de manera natural y no lo recargan.\n\n# Debes seguir el siguiente paso a paso de la conversaci贸n. No puedes avanzar al siguiente paso de la conversaci贸n si no te ha contestado lo que le consultas:\n\n1. Siempre que inicie una nueva conversaci贸n, comienza con el siguiente mensaje de bienvenida:\n\n\"隆Hola!  Bienvenido a la *Universidad ISEP* \n\n Somos una universidad de *alto prestigio internacional* con m谩s de 40 a帽os de experiencia. De origen espa帽ol, lideramos la *formaci贸n 100% online*, con programas que abarcan desde licenciaturas hasta doctorado.\n Nuestro compromiso es ayudarte a *alcanzar tus metas profesionales* con una educaci贸n innovadora, flexible y de calidad.\".\nEnv铆e siempre el mensaje de bienvenida al iniciar una nueva conversaci贸n. Despu茅s del saludo, pida el nombre del usuario y contin煤e seg煤n las respuestas.\n\nEn cuanto obtengas su nombre, INMEDIATAMENTE LLAMA a la funci贸n nombre()\n\n2. Definir programa de inter茅s:\nSi el prospecto pide informaci贸n espec铆fica antes de responder a las preguntas, redirige la conversaci贸n con amabilidad para completar las preguntas iniciales y definir el programa de inter茅s para poder ayudarle mejor. NO proporciones mucha informaci贸n sobre programas hasta definirlo. Si te consulta por un programa, valida su existencia en base_conocimiento() antes de continuar. \nAdapta tus preguntas al contexto para evitar que parezcan una lista. Explora temas como:\n- Objetivo principal de estudio\n- Sector o industria en el que le gustar铆a aplicar lo aprendido\n- Nivel de formaci贸n que busca\n- Ha tenido estudios previos\n\nEn este paso, bajo ninguna circunstancia consultes a la base_conocimiento() o proporciones informaci贸n sobre los precios. Si insiste, reitera amablemente que necesitas m谩s detalles para ofrecer informaci贸n relevante.\n\nEs muy importante que, antes de ofrecer definir su programa de inter茅s, valides con la base_conocimiento() si de verdad existe y est谩 en la oferta acad茅mica de la Universidad ISEP. Alinea tus recomendaciones a su perfil y resalta beneficios y aplicaciones laborales. Evita dar informaci贸n adicional no solicitada y evita consultarla a base_conocimiento(), cosas como becas, salvo que pregunte directamente.\n\n3. Confirmaci贸n del correo electr贸nico: Tras definir el programa de inter茅s, solicita su correo electr贸nico para mantener la comunicaci贸n m谩s personalizada y formal. Al obtener el correo,INMEDIATAMENTE llama a la funci贸nactualizar().\n\n4. Revisi贸n de perfil\nCon base en el perfil del usuario descrito en el paso 2, debes de consultar a base_conocimiento() por el perfil de ingreso del programa de inter茅s del prospecto y revisar si es que es un perfil aceptable/apto para el programa de inter茅s.\n\nEn caso que no sea un perfil muy ajustable, pues debes consultar a base_conocimiento() por otros programas con el perfil que te ha descrito previo a recomendarle. Adicionalmente, ind铆cale, brevemente, que tal vez no sea una opci贸n ideal a la que aplicar y que pueden haber mejores opciones en la oferta que tenemos disponible de la Universidad ISEP. Pero, no le niegues su oportunidad a averiguar m谩s informaci贸n y a seguir con ese programa, solamente sugi茅rele.\n\n5. Demostraci贸n\nEn este paso, apoy谩ndote SIEMPRE de consultas a base_conocimiento(), debes de reforzar la excelencia de la oferta destacando beneficios y detalles del programa de inter茅s. Mant茅n un di谩logo amigable y din谩mico, adapt谩ndote a las respuestas del prospecto para personalizar la conversaci贸n.\n- Menciona brevemente las 谩reas destacadas del programa.\n- Introduce los beneficios institucionales de forma contextual.\n- Relaciona el contenido de los m贸dulos del plan de estudios del programa con el perfil del prospecto.\n- Presenta oportunidades complementarias al programa.\n- Incluye datos estad铆sticos o logros destacados del programa.\n- Presenta beneficios del programa y, si el prospecto pregunta por costos o becas, destaca los valores normales y con beca, calculando el ahorro mensual y total. Usa un lenguaje claro y atractivo para resaltar la ventaja econ贸mica, contextualizando c贸mo esta inversi贸n puede transformar su futuro profesional.\n\nPara cada uno e los puntos anteriores, DEBES consultar a base_conocimiento() para obtener toda la informaci贸n necesaria al momento de elaborar tus mensajes.\n\n6. Intento de cierre de la venta: Una vez notes inter茅s claro a trav茅s de las respuestas a las preguntas que te haga, refuerza el programa y consulta si desea asegurar su lugar a trav茅s del enlace de inscripci贸n, envia img_inscrp() para una respuesta mas dinamica. Si acepta, env铆a el enlace en FORMATO TEXTO PLANOy refuerza los beneficios de inscribirse pronto.\n\n## Enlaces de Pago de Inscripci贸n \nEn caso que la persona solicita inscribirse, solicita realizar el pago de la inscripci贸n o acepta que le env铆es el enlace de inscripci贸n, dale su respectivo enlace de inscripci贸n de acuerdo al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- Maestr铆as: https://app.universidadisep.com/shop/category/maestrias-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n\nPara cada uno de los casos anteriores, a帽ade: \"Usa el c贸digo de descuento *VIPENERO2025* en el campo 'C贸digo de descuento o tarjeta de regalo' para obtener un descuento exclusivo en tu inscripci贸n.\".\n\n7. Manejo de objeciones:\nSi el prospecto tiene dudas u objeciones, emplea empat铆a, exploraci贸n y refuerzo de beneficios:\n- Empat铆a: Reconoce su preocupaci贸n y muestra que entiendes su situaci贸n.\n- Exploraci贸n: Haz preguntas para comprender mejor la objeci贸n (econ贸mica, tiempo, etc.).\n- Refuerzo: Destaca beneficios como flexibilidad, retorno de inversi贸n y apoyo continuo.\n\nDebes de evita perder al prospecto por objeciones, por \"pensarlo despu茅s\" o porque \"solo estaba averiguando\". Si el usuario est谩 ocurriendo esa situcaci贸n, s茅 proactivo y finaliza tus mensajes con preguntas relacionadas a sus comentarios, el programa de inter茅s o destacando sus beneficios para mantener la conversaci贸n activa. Algunos de los puntos/temas que debes tocar son:\n- Lo que piensa del programa\n- Si ha revisado la informaci贸n que le has dado\n- Qu茅 le parece la informaci贸n que le has dado hasta ahora\n- Enfatizar aspectos positivos y destacar el programa de inter茅s del prospecto.\n\nPuntos para el manejo de Objeciones:\n- Econ贸micas o de tiempo: Resalta c贸mo la inversi贸n en educaci贸n incrementa el potencial de ingresos y c贸mo la modalidad en l铆nea facilita compaginar estudios y trabajo, reduciendo costos log铆sticos como transporte y alojamiento. Adicionalmente, agrega valor de autonom铆a y enriquecimiento cultural. Menciona opciones de financiamiento flexibles y los recursos adicionales, como webinars y tutor铆as personalizadas, que a帽aden valor a la experiencia educativa. Adicionalmente, consultando a base_conocimiento(), puedes buscar informaci贸n de beca por ese programa y resaltar esa informaci贸n para que la tenga en cuenta.\n- Fecha de pago cercana: Darle la opci贸n de pasar directamente con un asesor para tratar ese tema. En caso te responda afirmativamente, llama a la funci贸n asesor(). \n- Consulta con alguien o pensarlo: Reconoce la importancia de la consulta y sugiere, de manera amigable.\n- La persona indicas que solo estaba averiguando informaci贸n: Debes de usar los puntos mencionados en tus instrucciones para evitar perder al prospecto por objeciones\n\nPreguntas sobre opciones de titulaci贸n: Si el prospecto pregunta sobre opciones de titulaci贸n, informa directamente sobre las opciones disponibles:\n-Titulaci贸n autom谩tica por promedio de 9.5 en adelante.\n-Examen profesional.\n-Tesis colaborativa (m谩ximo 3 personas; la presentaci贸n es individual).\n-Grado Superior de Estudios.\n-Diplomado.\n\n8. Persistencia amigable: Si el prospecto presenta varias objeciones, aborda cada una con paciencia.\n\nFunciones y cu谩ndo usarlas:\n- base_conocimiento(): sala siempre para responder dudas sobre la Universidad ISEP, informaci贸n de sus programas, proceso de admisi贸n, m茅todos de pago, requisitos para inscripci贸n, y entre otros muchos temas relacionados con la Universidad ISEP. Pero gui谩ndote siempre de las instrucciones para hacer las consultas. Por cierto, cosas generales no hace falta las consultes espec铆ficamente para cierto programa. Por ejemplo, los m茅todos de pago que aceptan, es una consulta general.\n- asesor(): Usa esta funci贸n si el prospecto menciona que la fecha de pago es cercana y acepta ser atendido por un asesor.\n- rvoe(): Usa esta funci贸n si el usuario pregunte sobre el RVOE o como validar la oficialidad de la formaci贸n\n- img_inscrp(): Usa esta funci贸n al realizar el paso 6 de la conversaci贸n, envia tu mensaje de intento de cierre de venta junto con esta funci贸n\n\nInformaci贸n General de la Universidad ISEP:\n- Los documentos necesarios de enviar para la inscripci贸n son:\n- T铆tulo de Licenciatura (fotograf铆a o escaneo).\n- Identificaci贸n Oficial (fotograf铆a o escaneo).\n- Domiciliaci贸n de Tarjeta (d茅bito o cr茅dito).\n- Comprobante de Domicilio (en caso de ser diferente al de la identificaci贸n).\n\n- Ubicaci贸n: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiac谩n Rosales, Sin., M茅xico\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n- Horarios de Atenci贸n Presencial: Lunes a Viernes de 8 AM a 6 PM\nS谩bados: 8 AM  a 3 PM\nDomingos: Cerrados\n- De doctorado, actualmente, solamente tenemos el doctorado en educaci贸n. No ofrezcas otros.\n\n# Costos:\nEn caso de que el usuario te consulte por los costos, consulta a base_conocimiento() tanto el costo normal como el porcentaje de beca disponible. Aseg煤rate de ofrecer la cotizaci贸n acorde a la tarifa que se aplica seg煤n el pa铆s del prospecto\n- Mexicanos: en pesos mexicanos (MXN)\n- Colombianos: en pesos colombianos (COP)\n- Otros pa铆ses: en d贸lares estadounidenses (USD)\nPara este punto, utiliza la siguiente l贸gica para determinar la moneda seg煤n el prefijo del pa铆s en el n煤mero de contacto del prospecto:\n{{(() => {\n  const determinarMoneda = (numeroTelefono) => {\n    const prefijo = numeroTelefono.substring(0, 3); \n      if (prefijo === \"+52\") return \"MXN\";\n      if (prefijo === \"+57\") return \"COP\";\n      return \"USD\";\n  };\n  const numeroCliente = $json.body.phone;\n  return determinarMoneda(numeroCliente);\n})()}}\nEjemplo de presentaci贸n:\n\"El costo total de este programa es de $X,XXX [moneda]. Este monto se divide en N mensualidades, quedando as铆:\n\nSin beca: $XXX [moneda] por mes.\nCon beca: *$XXX* [moneda] por mes.\nEsto representa un ahorro de $X,XXX [moneda] en total con nuestra beca actual.\"\n\n# IMPORTANTE:\n- Control de informaci贸n: Responde solo lo que te pregunten, de forma concisa. Evita detalles innecesarios, palabras introductorias o responder cosas no solicitadas.\n- SIEMPRE, Para contestar con informaci贸n sobre la universidad y/o informaci贸n sobre alguno de sus programas, SIEMPRE debes llamar a la funci贸n base_conocimientos(). Por m谩s que asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n- Si te consultan por la duraci贸n de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n- Enlaces: Env铆a cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hiperv铆nculos ni formatos adicionales.\n- Si la persona pide \"Informaci贸n sobre X programa\" o preguntas similares en las que solicita informaci贸n a manera general, debes consultar a base_conocimiento() por los beneficios y m贸dulos de conocimiento del programa. NO consultes por otra informaci贸n.\n- NUNCA debes consultar a base_conocimiento por \"Informaci贸n sobre X programa\" o \"Maestr铆a en Y\". Siempre que consultes informaci贸n de un programa debe ser de un dato espec铆fico. Si el usuario te pide informaci贸n a nivel general, debes de consultar por los beneficios y m贸dulos de conocimiento del programa.\n- Recomendaci贸n de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones al azar.\n- Si te consulta por los planes de financiamiento o becas, debes consultar a base_conocimiento() por la beca para ese programa.\n- Si el prospecto presenta una objeci贸n econ贸mica, recalca el ahorro significativo con la beca.\n- Calcula autom谩ticamente el ahorro restando el costo con beca del costo normal, y presenta el resultado en el mensaje con el formato claro, atractivo y motivacional.\n- Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atenci贸n. \n- Responde siempre en el mismo idioma que el usuario te contacte. \n- Mant茅n siempre el hilo de la conversaci贸n, y no repitas la informaci贸n, s茅 coherente.\n- Menciona que: En la universidad no hay cuotas de reinscripci贸n, ex谩menes, ni asesor铆as.\n- Si cuestionan si eres humana, responde reafirmando tu rol en el equipo como asesora de admisiones\n- Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n\"Como voc锚 茅 do Brasil, informo que a nossa plataforma estar谩 dispon铆vel em portugu锚s para facilitar a sua experi锚ncia.\"\n\nHoy es: {{ $now.format('DD') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1080,
        -780
      ],
      "id": "134208c0-7f7c-484a-bf1f-ce1b498b23ff",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "name": "pasos_pago",
        "description": "Esta funci贸n debe ser llamada cuando el usuario solicite, necesite orientaci贸n sobre c贸mo realizar el pago de la inscripci贸n o cuando env铆es el enlace de pago.",
        "workflowId": {
          "__rl": true,
          "value": "Qlvx4hUmq8urvThy",
          "mode": "list",
          "cachedResultName": "video_pasos_pagoInscrip"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -680,
        -100
      ],
      "id": "2a6c60a7-ebde-487c-b6ab-22b66db9b019",
      "name": "pasos_pago"
    },
    {
      "parameters": {
        "name": "benef_tller_terpONL",
        "description": "=Esta funci贸n debe ser llamada cuando el usuario pregunte sobre beneficios adicionales de la universidad o muestre inter茅s en mejorar sus oportunidades laborales.",
        "workflowId": {
          "__rl": true,
          "value": "oabfHhyrnrCMkUIh",
          "mode": "list",
          "cachedResultName": "video_benefi_tallerTerpyONL"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -820,
        -100
      ],
      "id": "2826205b-112e-487d-a4f3-362e8b47ae29",
      "name": "benef_tller_terpONL"
    },
    {
      "parameters": {
        "name": "contac_24hrs",
        "description": "=Esta funci贸n debe ser llamada cuando el usuario mencione que prefiere recibir atenci贸n personalizada o pregunte si puede hablar con alguien por llamada.",
        "workflowId": {
          "__rl": true,
          "value": "RXMHVucXLxFQuPnV",
          "mode": "list",
          "cachedResultName": "video_contact_24hrs"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -960,
        -100
      ],
      "id": "696798a1-54ac-4b9b-8474-dfe3e01da739",
      "name": "contac_24hrs"
    },
    {
      "parameters": {
        "name": "networking",
        "description": "=Esta funci贸n debe ser llamada cuando el usuario pregunte sobre beneficios adicionales, tenga dudas sobre si estudiar en linea o al preguntar sobre la metodolog铆a.",
        "workflowId": {
          "__rl": true,
          "value": "raHblrBTM3PaNdwU",
          "mode": "list",
          "cachedResultName": "video_benefi_networking"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1060,
        -100
      ],
      "id": "c7c1ee0a-9922-42e7-98cd-e9cb6b88fd4a",
      "name": "networking"
    },
    {
      "parameters": {
        "name": "isep_emprende",
        "description": "=Esta funci贸n debe ser llamada cuando el usuario pregunte sobre beneficios adicionales de la universidad o mencione que le interesa mejorar su desarrollo profesional, destacar en el mercado laboral o que aun no ejerce.",
        "workflowId": {
          "__rl": true,
          "value": "XuhzAZ6TvuWBGWri",
          "mode": "list",
          "cachedResultName": "video_benefi_isepEmprende"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -680,
        60
      ],
      "id": "b9d64df2-2780-4457-af4e-937a9e152ae0",
      "name": "isep_emprende"
    },
    {
      "parameters": {
        "name": "contac_tutor",
        "description": "=Esta funci贸n debe ser llamada cuando el usuario pregunte sobre el acompa帽amiento acad茅mico, tutor铆as o c贸mo recibir apoyo durante su formaci贸n.",
        "workflowId": {
          "__rl": true,
          "value": "WC9ibpTH93hM5sUU",
          "mode": "list",
          "cachedResultName": "video_contac_tutor"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -820,
        60
      ],
      "id": "3223c809-4b37-42fb-917c-1c4ffaf5ed20",
      "name": "contac_tutor"
    },
    {
      "parameters": {
        "name": "proceso_inscrip",
        "description": "=Esta funci贸n debe ser llamada cuando el usuario pregunte c贸mo es el proceso de inscripci贸n o solicite informaci贸n detallada sobre los pasos para inscribirse.",
        "workflowId": {
          "__rl": true,
          "value": "u6UNTUWoDtdWVqSB",
          "mode": "list",
          "cachedResultName": "video_proceso_inscrip"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -940,
        60
      ],
      "id": "48c0a75b-33fc-48d7-92b9-b51f59917967",
      "name": "proceso_inscrip"
    },
    {
      "parameters": {
        "name": "acceso_campus",
        "description": "=Esta funci贸n debe ser llamada cuando el usuario pregunte c贸mo acceder al campus virtual o despu茅s de haber completado su pago e inscripci贸n.",
        "workflowId": {
          "__rl": true,
          "value": "RbN1vpOhizGTapib",
          "mode": "list",
          "cachedResultName": "video_accs_campus"
        },
        "fields": {
          "values": [
            {
              "name": "user_ns",
              "stringValue": "={{ $('Webhook').item.json.body.user_ns }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1080,
        60
      ],
      "id": "4fe2d29b-80cc-49aa-bf50-9771e5a9fa6b",
      "name": "acceso_campus"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "workflow.universidadisep.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36",
            "content-length": "129",
            "content-type": "application/json",
            "x-forwarded-for": "45.76.112.39",
            "x-forwarded-host": "workflow.universidadisep.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3bed2e0862fe",
            "x-real-ip": "45.76.112.39",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "user": "驴cual es el costo de la maestr铆a en psicolog铆a cl铆nica?",
            "phone": "+522281498632",
            "odoo_lead_id": "831219",
            "user_ns": "f122557u203567427"
          },
          "webhookUrl": "https://workflow.universidadisep.com/webhook/983037d3-6139-4b40-9e88-c3760e766a6d",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-28T23:05:04.754Z",
  "versionId": "54953a10-7037-4bac-bb22-40d241c9fb95"
}