workflows/BunnyCopia1.json
{
  "active": false,
  "connections": {
    "Microsoft OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-11-23T00:29:28.377Z",
  "id": "r3YrdNPsckHuDauG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BunnyCopia1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "9c28b7e1-8c53-49ba-abae-b11e6c59b240",
      "name": "Microsoft OneDrive Trigger",
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        640,
        360
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "33",
          "name": "Clases"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "binaryPropertyName": "=data"
      },
      "id": "755b0a9d-bca6-4c4d-80c9-056b32608a6e",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1040,
        360
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "33",
          "name": "Clases"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ee75e80-c396-4627-9165-9a8b3c155bfb",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d87827bb-9a7c-4b92-badd-39cd97b36ca2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        860,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://video.bunnycdn.com/library/342069/videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AccessKey",
              "value": "a32a4af0-9a8d-4603-9c6412ce7363-c329-4c09"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "5a9d4d48-e5d9-4512-8aeb-2063f88747a6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        420
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://video.bunnycdn.com/library/342069/videos/992b819a-39c6-41e9-b6fe-49df2a287362\t",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AccessKey",
              "value": "673be0a1-be84-400f-aa609e6390c5-ef68-4b6d"
            },
            {
              "name": "content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "id": "f349037b-8373-4595-af88-1a905b099494",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "ad3c3d90-be01-490c-a3f9-18da2cf8aa95",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1700,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "17",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "7a48342b-38e2-46fe-87d6-6660246f7138",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2oFjF9EQtmI5zl7A",
          "name": "Google Drive account 3"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-23T00:29:28.377Z",
  "versionId": "a0cfe3d2-5632-4313-9de7-6a7c41ade1e8"
}