workflows/Carga_contenido_BD.json
{
  "active": false,
  "connections": {
    "Filter": {
      "main": [
        []
      ]
    },
    "Microsoft OneDrive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB1": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB2": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-17T19:23:58.357Z",
  "id": "MH7SjJt1kTUAhXkM",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Carga_contenido_BD",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eee2d040-34b0-4f89-932b-ab8ca0127de9",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "ae4b3554-5754-4f19-aa5e-db4dcf6f5c19",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        740,
        420
      ],
      "id": "4bd3ede9-9bd8-482f-b8c6-09aa5fe83a4e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json[\"Id onedrive\"] }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        520,
        420
      ],
      "id": "5d3e550e-f54d-4bdf-a73d-47e65b0e9879",
      "name": "Microsoft OneDrive",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "7yyQ3fYeFAAnRfxv",
          "name": "n8n_admin"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "seccion1",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ],
      "id": "1575a2cc-a8fd-4b87-a557-090c633002d8",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        560
      ],
      "id": "a83308f1-7a94-4c68-b0d2-263feeb3ecb0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Tipo: {{ $json.tipo }}\nRúbrica: {{ $json.texto }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1400,
        560
      ],
      "id": "39bd7ee6-3c98-46fe-a006-6872d302346f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "250"
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1500,
        680
      ],
      "id": "0cb38199-eb49-4915-ba39-7d134986d2ac",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        900
      ],
      "id": "6c2ba540-6682-4967-9d0a-b84a22bee9a1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pfy259p1ioeld3g",
        "table": "m2io564636an9sv",
        "returnAll": true,
        "options": {
          "where": "(sección,eq,sección 1)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        260,
        460
      ],
      "id": "be4f074b-d2aa-45f7-9a84-54577109d201",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "b4YE40MyHMnrq6qk",
          "name": "NocoDB_chatbot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d7cae9-277c-446f-9889-69d8a2d8d677",
              "name": "tipo",
              "value": "={{ $('NocoDB').item.json.tipo }}",
              "type": "string"
            },
            {
              "id": "93521b3b-4d06-4889-a4b3-0b4fcf2a7b56",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        420
      ],
      "id": "e507bed4-815f-4ff8-a00b-0cf4773f76ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        700,
        900
      ],
      "id": "9cb96aca-aadd-460b-b7ca-63ef98544e42",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json[\"Id onedrive\"] }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        480,
        900
      ],
      "id": "455b5bb9-dd88-4fe8-9546-19829333f970",
      "name": "Microsoft OneDrive1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "7yyQ3fYeFAAnRfxv",
          "name": "n8n_admin"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "seccion2",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1300,
        880
      ],
      "id": "2acf2616-7f6d-42ec-ab24-7b5bd72ee87d",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1240,
        1040
      ],
      "id": "3811057f-519f-4b9a-8c76-985f3289bc7b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Tipo: {{ $json.tipo }}\nRúbrica: {{ $json.texto }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1360,
        1040
      ],
      "id": "0c26d948-865f-4245-b9ca-5f87672b0b7a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "separator": "250"
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1460,
        1160
      ],
      "id": "308eb371-b5c2-4c3b-8532-89579272f8a1",
      "name": "Character Text Splitter1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pfy259p1ioeld3g",
        "table": "m2io564636an9sv",
        "returnAll": true,
        "options": {
          "where": "(sección,eq,sección 2)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        220,
        880
      ],
      "id": "10f0e59a-9238-476f-b54f-9fd7fc350994",
      "name": "NocoDB1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "b4YE40MyHMnrq6qk",
          "name": "NocoDB_chatbot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d7cae9-277c-446f-9889-69d8a2d8d677",
              "name": "tipo",
              "value": "={{ $('NocoDB1').item.json.tipo }}",
              "type": "string"
            },
            {
              "id": "93521b3b-4d06-4889-a4b3-0b4fcf2a7b56",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        900
      ],
      "id": "39113b2f-26c2-47a6-bb21-b17a84587799",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        740,
        1400
      ],
      "id": "0cd1957e-f79e-488a-a99e-d70e43471b94",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json[\"Id onedrive\"] }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        520,
        1400
      ],
      "id": "8efa775b-18ef-49e1-bcc8-6ece4f89e757",
      "name": "Microsoft OneDrive2",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "7yyQ3fYeFAAnRfxv",
          "name": "n8n_admin"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "seccion3",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1340,
        1380
      ],
      "id": "484a6ed4-072c-4227-8134-1453a8dffc9f",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        1580
      ],
      "id": "205c5dfc-9b17-4158-aaf9-6700787a1e39",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Tipo: {{ $json.tipo }}\nRúbrica: {{ $json.texto }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1440,
        1580
      ],
      "id": "73ee0856-a6d5-4c6c-967c-5eb11e332546",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "separator": "250"
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1580,
        1740
      ],
      "id": "3bb5c6ed-2e75-4039-907a-2282efd19853",
      "name": "Character Text Splitter2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pfy259p1ioeld3g",
        "table": "m2io564636an9sv",
        "returnAll": true,
        "options": {
          "where": "(sección,eq,sección 3)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        260,
        1380
      ],
      "id": "9e60a8e3-57f7-4a2d-96d2-03e018f863d5",
      "name": "NocoDB2",
      "credentials": {
        "nocoDbApiToken": {
          "id": "b4YE40MyHMnrq6qk",
          "name": "NocoDB_chatbot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02d7cae9-277c-446f-9889-69d8a2d8d677",
              "name": "tipo",
              "value": "={{ $('NocoDB2').item.json.tipo }}",
              "type": "string"
            },
            {
              "id": "93521b3b-4d06-4889-a4b3-0b4fcf2a7b56",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1400
      ],
      "id": "0b0cc9fc-5cf1-4bd7-8664-ca4ddf2124ba",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-28T23:02:23.312Z",
  "versionId": "6917f0fd-025a-4d2d-a3b2-1513121241a2"
}