workflows/data-retell-historica-a-postgres_clinic.json
{
  "active": false,
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-19T01:17:41.201Z",
  "id": "coTpC1sQTxMjwLJ2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "data-retell-historica-a-postgres_clinic",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9fd007a-ca6b-4e40-a3d4-82836c924c3e",
              "leftValue": "={{ $json.body.data.call_analysis.call_summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "61d4ea07-122e-47c7-b1a8-43d5ac7640c1",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        200,
        80
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "call_details_Clinic",
          "mode": "list",
          "cachedResultName": "call_details_Clinic"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "needs_followup": false,
            "answered": false,
            "is_duplicate": false,
            "sent_to_oddo": false,
            "from_number": "={{$json.body.call.from_number}}",
            "to_number": "={{ $json.body.call.to_number }}",
            "call_summary": "={{ $json.body.call.call_analysis.call_summary }}",
            "start_timestamp": "={{ $json.body.call.start_timestamp.toDateTime('ms') }}",
            "end_timestamp": "={{ $json.body.call.end_timestamp.toDateTime('ms') }}",
            "call_status": "={{ $json.body.call.call_status }}",
            "disconnection_reason": "={{ $json.body.call.disconnection_reason }}",
            "duration_minutes": "={{ $json.body.call.duration_ms/60000 }}",
            "agent_id": "={{ $json.body.call.agent_id }}",
            "campaign_name": "=",
            "recording_url": "={{ $json.body.call.recording_url }}",
            "transcript": "={{ $json.body.call.transcript }}",
            "id_oddo": "=",
            "resultado": "=",
            "name": "={{ $json.body.data.retell_llm_dynamic_variables.name }}",
            "call_id": "={{ $json.body.call.call_id}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "to_number",
              "displayName": "to_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_summary",
              "displayName": "call_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_timestamp",
              "displayName": "start_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_timestamp",
              "displayName": "end_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_followup",
              "displayName": "needs_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "answered",
              "displayName": "answered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_duplicate",
              "displayName": "is_duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disconnection_reason",
              "displayName": "disconnection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration_minutes",
              "displayName": "duration_minutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recording_url",
              "displayName": "recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_id",
              "displayName": "call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_oddo",
              "displayName": "id_oddo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_to_oddo",
              "displayName": "sent_to_oddo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "727d01f1-a955-4711-b74e-747c67aab4c2",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        20
      ],
      "notesInFlow": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YT1ZIDIysGf3gAgOCrOdA2l6Gz5noD-nHYlmd-n7CWc",
          "mode": "list",
          "cachedResultName": "Clinic_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YT1ZIDIysGf3gAgOCrOdA2l6Gz5noD-nHYlmd-n7CWc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YT1ZIDIysGf3gAgOCrOdA2l6Gz5noD-nHYlmd-n7CWc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transcript": "={{ $json.body.call.transcript }}",
            "Call_Sumary": "={{ $json.body.data.call_analysis.call_summary }}",
            "date": "={{ $json.body.call.start_timestamp.toDateTime('ms') }}",
            "Duration": "={{ $json.body.call.duration_ms/60000 }}",
            "agent_id": "={{ $json.body.call.agent_id }}",
            "Recording_url": "={{ $json.body.call.recording_url }}",
            "call_id": "={{ $json.body.call.call_id }}",
            "Name": "={{ $json.body.call.retell_llm_dynamic_variables.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call_Sumary",
              "displayName": "Call_Sumary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recording_url",
              "displayName": "Recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_id",
              "displayName": "call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e36991fa-6792-4e38-911b-c2a94745bc58",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4UcTF8tUg1bsArv3",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ba356465-fb61-4db2-9003-76f973232e32",
        "options": {}
      },
      "id": "2b23d3bd-252d-4447-86d2-bb644aeec34b",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        80
      ],
      "webhookId": "ba356465-fb61-4db2-9003-76f973232e32"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-04T00:40:48.979Z",
      "updatedAt": "2024-12-04T00:40:48.979Z",
      "id": "Y1BsKfyyH4T8xRCR",
      "name": "iallamadas"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-19T02:10:18.000Z",
  "versionId": "fbe77646-3257-4212-bcca-9e96b7c4b2ac"
}