workflows/Datos a Ingresos.json
{
  "active": false,
  "connections": {
    "Postgres1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-14T23:27:02.784Z",
  "id": "P1qBzY2aHc6mLe0E",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Datos a Ingresos",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"public\".\"calloutbound\"\nWHERE reason_for_call LIKE '%Ventas%' ORDER BY calloutbound.oddo_id;",
        "options": {}
      },
      "id": "a1d4f166-bb60-4db8-b753-6ff316222c03",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        860,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zNk0z16KjisCRVNqfn1lmMGdUht02bpkEs-8vA30KE8",
          "mode": "list",
          "cachedResultName": "Leads_llamadas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zNk0z16KjisCRVNqfn1lmMGdUht02bpkEs-8vA30KE8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zNk0z16KjisCRVNqfn1lmMGdUht02bpkEs-8vA30KE8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uid": "={{ $json.uid }}",
            "phone_number": "={{ $json.phone_number }}",
            "name": "={{ $json.name }}",
            "oddo_id": "={{ $json.oddo_id }}",
            "sucessfull": "={{ $json.sucessfull }}",
            "recall": "={{ $json.recall }}",
            "date_uploda": "={{ new Date($json.date_uploda).toISOString().split('T')[0] }}\n",
            "date_last_trx": "={{ $json.date_last_trx }}",
            "last_state": "={{ $json.last_state }}",
            "reason_for_call": "={{ $json.reason_for_call }}",
            "campaign_name": "={{ $json.campaign_name }}",
            "send_to_call": "={{ $json.send_to_call }}",
            "call_eject": "={{ $json.call_eject }}",
            "from_number": "={{ $json.from_number }}",
            "agent_id": "={{ $json.agent_id }}",
            "maximum_attempts": "={{ $json.maximum_attempts }}",
            "time_between_calls": "={{ $json.time_between_calls }}",
            "attempts_counter": "={{ $json.attempts_counter }}",
            "active": "={{ $json.active }}",
            "formation": "={{ $json.formation }}",
            "email": "={{ $json.email }}",
            "Duplicate": "={{ $json.duplicate }}",
            "Origen": "+SI(ESNUMERO(HALLAR(\"Facebook\"; T:T)); \"Facebook\"; \"web\")"
          },
          "matchingColumns": [
            "uid"
          ],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oddo_id",
              "displayName": "oddo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sucessfull",
              "displayName": "sucessfull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_uploda",
              "displayName": "date_uploda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_last_trx",
              "displayName": "date_last_trx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_state",
              "displayName": "last_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason_for_call",
              "displayName": "reason_for_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_to_call",
              "displayName": "send_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_eject",
              "displayName": "call_eject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maximum_attempts",
              "displayName": "maximum_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_between_calls",
              "displayName": "time_between_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts_counter",
              "displayName": "attempts_counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "formation",
              "displayName": "formation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duplicate",
              "displayName": "Duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origen",
              "displayName": "Origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scar",
              "displayName": "scar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "666561d9-2f1c-48f9-84bc-c7c28963b2a7",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HgvlnUGKHpTy6vgj",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "path": "f325ae50-4381-4f23-90f5-be96bac8aa39",
        "options": {}
      },
      "id": "db1c3a14-86ff-40f7-9e74-80a30c31134f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        320
      ],
      "webhookId": "f325ae50-4381-4f23-90f5-be96bac8aa39"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-15T00:58:18.140Z",
      "updatedAt": "2024-12-15T00:58:18.140Z",
      "id": "5KXwZKnWamvnujhm",
      "name": "Ingresos"
    },
    {
      "createdAt": "2024-12-04T00:40:48.979Z",
      "updatedAt": "2024-12-04T00:40:48.979Z",
      "id": "Y1BsKfyyH4T8xRCR",
      "name": "iallamadas"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-27T17:33:27.000Z",
  "versionId": "995f0147-d3b0-419e-89b0-1feae770cf26"
}