workflows/Descargar Módulos y Subir.json
{
  "active": false,
  "connections": {
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Descargar Contenido URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Contenido URL": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-14T02:37:08.997Z",
  "id": "ogF38TkxQsoG7uI1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Descargar Módulos y Subir",
  "nodes": [
    {
      "parameters": {},
      "id": "721d23a2-dab5-4ed2-87ce-2cbf0d64ce8c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        620,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1420,
        460
      ],
      "id": "7b830cd1-0601-490c-9dd5-70e85662ce7d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.informacion.join('\\n') }}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Tema",
                "value": "={{ $('Execute Workflow Trigger').item.json.Tema }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1560,
        460
      ],
      "id": "b9198cc3-996a-42d1-b29b-3d2272e7ec03",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1600,
        640
      ],
      "id": "71c519b1-426e-4a84-903a-952bdd4dc90e",
      "name": "Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "informacion",
              "cssSelector": "div.o_knowledge_article",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "06b40d4e-7875-4b20-95e8-533573acee31",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "d4a3188c-056e-4044-9369-64c08dc6f33e",
      "name": "Descargar Contenido URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffa0478b-0b3f-439b-8b94-aca648140595",
              "leftValue": "={{ $json.informacion }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75894790-be2b-46e5-8c02-84c55fff142b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=universidad_isep",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1440,
        240
      ],
      "id": "6cba1b7a-6666-4c34-8786-80f5b497d672",
      "name": "Qdrant Vector Store1",
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-28T21:32:07.000Z",
  "versionId": "a017a22b-f9c3-4a79-8e22-7e2073ec1035"
}