workflows/Descargar Módulos y Subir_nocodb.json
{
  "active": false,
  "connections": {
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Descargar Contenido URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Contenido URL": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-24T03:37:28.608Z",
  "id": "o28KQTXSQY7IYEvH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Descargar Módulos y Subir_nocodb",
  "nodes": [
    {
      "parameters": {},
      "id": "513a648d-0b77-49bb-8c1e-a0b77bea5923",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        620,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1420,
        460
      ],
      "id": "ddbc875e-de3a-490b-8fc6-df5db3df512b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.informacion.join('\\n') }}\n",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Tema",
                "value": "={{ $('Execute Workflow Trigger').item.json.Tema }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1560,
        460
      ],
      "id": "b0ad67a5-09e4-469c-aa3b-ed2e54f9b1ce",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1600,
        640
      ],
      "id": "ee41838e-a218-446a-aa16-64503cf34261",
      "name": "Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "informacion",
              "cssSelector": "div.o_knowledge_article",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "e3bd8dd0-6919-4f0e-b63d-7f9e9f2bddcc",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "1231f86a-ddfc-4b39-934e-bd084f1f1f9b",
      "name": "Descargar Contenido URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffa0478b-0b3f-439b-8b94-aca648140595",
              "leftValue": "={{ $json.informacion }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "af8b7fd9-48b1-4997-bb0c-adc0fe4d0fbd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=noco_db",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1440,
        240
      ],
      "id": "69fcdce2-56c0-4823-ba4c-1fe2f7b6b3fa",
      "name": "Qdrant Vector Store1",
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T03:38:40.000Z",
  "versionId": "7a195944-a9a6-43eb-ba41-307a7005a471"
}