workflows/Dynamic_Number_Display_Ventas.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "chingadera",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead_Numero_Gastado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca_Numeros_Disponibles1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuevo_Numero_Usar": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Busca_Numeros_Disponibles1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisa_Numero_Ventas": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisa_Numero_Ventas1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca_Numeros_Disponibles2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Busca_Numeros_Disponibles2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "chingadera1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead_Numero_Gastado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead_Numero_Gastado": {
      "main": [
        [
          {
            "node": "Nuevo_Numero_Usar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead_Numero_Gastado1": {
      "main": [
        [
          {
            "node": "Nuevo_Numero_Usar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca_Numeros_Disponibles4": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "chingadera2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead_Numero_Gastado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead_Numero_Gastado2": {
      "main": [
        [
          {
            "node": "Nuevo_Numero_Usar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuevo_Numero_Usar2": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisa_Numero_Ventas2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Busca_Numeros_Disponibles4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Nuevo_Numero_Usar1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chingadera": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chingadera1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chingadera2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Revisa_Numero_Ventas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Revisa_Numero_Ventas1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Revisa_Numero_Ventas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-20T01:13:21.135Z",
  "id": "R9NtwUjLkgSuLvTX",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Dynamic_Number_Display_Ventas",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e492c8d6-36a2-4faa-bccb-107ae2529f74",
              "leftValue": "={{ $json.friendly_name }}",
              "rightValue": "chingadera",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e269bc64-d338-46ff-8a18-558c7911234f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -260
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "country",
              "value": "={{ $json.campaign_country }}"
            },
            {
              "column": "use",
              "value": "Stock"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "55cf1dd3-c9db-4453-9318-1bcbef7fbbb2",
      "name": "Busca_Numeros_Disponibles1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -500,
        -260
      ],
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": true,
            "number": "={{ $('Busca_Numeros_Disponibles1').item.json.number }}",
            "friendly_name": "=Ventas_Mexico",
            "use": "Ventas",
            "country": "={{ $('Busca_Numeros_Disponibles1').item.json.country }}"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "friendly_name",
              "displayName": "friendly_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "use",
              "displayName": "use",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_calls",
              "displayName": "max_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "days_to_sue",
              "displayName": "days_to_sue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "8a92d206-9247-4c0f-abc4-6cc9d5462ead",
      "name": "Nuevo_Numero_Usar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        180,
        -240
      ],
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba72cbc7-5d67-4e2e-9908-558985bba6a4",
              "leftValue": "={{ $json.total_calls }}",
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "795060ff-506d-423a-96c7-e6959450fd2d",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "call_summary_view",
          "mode": "list",
          "cachedResultName": "call_summary_view"
        },
        "where": {
          "values": [
            {
              "column": "total_calls",
              "condition": ">",
              "value": "2000"
            },
            {
              "column": "campaign_group",
              "value": "Ventas"
            },
            {
              "column": "campaign_country",
              "value": "Mexico"
            }
          ]
        },
        "options": {}
      },
      "id": "2ddd615e-ac9e-40f6-8fc5-77c647eb7970",
      "name": "Revisa_Numero_Ventas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -920,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "call_summary_view",
          "mode": "list",
          "cachedResultName": "call_summary_view"
        },
        "where": {
          "values": [
            {
              "column": "total_calls",
              "condition": ">",
              "value": "50000"
            },
            {
              "column": "campaign_group",
              "value": "Ventas"
            },
            {
              "column": "campaign_country",
              "value": "Colombia"
            }
          ]
        },
        "options": {}
      },
      "id": "59f668f4-5fa2-4249-891c-4ec0c886dedb",
      "name": "Revisa_Numero_Ventas1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -900,
        60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "country",
              "value": "={{ $json.campaign_country }}"
            },
            {
              "column": "use",
              "value": "Stock"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "4e8a4f22-438f-4a6c-8cf0-ae2b4f08c5d7",
      "name": "Busca_Numeros_Disponibles2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -500,
        40
      ],
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba72cbc7-5d67-4e2e-9908-558985bba6a4",
              "leftValue": "={{ $json.total_calls }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4e0d82e2-7a5c-46c9-969a-9036d775618e",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e492c8d6-36a2-4faa-bccb-107ae2529f74",
              "leftValue": "={{ $json.friendly_name }}",
              "rightValue": "chingadera",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa17a8f2-ab0d-413e-a3a7-bea60e79612b",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -360,
        20
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": false,
            "number": "={{ $('Revisa_Numero_Ventas').item.json.from_number }}",
            "friendly_name": "={{ $('Revisa_Numero_Ventas').item.json.campaign_group }}_{{ $('Revisa_Numero_Ventas').item.json.campaign_country }}_Descartado",
            "use": "Dead"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "friendly_name",
              "displayName": "friendly_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "use",
              "displayName": "use",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_calls",
              "displayName": "max_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "days_to_sue",
              "displayName": "days_to_sue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4884b5f0-687a-4737-a9d4-02a1181b372a",
      "name": "Dead_Numero_Gastado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -40,
        -240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": false,
            "number": "={{ $('Revisa_Numero_Ventas1').item.json.from_number }}",
            "friendly_name": "={{ $('Revisa_Numero_Ventas1').item.json.campaign_group }}_{{ $('Revisa_Numero_Ventas1').item.json.campaign_country }}_Descartado",
            "use": "=Dead"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "friendly_name",
              "displayName": "friendly_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "use",
              "displayName": "use",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "max_calls",
              "displayName": "max_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "days_to_sue",
              "displayName": "days_to_sue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "32dadd49-80ba-4e56-981b-ecc2b92f1ac4",
      "name": "Dead_Numero_Gastado1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -40,
        40
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4b34397a-4dd7-4b7c-aa5b-32fe2c9eca66",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "country",
              "value": "={{ $json.campaign_country }}"
            },
            {
              "column": "use",
              "value": "Stock"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "a587e4d1-2776-47cd-a924-b4db3b17fe52",
      "name": "Busca_Numeros_Disponibles4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -480,
        280
      ],
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e492c8d6-36a2-4faa-bccb-107ae2529f74",
              "leftValue": "={{ $json.friendly_name }}",
              "rightValue": "chingadera",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5dd0303-72fb-4708-8407-b74e757e101c",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": false,
            "number": "={{ $('Revisa_Numero_Ventas2').item.json.from_number }}",
            "friendly_name": "={{ $('Revisa_Numero_Ventas2').item.json.campaign_group }}_{{ $('Revisa_Numero_Ventas2').item.json.campaign_country }}_Descartado",
            "use": "=Dead"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "friendly_name",
              "displayName": "friendly_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "use",
              "displayName": "use",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "max_calls",
              "displayName": "max_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "days_to_sue",
              "displayName": "days_to_sue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "05f20a3b-b270-4b6c-b000-39c9b60f5403",
      "name": "Dead_Numero_Gastado2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -40,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": true,
            "number": "={{ $('Busca_Numeros_Disponibles4').item.json.number }}",
            "friendly_name": "=Ventas_Brasil",
            "use": "Ventas",
            "country": "={{ $('Busca_Numeros_Disponibles4').item.json.country }}"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "friendly_name",
              "displayName": "friendly_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "use",
              "displayName": "use",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_calls",
              "displayName": "max_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "days_to_sue",
              "displayName": "days_to_sue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ee184fc1-6181-4f0e-aee9-64d3e5ef2bd6",
      "name": "Nuevo_Numero_Usar2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        300
      ],
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "6ceeb1f8-e7c9-4fd9-9300-74cc9302e987",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "call_summary_view",
          "mode": "list",
          "cachedResultName": "call_summary_view"
        },
        "where": {
          "values": [
            {
              "column": "total_calls",
              "condition": ">=",
              "value": "50000"
            },
            {
              "column": "campaign_group",
              "value": "Ventas"
            },
            {
              "column": "campaign_country",
              "value": "Brasil"
            }
          ]
        },
        "options": {}
      },
      "id": "5dc38d9e-d3ea-4941-927f-c2145da07971",
      "name": "Revisa_Numero_Ventas2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -900,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba72cbc7-5d67-4e2e-9908-558985bba6a4",
              "leftValue": "={{ $json.total_calls }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e7fb2342-9c5f-4e63-b097-552852fa4094",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        340
      ]
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "notificaciones@universidadisep.com",
        "fromName": "Dinamic_numbers_display",
        "toEmail": "iallamadas@universidadisep.com,caraujo@universidadisep.com",
        "subject": "Stock de Números telefónicos Brasil Ventas agotado",
        "contentType": "text/html",
        "contentValue": "comprar Brasil",
        "additionalFields": {}
      },
      "id": "e922ef60-762b-489f-8cc0-dd096ea4fc3a",
      "name": "chingadera2",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -180,
        140
      ],
      "credentials": {
        "sendGridApi": {
          "id": "EpeBBHx749YmsEKN",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "notificaciones@universidadisep.com",
        "fromName": "Dinamic_numbers_display",
        "toEmail": "iallamadas@universidadisep.com,caraujo@universidadisep.com",
        "subject": "Stock de Números telefónicos Colombia Ventas agotado",
        "contentType": "text/html",
        "contentValue": "comprar Colombia",
        "additionalFields": {}
      },
      "id": "af620956-b186-4a66-9c35-e6d890c31553",
      "name": "chingadera1",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -200,
        -140
      ],
      "credentials": {
        "sendGridApi": {
          "id": "EpeBBHx749YmsEKN",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "notificaciones@universidadisep.com",
        "fromName": "Dinamic_numbers_display",
        "toEmail": "iallamadas@universidadisep.com,caraujo@universidadisep.com",
        "subject": "Stock de Números telefónicos Mexico Ventas agotado",
        "contentType": "text/html",
        "contentValue": "comprar Mexico",
        "additionalFields": {}
      },
      "id": "cd86b989-322f-4162-8d9e-cbfde0c6d04b",
      "name": "chingadera",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -180,
        -400
      ],
      "credentials": {
        "sendGridApi": {
          "id": "EpeBBHx749YmsEKN",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list",
          "cachedResultName": "phone_numbers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "active": true,
            "number": "={{ $('Busca_Numeros_Disponibles2').item.json.number }}",
            "friendly_name": "=Ventas_Colombia",
            "use": "Ventas",
            "country": "={{ $('Busca_Numeros_Disponibles2').item.json.country }}"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "friendly_name",
              "displayName": "friendly_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "use",
              "displayName": "use",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_calls",
              "displayName": "max_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "days_to_sue",
              "displayName": "days_to_sue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "196aac7d-20af-40e5-b8a1-740d020d249f",
      "name": "Nuevo_Numero_Usar1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        40
      ],
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound\nSET from_number = \n    CASE\n        WHEN reason_for_call LIKE '%Ventas%' AND reason_for_call LIKE '%mx' THEN '{{ $json.number }}'\n        ELSE from_number\n    END\nWHERE reason_for_call LIKE '%Ventas%';\n",
        "options": {}
      },
      "id": "79a435d9-de40-4639-b0ef-a8f59733835b",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        420,
        -220
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound\nSET from_number = \n    CASE\n        WHEN reason_for_call LIKE '%Ventas%' AND reason_for_call LIKE '%co' THEN '{{ $json.number }}'\n        ELSE from_number\n    END\nWHERE reason_for_call LIKE '%Ventas%';\n",
        "options": {}
      },
      "id": "95c2a827-45a1-43a4-a9ff-9f28bfc63bdd",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        40
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound\nSET from_number = \n    CASE\n        WHEN reason_for_call LIKE '%Ventas%' AND reason_for_call LIKE '%br' THEN '{{ $json.number }}'\n        ELSE from_number\n    END\nWHERE reason_for_call LIKE '%Ventas%';\n",
        "options": {}
      },
      "id": "ea5cb3ca-270a-4902-be68-5a8486b6c017",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0dbc46a1-2ad6-4bf9-be9b-0e248386701c",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "99eb1685-7be7-433b-9ead-d9169ddb05f3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1240,
        20
      ],
      "webhookId": "0dbc46a1-2ad6-4bf9-be9b-0e248386701c"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-19T22:53:31.528Z",
      "updatedAt": "2024-12-19T22:53:31.528Z",
      "id": "JeuR9KgbxHoHPzZx",
      "name": "Dinamic_Number_Display"
    },
    {
      "createdAt": "2024-12-04T00:40:48.979Z",
      "updatedAt": "2024-12-04T00:40:48.979Z",
      "id": "Y1BsKfyyH4T8xRCR",
      "name": "iallamadas"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-23T18:11:46.000Z",
  "versionId": "10412b3b-4829-4f89-a70f-bcc9eb446d04"
}