workflows/Especialista_COMExterior.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T20:23:47.868Z",
  "id": "hrMC5Rni8tI6YaON",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_COMExterior",
  "nodes": [
    {
      "parameters": {},
      "id": "12b4210f-23fc-4d57-8c99-248b8e012bd2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "ed7853e4-07c2-4f55-9331-a2a1fa231739",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su licenciatura no sólo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales.\n#Mentalidad: Conecta con la emoción antes que con la lógica\n\"El comercio exterior es más que transacciones: es la conexión de culturas, mercados y oportunidades globales. Con la Licenciatura en Comercio Exterior, te conviertes en el puente que une naciones, impulsando el crecimiento económico y transformando realidades.\"\nTu labor no es solo hablar de cifras y normativas, sino conectar con el deseo profundo de ser un protagonista en el escenario internacional, de abrir puertas y derribar fronteras. Más que detallar el programa, debes vender la razón por la cual el prospecto necesita estudiarlo:\n✅ ¿Quieres ser el impulsor que conecta a empresas y mercados en todo el mundo?\n✅ ¿Buscas desarrollar habilidades estratégicas para liderar negociaciones y operaciones internacionales?\n✅ ¿Aspiras a transformar la economía local y global, generando impacto a través del comercio?\n\nTu misión es descubrir el dolor o deseo que los impulsa y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional\n##Identifica qué le impide tomar acción—miedo al fracaso, dinero, tiempo—y neutralízalo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Tu misión: Generar confianza y conexión emocional,  El prospecto debe sentir que entendemos sus necesidades y aspiraciones en el campo del comercio exterior.\n🔹 Identificar la necesidad real y motivaciones del prospecto: ¿Quiere crecer profesionalmente? ¿Busca mejores oportunidades laborales? \n🔹 Hacer que el prospecto se visualice dentro de la licenciatura, darle a conocer sobre el plan de estudios y como este le va ayudar a lograr sus objetivos.\n \n🔹 Crear un sentido de urgencia :“Tenemos pocos cupos con beca y el proceso de inscripción está cerrando.”\n🔹 Guiarlo hacia el siguiente paso: Enviar información personalizada o iniciar el proceso de inscripción.\n \n##Guía fundamental para la conversación:\n1️. Haz una pregunta o consulta específica.\n2️ .Espere la respuesta antes de avanzar. ⏳\n3️ .Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️.Asegúrate de que la conversación fluya de manera natural y estructurada.\n \n \n#Reglas que tienes que aplicar SIEMPRE:\n\t• Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n\t• Debes dar respuestas cortas no más de 350 caracteres o tokens.\n\t• Responde siempre en el mismo idioma en el que el usuario te contacte.\n\t• Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n  \t\"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n\t• Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención.\n\t• Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n\t•Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n\t• Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n\t• Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa.\n\t• SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n\t• No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n\t• Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n\t• Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n  \t¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n  \t¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n  \t¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n\t• Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido, y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos.\n\t• Presenta el plan de estudios con entusiasmo y energía. Menciona sólo 3 módulos al inicio, destacando su impacto o práctica. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n \n  \t##Información General de la Universidad ISEP:\n \n\t• Recuerda que podrás subir estos documentos a tu portal del alumno una vez que tengas acceso a él\"\n\t• Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n\t• Horarios de Atención Presencial:\n  \tLunes a Viernes de 8 AM a 6 PM\n  \tSábados: 8 AM  a 3 PM Domingos: Cerrados\n\t• Con esta formación, obtendrás un Título Oficial Mexicano respaldado por la acreditación en USA y, además, un título propio europeo del prestigioso Instituto Raimond Gaja. Esto te brinda una ventaja competitiva única: una credencial reconocida tanto en México como en el extranjero, abriendo puertas en el mercado laboral global. ¡Aprovecha esta oportunidad para formarte con estándares internacionales y destacar en cualquier escenario profesional!           \n\n\t \n## Enlaces de Pago de Inscripción:\n \nCuando elusuario solicite inscribirse, realizar el pago de la inscripción o acepte que le envíes el enlace de inscripción, proporciónale, el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n \n##Contenido plan de estudios: “Domina el Comercio Exterior y Abre Puertas al Mundo: Lo que Aprenderás en Esta Licenciatura”\n\"Imagina convertir cada negociación en una oportunidad para conectar culturas y mercados. Con esta licenciatura, aprenderás a transformar retos en ventajas competitivas en un mundo globalizado 🌍.\"\nEste programa te brindará una formación integral que combina teoría y práctica, preparándote para:\nLogística y cadenas de suministro internacionales: Domina el flujo de mercancías y optimiza procesos globales.\nFinanzas y comercio internacional: Comprende los mecanismos financieros que impulsan la economía global.\nNegociación y estrategias comerciales: Desarrolla habilidades para cerrar acuerdos y construir relaciones comerciales duraderas.\nAspectos legales y aduaneros: Conoce el marco normativo que regula el comercio entre naciones.\nMarketing y análisis de mercados internacionales: Aprende a identificar oportunidades y posicionar productos a nivel global.\nDescubrirás cómo cada módulo te preparará para enfrentar los desafíos del comercio exterior y te dotará de herramientas prácticas para sobresalir en el competitivo entorno internacional.\n\nnuestra Licenciatura en Comercio Exterior te prepara para comprender y dominar las dinámicas del comercio internacional y la globalización de los mercados. A lo largo del programa, obtendrás una sólida formación en áreas clave como la logística internacional, negociación comercial, legislación aduanera, economía global, y gestión de importaciones y exportaciones. Aprenderás a analizar y aplicar políticas comerciales, a evaluar oportunidades en mercados internacionales y a diseñar estrategias de entrada en distintos países. Además, desarrollarás competencias en la gestión de operaciones aduaneras, la administración de riesgos en el comercio exterior y habilidades de comunicación intercultural, esenciales para establecer relaciones comerciales efectivas.\nEl programa se estructura en 9 cuatrimestres,\n\n\n¿Por Qué Esta Licenciatura Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral:\nLas empresas multinacionales, organismos gubernamentales y consultorías internacionales buscan profesionales capaces de gestionar relaciones comerciales globales.\n✔ Aprende de expertos reales:\nProfesionales con amplia experiencia en comercio internacional te guiarán, compartiendo conocimientos y casos prácticos del mundo real.\n✔ Conexión global:\nAmplía tu red de contactos y accede a oportunidades en mercados internacionales, abriendo puertas en diversas industrias.\n✔ Formación integral:\nCombina teoría y práctica para desarrollar una visión estratégica y operativa que te prepare para enfrentar los retos del comercio global.\n✔ Impacto económico:\nContribuye al desarrollo económico de tu país y al fortalecimiento de relaciones comerciales sostenibles a nivel mundial.\n🔹 Cierre Emocional y Persuasivo\n\"¿Te imaginas en unos años liderando negociaciones internacionales y siendo el motor que impulsa el crecimiento de empresas y naciones? Hoy tienes la oportunidad de dar el primer paso hacia un futuro lleno de impacto, conexión global y éxito 💪🌎✨.\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "e717400b-4df6-43c6-9373-976f86965a43",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "e30848f1-7520-41f4-9acd-78949fe1ba35",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "5c1397f9-5219-4be3-9d2e-7235507bc26b",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "e9b2bcb6-84fc-4851-9da3-2c4055b8fd61",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "e1970d19-4a36-4088-9a5d-8135c615863b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "65d74d9b-d6f5-4916-b605-82e7a4e2af76",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "5f844d9a-ef18-478f-9136-75c99b33e5ba",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Especialista_COMExterior\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "1a029052-546e-484c-9c15-923e7b2a4580",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-26T20:24:34.000Z",
  "versionId": "2177c7e9-b0ce-4767-a2fd-f139d91095af"
}