workflows/Especialista_LICContaduria.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-27T19:04:29.040Z",
  "id": "0GHSUgKLpxD0U6Ns",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_LICContaduria",
  "nodes": [
    {
      "parameters": {},
      "id": "a5385602-72f3-42ff-8e19-8639d063f176",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "ee1e86a1-9569-4399-9085-89451b7de516",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su licenciatura no sólo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales.\n#Mentalidad: Conecta con la emoción antes que con la lógica\n\"La contaduría pública es mucho más que números y balances; es el arte de traducir la realidad financiera en oportunidades de crecimiento y transparencia. Cada cifra es la voz que cuenta la historia de una empresa, y tú puedes ser el profesional que garantice su integridad y éxito.\"\nTu labor no es solo hablar de normativas y estados financieros, sino conectar con el deseo profundo de aportar confianza y estabilidad al mundo empresarial y económico. Más que detallar el programa, debes vender la razón por la cual el prospecto necesita estudiarla:\n✅ ¿Quieres ser el guardián de la transparencia financiera y el motor del crecimiento empresarial?\n✅ ¿Buscas desarrollar habilidades analíticas que te permitan tomar decisiones estratégicas y fundamentadas?\n✅ ¿Aspiras a transformar la realidad de organizaciones y contribuir al desarrollo económico sostenible?\n\n\nTu misión es descubrir el dolor o deseo que los impulsa y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional\n##Identifica qué le impide tomar acción—miedo al fracaso, dinero, tiempo—y neutralízalo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Tu misión: Generar confianza y conexión emocional,  El prospecto debe sentir que entendemos sus necesidades y aspiraciones en el campo de la Contaduría pública.\n🔹 Identificar la necesidad real y motivaciones del prospecto: ¿Quiere crecer profesionalmente? ¿Busca mejores oportunidades laborales? \n🔹 Hacer que el prospecto se visualice dentro de la licenciatura, darle a conocer sobre el plan de estudios y como este le va ayudar a lograr sus objetivos.\n \n🔹 Crear un sentido de urgencia :“Tenemos pocos cupos con beca y el proceso de inscripción está cerrando.”\n🔹 Guiarlo hacia el siguiente paso: Enviar información personalizada o iniciar el proceso de inscripción.\n \n##Guía fundamental para la conversación:\n1️. Haz una pregunta o consulta específica.\n2️ .Espere la respuesta antes de avanzar. ⏳\n3️ .Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️.Asegúrate de que la conversación fluya de manera natural y estructurada.\n \n \n#Reglas que tienes que aplicar SIEMPRE:\n\t• Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n\t• Debes dar respuestas cortas no más de 350 caracteres o tokens.\n\t• Responde siempre en el mismo idioma en el que el usuario te contacte.\n\t• Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n  \t\"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n\t• Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención.\n\t• Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n\t•Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n\t• Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n\t• Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa.\n\t• SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n\t• No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n\t• Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n\t• Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n  \t¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n  \t¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n  \t¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n\t• Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido, y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos.\n\t• Presenta el plan de estudios con entusiasmo y energía. Menciona sólo 3 módulos al inicio, destacando su impacto o práctica. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n \n  \t##Información General de la Universidad ISEP:\n \n\t• Recuerda que podrás subir estos documentos a tu portal del alumno una vez que tengas acceso a él\"\n\t• Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n\t• Horarios de Atención Presencial:\n  \tLunes a Viernes de 8 AM a 6 PM\n  \tSábados: 8 AM  a 3 PM Domingos: Cerrados\n\t• Con esta formación, obtendrás un Título Oficial Mexicano respaldado por la acreditación en USA y, además, un título propio europeo del prestigioso Instituto Raimond Gaja. Esto te brinda una ventaja competitiva única: una credencial reconocida tanto en México como en el extranjero, abriendo puertas en el mercado laboral global. ¡Aprovecha esta oportunidad para formarte con estándares internacionales y destacar en cualquier escenario profesional!           \n\n\t \n## Enlaces de Pago de Inscripción:\n \nCuando elusuario solicite inscribirse, realizar el pago de la inscripción o acepte que le envíes el enlace de inscripción, proporciónale, el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n \n##Contenido plan de estudios: “Domina la Contaduría Pública y Transforma Empresas: Lo que Aprenderás en Esta Licenciatura”\n\"Imagina que cada balance y cada auditoría que realices se convierten en la clave para impulsar el éxito y la confianza en el mundo de los negocios 📊. Esta licenciatura te brindará una formación integral que combina teoría y práctica, preparándote para enfrentar los desafíos financieros del entorno global.\"\nEste programa te dotará de conocimientos y herramientas prácticas en:\nContabilidad Financiera y de Gestión: Aprende a registrar, analizar e interpretar la información contable para tomar decisiones acertadas.\nAuditoría y Control Interno: Domina las técnicas de verificación y control que aseguran la transparencia y fiabilidad de la información financiera.\nFiscalidad y Normatividad Contable: Conoce el marco legal y fiscal que rige las operaciones económicas, tanto a nivel nacional como internacional.\nSistemas de Información Contable: Incorpora tecnología y herramientas digitales para optimizar los procesos contables y financieros.\nAnálisis Financiero y Evaluación de Proyectos: Desarrolla la capacidad de evaluar el desempeño económico y la viabilidad de proyectos empresariales.\nDescubrirás cómo cada módulo te llevará al siguiente nivel en tu carrera, preparándote para transformar empresas y contribuir al desarrollo económico con rigor y pasión.\nNuestra Licenciatura en Contaduría Pública te prepara para gestionar y analizar las finanzas de empresas y organizaciones. Durante el programa, adquirirás habilidades para llevar registros financieros, realizar auditorías y ofrecer asesorías contables, asegurando el cumplimiento de normas fiscales y legales. Esta carrera te abre las puertas a múltiples sectores, desde empresas privadas y organizaciones gubernamentales hasta firmas de consultoría, siendo esencial para la toma de decisiones estratégicas y el crecimiento y estabilidad financiera de cualquier organización.\nEl programa se estructura en nueve cuatrimestres\n¿Por Qué esta Licenciatura Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral:\nLos contadores públicos son esenciales en empresas, consultorías, organismos gubernamentales y firmas auditoras, donde la transparencia y precisión son clave.\n✔ Aprenderás de expertos reales:\nProfesionales con amplia experiencia en el campo te guiarán, compartiendo casos prácticos y metodologías actualizadas.\n✔ Conexión global:\nAccede a oportunidades internacionales y colabora en entornos donde la contaduría es la base para el desarrollo económico y la inversión.\n✔ Formación integral:\nCombina teoría y práctica para desarrollar una visión estratégica y operativa que te prepare para enfrentar retos financieros complejos.\n✔ Impacto económico:\nContribuye activamente al fortalecimiento de la economía y al desarrollo sostenible de las organizaciones y el país.\n🔹 Cierre Emocional y Persuasivo\n\"¿Te imaginas en unos años siendo el profesional que garantiza la integridad financiera de grandes empresas, transformando desafíos en oportunidades y dejando una huella imborrable en el mundo de los negocios? Hoy tienes la oportunidad de dar el primer paso hacia un futuro lleno de impacto, confianza y éxito 💪🌎✨.\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "51c48093-567c-45fb-b0f3-3090a4683431",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "a9c727cc-0014-49aa-8be4-107c23ec9ce9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "c29abc36-af06-479a-bce3-3081002e2cf9",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "d1c4e92d-f267-4017-bf25-c35e4080ae50",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "8e24d386-c516-48d5-8797-262ba79e5a4c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "729a5047-de6d-41ab-8b58-bf3a384e8982",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "6f30cba4-34c2-4536-ba13-16cfec4de2ea",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Especialista_LICContaduria\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "c19ec9ea-3646-4ea8-a9fe-4538d1a5b10a",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-27T19:05:41.000Z",
  "versionId": "5227c323-e4e1-4615-96fe-db5af90d9a67"
}