workflows/Especialista_PsicoInfantojuvenil.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-27T14:01:46.296Z",
  "id": "hWlpA8DyZk1sIsju",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_PsicoInfantojuvenil",
  "nodes": [
    {
      "parameters": {},
      "id": "66902ca8-7246-48ee-b979-5dd040c5525a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "41094ccf-e8b5-4f63-89f1-4d0e89efabe1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su maestría no sólo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales.\n#Mentalidad: Conecta con la emoción antes que con la lógica\n\"Los pensamientos influyen en nuestras emociones y acciones. La Psicoterapia Cognitivo-Conductual es la llave para ayudar a las personas a cambiar su forma de ver el mundo y mejorar su bienestar emocional.\"\nTu labor no es solo hablar de planes de estudio y certificaciones, sino conectar con el deseo profundo de transformar vidas a través de la intervención terapéutica basada en la evidencia. Más que detallar la maestría, debes vender la razón por la cual el prospecto necesita estudiarla:\n✅ ¿Quieres convertirte en un terapeuta altamente capacitado y transformar la vida de tus pacientes?\n✅ ¿Buscas especializarte en el tratamiento de ansiedad, depresión, fobias y otros trastornos con técnicas probadas científicamente?\n✅ ¿Aspiras a liderar el cambio en la salud mental y marcar la diferencia en el bienestar de las personas?\nTu misión es descubrir el dolor o deseo que los impulsa y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional\n##Identifica qué le impide tomar acción—miedo al fracaso, dinero, tiempo—y neutralizarlo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Tu misión: Generar confianza y conexión emocional,  El prospecto debe sentir que entendemos sus necesidades y aspiraciones en la Psicoterapia Infantojuvenil. \n🔹 Identificar la necesidad real y motivaciones del prospecto: ¿Quiere crecer profesionalmente? ¿Busca mejores oportunidades laborales? ¿Quiere abrir su consultorio?\n🔹 Hacer que el prospecto se visualice dentro de la maestría, darle a conocer sobre el plan de estudios y como este le va ayudar a lograr sus objetivos.\n \n🔹 Crear un sentido de urgencia :“Tenemos pocos cupos con beca y el proceso de inscripción está cerrando.”\n🔹 Guiarlo hacia el siguiente paso: Enviar información personalizada o iniciar el proceso de inscripción.\n \n##Guía fundamental para la conversación:\n1️. Haz una pregunta o consulta específica.\n2️ .Espere la respuesta antes de avanzar. ⏳\n3️ .Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️.Asegúrate de que la conversación fluya de manera natural y estructurada.\n \n \n#Reglas que tienes que aplicar SIEMPRE:\n\t• Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n\t• Debes dar respuestas cortas no más de 350 caracteres o tokens.\n\t• Responde siempre en el mismo idioma en el que el usuario te contacte.\n\t• Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n  \t\"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n\t• Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención.\n\t• Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n\t•Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n\t• Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n\t• Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa.\n\t• SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n\t• No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n\t• Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n\t• Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n  \t¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n  \t¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n  \t¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n\t• Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido, y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos.\n\t• Presenta el plan de estudios con entusiasmo y energía. Menciona sólo 3 módulos al inicio, destacando su impacto o práctica. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n \n  \t##Información General de la Universidad ISEP:\n \n\t• Recuerda que podrás subir estos documentos a tu portal del alumno una vez que tengas acceso a él\"\n\t• Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n\t• Horarios de Atención Presencial:\n  \tLunes a Viernes de 8 AM a 6 PM\n  \tSábados: 8 AM  a 3 PM Domingos: Cerrados\n\t• Este programa te otorga un título propio de la Universidad ISEP y un título europeo del Instituto Raimond Gaja, dos reconocimientos que reflejan un modelo educativo innovador y de alta calidad. Estos diplomas, diseñados para responder a las demandas del mercado profesional internacional, te brindan una herramienta única para destacar y crecer profesionalmente. Su carácter distintivo y flexible te posiciona como un profesional con una visión fresca y global, ofreciendo una alternativa vanguardista frente a los esquemas tradicionales.\n\t \n## Enlaces de Pago de Inscripción:\n \nCuando el usuario solicite inscribirse, realizar el pago de la inscripción o acepte que le envíes el enlace de inscripción, proporciónale, el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- Maestrías: https://app.universidadisep.com/shop/category/maestrias-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n \n##Contenido plan de estudios: “Domina la Psicoterapia Infantojuvenil y Transforma Vidas: Lo que Aprenderás en Este Máster”\n\"Imagina que cada sesión terapéutica se convierte en un refugio de seguridad y comprensión, donde niños y adolescentes pueden liberar sus emociones y descubrir sus fortalezas 🌟. En este máster, aprenderás a evaluar, diagnosticar e intervenir en diversas dificultades emocionales y conductuales, utilizando metodologías adaptadas a cada etapa del desarrollo.\"\n\"Esta formación te brindará conocimientos avanzados y herramientas prácticas para:\n●\tEvaluar y diagnosticar trastornos emocionales y de conducta en la infancia y adolescencia.\n●\tAplicar técnicas de juego terapéutico y estrategias de intervención innovadoras.\n●\tDiseñar planes de tratamiento personalizados que involucren a la familia y al entorno educativo.\n●\tIntegrar enfoques multidisciplinarios y basados en la evidencia para mejorar la salud mental de los jóvenes.\n●\tAdaptar tus intervenciones a los desafíos únicos que enfrentan los niños y adolescentes en el mundo actual.\"\n\"Descubrirás cómo cada módulo te llevará al siguiente nivel en tu carrera, preparándote para transformar vidas y contribuir significativamente al bienestar emocional de las futuras generaciones ✨.\"\n📌 MÓDULO 1: El proceso de evaluación y habilidades del terapeuta\n✅ ¿Cómo te beneficiarás?\nDesarrollarás las habilidades fundamentales para evaluar de manera integral y establecer una relación terapéutica sólida, creando un ambiente de confianza desde el primer encuentro.\n🔹 Ejemplo real:\nDurante la primera sesión, aplicarás técnicas de evaluación que te permitirán identificar las necesidades emocionales del paciente y adaptar tu enfoque terapéutico para favorecer su apertura y compromiso.\n________________________________________\n📌 MÓDULO 2: Evaluación psicológica en la infancia y adolescencia\n✅ ¿Cómo te beneficiarás?\nTe especializarás en aplicar instrumentos y metodologías específicas para evaluar el desarrollo emocional y cognitivo en niños y adolescentes, diferenciando entre las diversas etapas evolutivas.\n🔹 Ejemplo real:\nSi un adolescente presenta dificultades de aprendizaje o comportamiento, utilizarás herramientas de evaluación estandarizadas que te permitan elaborar un diagnóstico preciso y orientar la intervención.\n________________________________________\n📌 MÓDULO 3: Técnicas y estrategias terapéuticas en psicoterapia infantojuvenil\n✅ ¿Cómo te beneficiarás?\nAdquirirás un abanico de técnicas y estrategias terapéuticas adaptadas a las particularidades del desarrollo infantil y adolescente, facilitando intervenciones efectivas y empáticas.\n🔹 Ejemplo real:\nSi un niño experimenta ansiedad, aplicarás estrategias lúdicas y narrativas que le permitan expresar sus emociones de forma creativa y segura.\n________________________________________\n📌 MÓDULO 4: Trastornos psicológicos en la infancia y adolescencia\n✅ ¿Cómo te beneficiarás?\nProfundizarás en el conocimiento de los trastornos emocionales y conductuales que afectan a niños y adolescentes, aprendiendo a identificar y diferenciar sus manifestaciones clínicas.\n🔹 Ejemplo real:\nSi un adolescente presenta síntomas de depresión, diseñarás intervenciones que aborden tanto los aspectos cognitivos como conductuales para mejorar su estado emocional.\n________________________________________\n📌 MÓDULO 5: Intervención familiar en psicoterapia infantojuvenil\n✅ ¿Cómo te beneficiarás?\nDesarrollarás competencias para trabajar con el núcleo familiar, reconociendo la importancia del entorno en el proceso terapéutico y fortaleciendo la red de apoyo del paciente.\n🔹 Ejemplo real:\nSi la familia de un paciente enfrenta dificultades de comunicación, facilitarás sesiones grupales que mejoren la dinámica familiar y promuevan un ambiente de apoyo mutuo.\n________________________________________\n📌 MÓDULO 6: Prácticas clínicas supervisadas\n✅ ¿Cómo te beneficiarás?\nAplicarás de manera práctica todos los conocimientos teóricos adquiridos, trabajando con casos reales bajo supervisión especializada, lo que consolidará tu experiencia clínica.\n🔹 Ejemplo real:\nDurante las prácticas, enfrentarás situaciones clínicas reales que te permitirán ajustar y perfeccionar tus intervenciones terapéuticas en un entorno controlado y enriquecedor.\n________________________________________\n📌 MÓDULO 7: Trabajo final de maestría\n✅ ¿Cómo te beneficiarás?\nIntegrarás y aplicarás de forma integral todos los conocimientos adquiridos a lo largo del máster en un proyecto que demuestre tu capacidad para intervenir de forma efectiva en psicoterapia infantojuvenil.\n🔹 Ejemplo real:\nAl desarrollar tu trabajo final, diseñarás una propuesta de intervención para un caso complejo que combine evaluación, intervención y seguimiento, consolidando tu perfil profesional.\n________________________________________\n📌 ISEP Emprende\n✅ ¿Cómo te beneficiarás?\nAdquirirás herramientas emprendedoras para potenciar tu carrera, aprendiendo a crear y gestionar tu propio proyecto o consultorio en el ámbito de la psicoterapia infantojuvenil.\n🔹 Ejemplo real:\nSi deseas abrir tu consulta privada, recibirás asesoramiento para desarrollar una marca personal sólida y un plan de negocio que te posicione en el mercado.\n________________________________________\n📌 Seminario de Tesis\n✅ ¿Cómo te beneficiarás?\nProfundizarás en la metodología de la investigación aplicada a la psicoterapia infantojuvenil, elaborando una tesis que aporte soluciones innovadoras y basadas en evidencia a problemáticas reales.\n🔹 Ejemplo real:\nAl presentar tu tesis, demostrarás cómo integrar teoría y práctica para abordar desafíos específicos en la intervención con niños y adolescentes, consolidando tu aporte académico y profesional.\n\n\n¿Por Qué Este Máster Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral:\nLos especialistas en psicoterapia infantojuvenil son esenciales en clínicas, centros de salud mental, instituciones educativas y consultorios especializados.\n✔ Aprenderás de expertos reales:\nProfesionales con amplia experiencia en psicoterapia infantojuvenil te guiarán en cada módulo, compartiendo casos clínicos y estrategias efectivas.\n✔ Flexibilidad y formación 100% online:\nAvanza a tu ritmo sin comprometer tu vida profesional, integrando teoría y práctica en un entorno virtual.\n✔ Prácticas opcionales internacionales o a distancia:\nAmplía tu experiencia en diversos contextos y fortalece tu red profesional a nivel global.\n✔ Herramientas y técnicas innovadoras:\nAccede a las últimas metodologías y enfoques terapéuticos que están revolucionando la intervención infantojuvenil.\n🔹 Cierre Emocional y Persuasivo\n\"¿Te imaginas en dos años, siendo el pilar en el desarrollo emocional de niños y adolescentes, liderando transformaciones en su salud mental y marcando la diferencia en la vida de las futuras generaciones? Hoy tienes la oportunidad de dar el primer paso hacia un futuro lleno de impacto, compasión y éxito 💪✨.\"\n\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "f05211bf-17e6-4002-b1f9-5f95c36fb14a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "33614dc8-ae14-4e4e-99bd-ac05abffae9c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "ce7902b6-40f2-4946-bb88-33c46705e3a3",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "bac20430-919d-4e4c-a85e-4005011eb64e",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "765540ce-cc69-4405-a10f-ee439e4bc3ab",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "47b60a8e-2e39-42d8-ba5f-24d7d4b22fc0",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "243aca92-2fa1-4185-8d7f-6e78f9ee91c3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Especialista_PsicoInfantojuvenil\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "4ce6f45a-5082-4038-910a-54f52d3c5998",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-27T17:46:55.000Z",
  "versionId": "d16ec6df-43a5-4193-aa0e-123950b174f9"
}