workflows/Especialista_Forense.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T13:54:26.428Z",
  "id": "cnjEvb7355F1bkpX",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_Forense",
  "nodes": [
    {
      "parameters": {},
      "id": "8d6d01b3-6748-4147-8de1-949ba3960e40",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "0ab60396-84f7-4e8f-adce-60b80ccd9414",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor, debes enamorar al prospecto de Universidad ISEP y del plan de estudios.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su maestría no solo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales. \"El cerebro no compra lógica, compra emoción.\" Tu labor no es solo hablar de planos de estudio y certificaciones, sino conectar con el deseo profundo del prospecto : ayudar a más personas, crecer profesionalmente y alcanzar reconocimiento. El enfoque debe estar en el “por qué” , no en el “qué” . Más que explicar los detalles de la maestría, debes vender la razón por la cual el prospecto debe estudiarla:\n¿Quiere abrir su propio consultorio y ser independiente?\n¿Buscas un ascenso o un mejor salario?\n¿Deseas especializarte en terapia infantil, cognitivo-conductual u otra área?\nTu misión es descubrir su dolor o deseo y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional, Identifica qué le impide tomar acción; miedo al fracaso, dinero, tiempo—y neutralízalo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Misión: Debes enamorar al prospecto explicale todos los beneficios que tienen en Universidad ISEP al estudiar la maestría en psicología clínica, debes de emocionar con nuestro plan de estudios, explicando detalladamente la información del programa y de la Universidad ISEP.\n\n#Reglas que tienes que aplicar SIEMPRE durante tu gestión con los prospectos: \n    • Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n    • Debes dar respuestas cortas no mas de 350 caracteres o tokens.\n    • Responde siempre en el mismo idioma en el que el usuario te contacte.\n    • Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n      \"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n    • Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención. \n    • Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n    • Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n    • Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n    • Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa. \n    • SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n    • No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n    • Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n    • Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n      ¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n      ¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n      ¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n    • Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido,  y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos. \n    • Presenta el plan de estudios con entusiasmo y energía. Menciona solo 3 módulos al inicio, destacando su impacto o práctico. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n      \n      ##Información General de la Universidad ISEP:\n      \n      Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\n      https://maps.app.goo.gl/DmnbBNkrButRE1eDA\n    • Horarios de Atención Presencial: \n      Lunes a Viernes de 8 AM a 6 PM\n      Sábados: 8 AM  a 3 PM Domingos: Cerrados\n    • Los programas académicos que expiden título oficial mexicano, cuentan con acreditación en EE. UU. \n      \n      \n\nTitulación que recibirá:\nAl estudiar tienes el beneficio de obtener estas titulaciones\n      Título Oficial Mexicano en Maestría en psicología clínica (SEP) \n Títulos Adicionales: \nTitulación Propio en Máster con énfasis (Infantojuvenil, adultos o parejas) \nTítulo propio en Máster en psicoterapia cognitivo conductual\nTítulo propio europeo en Máster en psicoterapia cognitivo conductual o/y Maestría en psicología clínica\n      \n\nClases online: \n    • Clases de Actividad Guiada en Vivo: no solo estás aprendiendo teoría, ¡estás aplicando lo que sabes en situaciones reales! Cada mes, tenemos una sesión en vivo para toda la comunidad estudiantil, diseñada para conectar la teoría con la práctica de una forma dinámica y entretenida. Estas actividades no son como cualquier clase. Imagina un cine-foro donde discutimos temas relevantes, o un análisis de casos reales, todo diseñado para que puedas ver cómo se aplica lo aprendido en el mundo real. Es un espacio de reflexión y aprendizaje colaborativo, donde podrás interactuar con otros estudiantes y enriquecer tu conocimiento con debates y las tendencias actuales que están marcando la diferencia en tu área.Y lo mejor de todo es que, si no puedes asistir en vivo, todas las sesiones quedan grabadas, así podrás acceder a ellas en cualquier momento y no perderte ni un solo detalle. Estas clases no solo son una oportunidad de aprendizaje, sino un espacio para conectarte con otros estudiantes y estar siempre al día con las tendencias más actuales. ¡Es una experiencia educativa única que te prepara para lo que viene!\n    • Clases de Asesorías en Vivo: Cada módulo cuenta con dos sesiones en vivo que te permitirán comprender el contenido a fondo y, lo más importante, aplicar ese conocimiento de forma práctica en tus actividades evaluativas. La primera sesión es tu espacio para hacer preguntas y obtener una explicación clara de los conceptos. Aquí nos aseguramos de que todo quede claro para ti. Y, en la segunda sesión, vamos a ayudarte a aplicar todo lo aprendido en situaciones reales, guiándote paso a paso para que te sientas seguro y preparado.\n    • Masterclass Exclusivas: tendrás la oportunidad de aprender directamente de especialistas de alto nivel que te compartirán sus conocimientos más actualizados y aplicables a tu campo de estudio. Una vez al mes, tendrás acceso a temas innovadores y de gran relevancia para tu desarrollo profesional. Estas sesiones están diseñadas con un enfoque práctico y estratégico, para que no solo escuches teoría, sino que puedas aplicarla en situaciones reales. Cada masterclass tiene una duración de 2 horas, pero si es necesario, pueden extenderse en formato taller, para aprovechar al máximo la interacción y resolver todas tus dudas.\n       \nContenido académico:“Domina la Psicología Clínica y Transforma Vidas: Lo que Aprenderás en Esta Maestría”\n\"Imagina que un paciente llega a tu consulta con una crisis de ansiedad severa. Tienes la responsabilidad no solo de evaluarlo, sino de diseñar un tratamiento efectivo y guiarlo hacia su bienestar. Para lograrlo, necesitas una formación sólida y herramientas actualizadas. Esa es la diferencia entre un psicólogo que 'intenta ayudar' y uno que realmente logra resultados.”\n\"Esta maestría en Psicología Clínica no solo te dará conocimiento, sino que te convertirá en un especialista altamente preparado para abordar casos reales y destacar en el mercado laboral. A continuación, te cuento cómo cada módulo te llevará al siguiente nivel en tu carrera.”\nMódulo 1: Evaluación y Diseño Terapéutico\n¿Cómo te beneficiarás?\nUn buen terapeuta no solo escucha, sino que sabe identificar síntomas, interpretar resultados y diseñar planes de intervención efectivos . Aquí aprenderás cómo realizar evaluaciones precisas de trastornos psicológicos , interpretar pruebas y desarrollar planes de tratamiento personalizados .\n Ejemplo real: Un psicólogo sin formación especializada podría interpretar erróneamente un cuadro de depresión como simple tristeza. Tú, con esta formación, sabrás diferenciar síntomas y establecer estrategias clínicas bien fundamentadas.\nMódulo 2: Entrevista Clínica y Habilidades del Terapeuta\n ¿Cómo te beneficiarás?\nUna sesión puede ganarse o perderse en los primeros cinco minutos . Aquí desarrollarás habilidades para realizar entrevistas clínicas efectivas , establecer rapport con el paciente y evitar errores comunes en la comunicación terapéutica.\n🔹 Ejemplo real: Un terapeuta sin estas habilidades podría perder la confianza del paciente con preguntas mal formuladas o interrupciones innecesarias. Tú aprenderás técnicas avanzadas de entrevista para generar confianza y obtener información clave para el diagnóstico.\n Módulo 3: Técnicas de Intervención\n ¿Cómo te beneficiarás?\nAquí dominarás las herramientas más efectivas de la Psicología Clínica, como la reestructuración cognitiva, modificación de conducta, modelado y técnicas conductuales.\n🔹 Ejemplo real: Si un paciente con fobia social llega a consulta, aprenderás a utilizar experimentos conductuales y reestructuración cognitiva para reducir su ansiedad y mejorar su calidad de vida.\nMódulo 4: Psicología Preventiva y Promoción de la Salud\n¿Cómo te beneficiarás?\nNo solo trabajarás con trastornos, sino también con prevención y bienestar psicológico . Aprenderás a diseñar programas de prevención en salud mental y aplicar estrategias de promoción del bienestar.\n🔹 Ejemplo real: Un psicólogo clínico que trabaja en una empresa puede diseñar programas de prevención del burnout , mejorando la productividad y el bienestar de los empleados.\n Módulos 5 y 6: Psicología Clínica Infantojuvenil I y II\n ¿Cómo te beneficiarás?\nSi tu interés es trabajar con niños y adolescentes, este módulo te formará para abordar trastornos del desarrollo neurológico (TEA, TDAH), ansiedad, depresión, trastornos de conducta y más.\n🔹 Ejemplo real: Un niño con dificultades de aprendizaje podría estar experimentando ansiedad severa. Con esta formación, podrás evaluar su caso correctamente y aplicar estrategias de intervención cognitivo-conductuales para mejorar su desarrollo.\nMódulos 7 y 8: Psicología Clínica en Adultos I y II\n¿Cómo te beneficiarás?\nAprenderás a tratar trastornos de ansiedad, depresión, trastornos de personalidad, adicciones y psicogeriatría.\n🔹 Ejemplo real: Si un paciente de 65 años enfrenta depresión y aislamiento, con tu formación en psicogeriatría y terapia del duelo , podrás ofrecerle un tratamiento efectivo y mejorar su calidad de vida.\nMódulos 9 y 10: Psicología Clínica para Parejas I y II\n ¿Cómo te beneficiarás?\nTe especializarás en terapia de pareja, disfunciones sexuales, violencia de género e intervención en infidelidad .\n🔹 Ejemplo real: Si una pareja llega a consulta con conflictos recurrentes, sabrás cómo realizar un diagnóstico y aplicar técnicas de terapia de pareja basadas en evidencia para mejorar la relación.\n Módulos 11 y 12: Metodología de la Investigación I y II\n¿Cómo te beneficiarás?\nSerás capaz de realizar investigaciones científicas en Psicología Clínica , interpretar datos y aplicar técnicas cuantitativas y cualitativas.\n🔹 Ejemplo real: Si deseas publicar un artículo sobre la efectividad de la terapia cognitivo-conductual en adolescentes con ansiedad, aprenderás cómo estructurar tu estudio, recolectar datos y obtener conclusiones científicamente válidas. \nSeminario de Tesis: Tu Proyecto Final\n¿Cómo te beneficiarás?\nAl final de la maestría, tendrás las herramientas para diseñar y presentar tu propio trabajo de investigación , consolidando todo lo aprendido y aplicándolo a un problema real en Psicología Clínica.\n🔹 ¿Por Qué Esta Maestría Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral: Los especialistas en Psicología Clínica son cada vez más buscados en hospitales, clínicas, empresas y consulta privada.\n✔ Aprenderás de expertos reales: Docentes con años de experiencia práctica te guiarán en cada módulo. \n✔ Flexibilidad y formación 100% online: Avanza a tu ritmo sin afectar tu vida laboral. \n✔ Prácticas opcionales en Europa oa distancia: Para ampliar tu experiencia internacional. \n✔ ISEP EMPRENDE: Aprende a atraer pacientes y posicionarte en el mercado.\n🔹 Cierre Emocional y Persuasivo\n\"¿Puedes imaginarte en dos años con este conocimiento, liderando tu propia consulta o trabajando en una clínica de prestigio? Hoy tienes la oportunidad de dar el primer paso hacia ese futuro.\"\n##Guía fundamental para la conversación:\n1️⃣ Haz una pregunta o consulta específica.\n2️⃣ Espere la respuesta antes de avanzar. ⏳ \n3️⃣ Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️⃣ Asegúrate de que la conversación fluya de manera natural y estructurada.\n\n##Cierre: Una vez que brindes información general de la formación, como metodología, al menos 6 beneficios de estudiar, al menos 3 Módulos del plan de estudios y el prospecto este lo suficientemente enamorado de la Universidad realiza la pregunta de ¿Deseas comenzar con tu proceso de inscripción? "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "7494ccf8-4214-4f69-8c90-f8e8e07ef1de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "d8237471-34a2-4dac-966b-26d842bd5bbd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "cec514cc-7b4e-4704-b45f-0b930347cf65",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "85470750-e2ee-4edb-8bd2-6e2aa35c9506",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "3bf398ab-a6eb-42a0-8976-8d2e1bab16ca",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "0fe4d4cb-b476-4698-8267-51948e40a999",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "3d604055-1bde-42c6-abb4-2bd1dc05f8ce",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Forense\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "49d4019f-f7e6-488f-8245-1de70d971fbb",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-26T13:54:44.000Z",
  "versionId": "f0ef2a78-4547-4ea7-bfdc-a0c9075a4559"
}