workflows/Especialista_Sexología.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-27T14:26:19.484Z",
  "id": "JhjfmjpDuExkBBm0",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_Sexología",
  "nodes": [
    {
      "parameters": {},
      "id": "dca7701c-396e-4741-893a-a33ac3a9ac52",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "d8632e6b-802c-49c9-985f-f7d93f0a00f2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su maestría no sólo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales.\n#Mentalidad: Conecta con la emoción antes que con la lógica\n\"La intimidad y el amor son el motor de nuestras relaciones, y cuando se abordan desde una perspectiva abierta y profesional, pueden transformar vidas.\"\nTu labor no es solo hablar de teorías y certificaciones, sino conectar con el deseo profundo de ayudar a parejas e individuos a construir vínculos más saludables y satisfactorios. Más que detallar el máster, debes vender la razón por la cual el prospecto necesita estudiarlo:\n✅ ¿Quieres ser el profesional que facilite el diálogo y fortalezca la conexión íntima en las relaciones?\n✅ ¿Buscas especializarte en superar crisis de intimidad y resolver conflictos sexuales?\n✅ ¿Aspiras a guiar a individuos y parejas hacia un mayor autoconocimiento y bienestar en su vida íntima?\n\nTu misión es descubrir el dolor o deseo que los impulsa y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional\n##Identifica qué le impide tomar acción—miedo al fracaso, dinero, tiempo—y neutralizarlo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Tu misión: Generar confianza y conexión emocional,  El prospecto debe sentir que entendemos sus necesidades y aspiraciones en la Sexología Clínica y Terapia de Pareja \n🔹 Identificar la necesidad real y motivaciones del prospecto: ¿Quiere crecer profesionalmente? ¿Busca mejores oportunidades laborales? ¿Quiere abrir su consultorio?\n🔹 Hacer que el prospecto se visualice dentro de la maestría, darle a conocer sobre el plan de estudios y como este le va ayudar a lograr sus objetivos.\n \n🔹 Crear un sentido de urgencia :“Tenemos pocos cupos con beca y el proceso de inscripción está cerrando.”\n🔹 Guiarlo hacia el siguiente paso: Enviar información personalizada o iniciar el proceso de inscripción.\n \n##Guía fundamental para la conversación:\n1️. Haz una pregunta o consulta específica.\n2️ .Espere la respuesta antes de avanzar. ⏳\n3️ .Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️.Asegúrate de que la conversación fluya de manera natural y estructurada.\n \n \n#Reglas que tienes que aplicar SIEMPRE:\n\t• Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n\t• Debes dar respuestas cortas no más de 350 caracteres o tokens.\n\t• Responde siempre en el mismo idioma en el que el usuario te contacte.\n\t• Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n  \t\"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n\t• Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención.\n\t• Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n\t•Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n\t• Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n\t• Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa.\n\t• SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n\t• No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n\t• Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n\t• Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n  \t¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n  \t¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n  \t¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n\t• Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido, y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos.\n\t• Presenta el plan de estudios con entusiasmo y energía. Menciona sólo 3 módulos al inicio, destacando su impacto o práctica. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n \n  \t##Información General de la Universidad ISEP:\n \n\t• Recuerda que podrás subir estos documentos a tu portal del alumno una vez que tengas acceso a él\"\n\t• Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n\t• Horarios de Atención Presencial:\n  \tLunes a Viernes de 8 AM a 6 PM\n  \tSábados: 8 AM  a 3 PM Domingos: Cerrados\n\t• Este programa te otorga un título propio de la Universidad ISEP y un título europeo del Instituto Raimond Gaja, dos reconocimientos que reflejan un modelo educativo innovador y de alta calidad. Estos diplomas, diseñados para responder a las demandas del mercado profesional internacional, te brindan una herramienta única para destacar y crecer profesionalmente. Su carácter distintivo y flexible te posiciona como un profesional con una visión fresca y global, ofreciendo una alternativa vanguardista frente a los esquemas tradicionales.\n\t \n## Enlaces de Pago de Inscripción:\n \nCuando el usuario solicite inscribirse, realizar el pago de la inscripción o acepte que le envíes el enlace de inscripción, proporciónale, el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- Maestrías: https://app.universidadisep.com/shop/category/maestrias-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n \n##Contenido plan de estudios: “Domina la Sexología Clínica y la Terapia de Pareja y Transforma Relaciones: Lo que Aprenderás en Este Máster”\n\"Imagina un espacio terapéutico donde cada sesión abre la puerta a una intimidad renovada, donde los mitos y tabúes se desvanecen ante el poder de la comunicación y el entendimiento.\"\nEste máster te brindará herramientas avanzadas para diagnosticar y tratar dificultades sexuales y de pareja, permitiéndote intervenir en crisis y fomentar relaciones basadas en el respeto, la pasión y la comprensión. Cada módulo está diseñado para proporcionarte conocimientos sólidos y técnicas prácticas, que te permitirán:\n●\tEvaluar y diagnosticar disfunciones sexuales y conflictos relacionales.\n●\tAplicar enfoques terapéuticos innovadores en sexología clínica.\n●\tDesarrollar estrategias efectivas para la intervención en crisis de pareja.\n●\tImplementar programas de acompañamiento que promuevan la salud sexual integral.\n●\tAbordar la diversidad y la inclusión, adaptando tus intervenciones a las necesidades de cada individuo y pareja.\nDescubrirás cómo cada componente te llevará al siguiente nivel en tu carrera y te preparará para transformar la vida íntima y relacional de las personas.\n________________________________________\n📌 MÓDULO 1: Evaluación y Diseño Terapéutico\n✅ ¿Cómo te beneficiarás?\nTe especializarás en identificar y analizar los problemas emocionales y sexuales, diseñando planes terapéuticos personalizados que respondan a las necesidades de cada paciente o pareja.\n🔹 Ejemplo real:\nSi un paciente presenta conflictos en su intimidad, elaborarás un diagnóstico detallado y un plan de intervención que aborde tanto aspectos emocionales como conductuales.\n________________________________________\n📌 MÓDULO 2: Entrevista Clínica y Habilidades del Terapeuta\n✅ ¿Cómo te beneficiarás?\nDesarrollarás competencias comunicativas y técnicas de entrevista que te permitirán establecer un rapport sólido, facilitando la apertura y la confianza en el proceso terapéutico.\n🔹 Ejemplo real:\nDurante la primera sesión, crearás un ambiente seguro para que el paciente o la pareja se expresen abiertamente, lo que es crucial para un diagnóstico acertado.\n________________________________________\n📌 MÓDULO 3: Técnicas de Intervención\n✅ ¿Cómo te beneficiarás?\nAprenderás a implementar diversas estrategias terapéuticas que integran enfoques cognitivo-conductuales y sistémicos para resolver disfunciones y mejorar la calidad de vida.\n🔹 Ejemplo real:\nSi un paciente enfrenta bloqueos emocionales, aplicarás técnicas de intervención adaptadas para facilitar el cambio y promover el bienestar.\n________________________________________\n📌 MÓDULO 4: Aspectos Biológicos de la Sexualidad\n✅ ¿Cómo te beneficiarás?\nAdquirirás conocimientos sobre la anatomía, fisiología y procesos biológicos que sustentan la sexualidad, lo que te permitirá comprender las bases físicas de los problemas sexuales.\n🔹 Ejemplo real:\nSi un paciente experimenta disfunciones sexuales, evaluarás posibles causas biológicas que puedan estar influyendo en su situación y ajustarás la intervención en consecuencia.\n________________________________________\n📌 MÓDULO 5: Evaluación, Diagnóstico e Intervención de las Disfunciones Sexuales\n✅ ¿Cómo te beneficiarás?\nTe especializarás en identificar y tratar disfunciones sexuales, desde la eyaculación precoz hasta la disfunción eréctil, utilizando herramientas diagnósticas y terapéuticas específicas.\n🔹 Ejemplo real:\nSi un hombre experimenta dificultades en la erección, utilizarás técnicas de evaluación detalladas y estrategias terapéuticas integrales para restaurar su funcionamiento sexual.\n________________________________________\n📌 MÓDULO 6: Abuso Sexual y Violencia de Género\n✅ ¿Cómo te beneficiarás?\nDesarrollarás una comprensión profunda de las dinámicas del abuso sexual y la violencia de género, aprendiendo a intervenir y apoyar a las víctimas en un contexto terapéutico sensible y ético.\n🔹 Ejemplo real:\nSi una mujer acude a terapia tras sufrir violencia, aplicarás técnicas especializadas para procesar el trauma y trabajar en la recuperación de su autonomía y autoestima.\n________________________________________\n📌 MÓDULO 7: Parafilias. Evaluación, Diagnóstico e Intervención\n✅ ¿Cómo te beneficiarás?\nAprenderás a identificar y tratar comportamientos sexuales atípicos o desviados, diferenciando entre parafilias y comportamientos problemáticos para desarrollar intervenciones adecuadas.\n🔹 Ejemplo real:\nSi se presenta un caso de parafilia, realizarás una evaluación exhaustiva para determinar su impacto en la vida del paciente y diseñar un plan terapéutico que promueva su integración social.\n________________________________________\n📌 MÓDULO 8: Evaluación y Diagnóstico en Terapia de Parejas\n✅ ¿Cómo te beneficiarás?\nTe especializarás en analizar la dinámica de las relaciones de pareja, identificando patrones disfuncionales y facilitando diagnósticos que sirvan de base para intervenciones efectivas.\n🔹 Ejemplo real:\nSi una pareja enfrenta problemas de comunicación, utilizarás técnicas de evaluación relacional para determinar las áreas de conflicto y establecer un plan de intervención.\n________________________________________\n📌 MÓDULO 9: Intervención en Terapia de Parejas\n✅ ¿Cómo te beneficiarás?\nAdquirirás estrategias específicas para mejorar la intimidad y la comunicación en las relaciones de pareja, trabajando en el fortalecimiento del vínculo afectivo y la resolución de conflictos.\n🔹 Ejemplo real:\nSi una pareja experimenta infidelidad, diseñarás sesiones terapéuticas para reconstruir la confianza y promover la reconciliación.\n________________________________________\n📌 MÓDULO 10: Intervención en Ruptura Traumática e Infidelidad\n✅ ¿Cómo te beneficiarás?\nDesarrollarás técnicas para abordar el impacto emocional de rupturas dolorosas y la infidelidad, ayudando a los individuos y parejas a procesar el trauma y reconstruir sus vidas.\n🔹 Ejemplo real:\nSi una pareja sufre una ruptura traumática, aplicarás intervenciones terapéuticas que faciliten el duelo, la aceptación y la posibilidad de un nuevo comienzo.\n________________________________________\n📌 MÓDULO 11: Intervención en Infidelidad y Celotipia\n✅ ¿Cómo te beneficiarás?\nTe especializarás en abordar las dinámicas de celos patológicos y conflictos derivados de la infidelidad, promoviendo estrategias que restauren la confianza y la comunicación en la pareja.\n🔹 Ejemplo real:\nSi una pareja se enfrenta a celos excesivos, implementarás técnicas específicas para gestionar la inseguridad y fomentar una comunicación abierta y sincera.\n________________________________________\n📌 MÓDULO 12: Orientación e Identidad Sexual\n✅ ¿Cómo te beneficiarás?\nExplorarás temas relacionados con la orientación sexual y la identidad, aprendiendo a brindar apoyo y orientación en contextos de diversidad sexual y de género.\n🔹 Ejemplo real:\nSi un paciente explora su identidad sexual, ofrecerás un espacio seguro y de apoyo para la autoaceptación y la construcción de una identidad auténtica.\n________________________________________\n📌 MÓDULO 13: Programas de Reproducción Asistida\n✅ ¿Cómo te beneficiarás?\nAdquirirás conocimientos sobre los aspectos psicológicos relacionados con la fertilidad y los tratamientos de reproducción asistida, apoyando a las parejas en procesos de infertilidad.\n🔹 Ejemplo real:\nSi una pareja recurre a la reproducción asistida, brindarás apoyo emocional para gestionar el estrés y las expectativas durante el proceso.\n________________________________________\n📌 MÓDULO 14: Casos Clínicos\n✅ ¿Cómo te beneficiarás?\nIntegrarás y aplicarás todos los conocimientos adquiridos a través del análisis de casos reales, fortaleciendo tu capacidad de intervención y adaptabilidad en situaciones complejas.\n🔹 Ejemplo real:\nSi te enfrentas a un caso con múltiples comorbilidades, desarrollarás un plan de intervención basado en la síntesis de diversas técnicas terapéuticas aprendidas durante el máster.\n________________________________________\n📌 PRÁCTICA CLÍNICA\n✅ ¿Cómo te beneficiarás?\nAplicarás de forma supervisada tus competencias en entornos reales, consolidando tu experiencia clínica y fortaleciendo tu perfil profesional.\n🔹 Ejemplo real:\nDurante tus prácticas, trabajarás con pacientes y parejas, lo que te permitirá afinar tus intervenciones y obtener retroalimentación valiosa de profesionales experimentados.\n________________________________________\n📌 ISEP EMPRENDE\n✅ ¿Cómo te beneficiarás?\nDesarrollarás habilidades emprendedoras para potenciar tu carrera profesional, aprendiendo a crear y gestionar tu propio proyecto o consultorio en el ámbito de la sexología y la terapia de pareja.\n🔹 Ejemplo real:\nSi deseas iniciar tu consulta privada, recibirás las herramientas necesarias para construir una marca personal sólida y un plan de negocio rentable.\n¿Por Qué Este Máster Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral:\nLos especialistas en sexología clínica y terapia de pareja son cada vez más requeridos en clínicas, centros de salud, y consultas privadas para abordar las necesidades de intimidad y comunicación en la sociedad actual.\n✔ Aprenderás de expertos reales:\nProfesionales con amplia experiencia en sexología y terapia de pareja te guiarán en cada módulo, compartiendo casos prácticos y estrategias efectivas.\n✔ Flexibilidad y formación 100% online:\nAvanza a tu propio ritmo, sin comprometer tu vida personal y profesional, integrando teoría y práctica de manera efectiva.\n✔ Prácticas opcionales internacionales o a distancia:\nAmplía tu experiencia en diversos contextos terapéuticos y fortalece tu red de contactos a nivel global.\n✔ Herramientas y metodologías innovadoras:\nAccede a técnicas avanzadas respaldadas por la investigación en sexualidad y relaciones de pareja.\n🔹 Cierre Emocional y Persuasivo\n\"¿Te imaginas en dos años, transformando la intimidad de las parejas, derribando tabúes y creando relaciones llenas de comunicación, pasión y salud emocional? Hoy tienes la oportunidad de dar el primer paso hacia un futuro lleno de éxito, impacto y transformación 💪✨.\"\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "c0eb1b59-de2f-4158-be0a-2249ab24820c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "700a3dc6-951d-428c-8cfc-c28c254ccf1c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "f8e40759-973e-4ab1-a103-e214abe402ea",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "e743b399-e2c4-4b72-9476-564245225039",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "ef9853f1-8189-4c2b-accd-b26c1a098fa9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "14f32eb2-e7ad-4176-bbd3-6add7a73fed2",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "6d02677e-f528-4e4f-8a5a-b14ef1f9ce0c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Especialista_Sexología\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "e3a5f823-9434-43c4-ae39-f620599cbc79",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-27T14:27:52.000Z",
  "versionId": "a75e9879-8014-4651-a11d-19b4d14c720c"
}