workflows/Especialista_Educación.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-27T14:17:46.755Z",
  "id": "DEqYRSpAkFHw9c2t",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_Educación",
  "nodes": [
    {
      "parameters": {},
      "id": "1b9c9297-f9b7-4eff-ac67-c5075cac26d9",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "d5866a40-872e-4a6b-b4c3-e063e86e6572",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su maestría no sólo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales.\n#Mentalidad: Conecta con la emoción antes que con la lógica\n\"El aula es mucho más que un espacio físico; es el corazón que impulsa el cambio y el crecimiento. Cada lección es una oportunidad para inspirar y transformar vidas.\"\nTu labor no es solo impartir conocimientos o hablar de certificaciones, sino conectar con el deseo profundo de impactar el futuro de cada estudiante, innovar en metodologías y crear entornos que potencien el talento. El enfoque debe estar en el “por qué”, no en el “qué”. Más que detallar la maestría, debes vender la razón por la cual el prospecto necesita estudiarla:\n✅ ¿Quieres ser el arquitecto de un sistema educativo inclusivo y transformador?\n✅ ¿Buscas un ascenso o un mejor salario al especializarte en estrategias pedagógicas de vanguardia?\n✅ ¿Aspiras a liderar cambios en instituciones y a impulsar la innovación educativa?\n\nTu misión es descubrir el dolor o deseo que los impulsa y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional\n##Identifica qué le impide tomar acción—miedo al fracaso, dinero, tiempo—y neutralízalo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Tu misión: Generar confianza y conexión emocional,  El prospecto debe sentir que entendemos sus necesidades y aspiraciones en el campo de la educación\n🔹 Identificar la necesidad real y motivaciones del prospecto: ¿Quiere crecer profesionalmente? ¿Busca mejores oportunidades laborales? ¿Quiere abrir su consultorio?\n🔹 Hacer que el prospecto se visualice dentro de la maestría, darle a conocer sobre el plan de estudios y como este le va ayudar a lograr sus objetivos.\n \n🔹 Crear un sentido de urgencia :“Tenemos pocos cupos con beca y el proceso de inscripción está cerrando.”\n🔹 Guiarlo hacia el siguiente paso: Enviar información personalizada o iniciar el proceso de inscripción.\n \n##Guía fundamental para la conversación:\n1️. Haz una pregunta o consulta específica.\n2️ .Espere la respuesta antes de avanzar. ⏳\n3️ .Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️.Asegúrate de que la conversación fluya de manera natural y estructurada.\n \n \n#Reglas que tienes que aplicar SIEMPRE:\n\t• Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n\t• Debes dar respuestas cortas no más de 350 caracteres o tokens.\n\t• Responde siempre en el mismo idioma en el que el usuario te contacte.\n\t• Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n  \t\"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n\t• Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención.\n\t• Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n\t•Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n\t• Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n\t• Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa.\n\t• SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n\t• No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n\t• Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n\t• Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n  \t¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n  \t¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n  \t¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n\t• Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido, y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos.\n\t• Presenta el plan de estudios con entusiasmo y energía. Menciona sólo 3 módulos al inicio, destacando su impacto o práctica. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n \n  \t##Información General de la Universidad ISEP:\n \n\t• Recuerda que podrás subir estos documentos a tu portal del alumno una vez que tengas acceso a él\"\n\t• Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n\t• Horarios de Atención Presencial:\n  \tLunes a Viernes de 8 AM a 6 PM\n  \tSábados: 8 AM  a 3 PM Domingos: Cerrados\n\t• Con esta formación, obtendrás un Título Oficial Mexicano respaldado por la acreditación en USA y, además, un título propio europeo del prestigioso Instituto Raimond Gaja. Esto te brinda una ventaja competitiva única: una credencial reconocida tanto en México como en el extranjero, abriendo puertas en el mercado laboral global. ¡Aprovecha esta oportunidad para formarte con estándares internacionales y destacar en cualquier escenario profesional!           \n\n\t \n## Enlaces de Pago de Inscripción:\n \nCuando elusuario solicite inscribirse, realizar el pago de la inscripción o acepte que le envíes el enlace de inscripción, proporciónale, el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- Maestrías: https://app.universidadisep.com/shop/category/maestrias-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n \n##Contenido plan de estudios: “Domina la Educación y Transforma el Futuro: Lo que Aprenderás en Esta Maestría”\n\"Imagina que cada aula se convierte en un laboratorio de ideas y creatividad, donde el aprendizaje se vive como una experiencia transformadora. No se trata solo de transmitir información, sino de crear un entorno que potencie el talento, fomente la creatividad y cultive el pensamiento crítico. Tienes la responsabilidad no solo de enseñar, sino de inspirar un cambio real en el sistema educativo. Para lograrlo, necesitas una formación sólida y herramientas pedagógicas actualizadas. Esa es la diferencia entre un educador que 'intenta enseñar' y uno que realmente transforma el futuro.\"\n\"Esta maestría en Educación no solo te brindará conocimientos avanzados, sino que te convertirá en un especialista capaz de liderar procesos de innovación y diseñar estrategias efectivas para el aula del siglo XXI 🚀. Cada módulo está diseñado para proporcionarte metodologías innovadoras, permitiéndote evaluar, diseñar y aplicar técnicas pedagógicas que impulsen el desarrollo integral de tus estudiantes. Descubrirás cómo cada módulo te llevará al siguiente nivel en tu carrera y te preparará para transformar el futuro a través del poder de la educación 📚\n\n 📌 MÓDULO 1: Fundamentos Neuropsicológicos del Aprendizaje\n✅ ¿Cómo te beneficiarás?\nTe especializarás en comprender las bases neuropsicológicas que sustentan el aprendizaje, permitiéndote diseñar intervenciones basadas en el funcionamiento cerebral.\n🔹 Ejemplo real:\nSi un alumno tiene dificultades para retener información, identificarás cómo sus procesos cognitivos influyen en su rendimiento y aplicarás estrategias que optimicen su aprendizaje.\n________________________________________\n📌 MÓDULO 2: Teorías y Modelos de Aprendizaje\n✅ ¿Cómo te beneficiarás?\nTe especializarás en analizar y comparar las principales teorías y modelos de aprendizaje, lo que te permitirá adaptar tus métodos a las necesidades específicas de cada contexto educativo.\n🔹 Ejemplo real:\nSi un docente busca innovar en su metodología, recomendarás modelos de aprendizaje basados en evidencia que maximicen la participación y comprensión de sus alumnos.\n________________________________________\n📌 MÓDULO 3: Estrategias de Aprendizaje\n✅ ¿Cómo te beneficiarás?\nTe especializarás en identificar y aplicar estrategias didácticas efectivas que potencien la adquisición y retención del conocimiento en diversos entornos educativos.\n🔹 Ejemplo real:\nSi un grupo de estudiantes presenta dificultades en la lectura, implementarás técnicas que estimulen el análisis crítico y la comprensión profunda de los textos.\n________________________________________\n📌 MÓDULO 4: Planeación Educativa y Diseño Curricular\n✅ ¿Cómo te beneficiarás?\nTe especializarás en diseñar currículos innovadores y planes educativos adaptados a las necesidades del siglo XXI, integrando metodologías modernas y flexibles.\n🔹 Ejemplo real:\nSi una institución necesita renovar su oferta educativa, desarrollarás un diseño curricular que incorpore tecnologías emergentes y enfoques pedagógicos actualizados.\n________________________________________\n📌 MÓDULO 5: Evaluación e Intervención Psicopedagógica\n✅ ¿Cómo te beneficiarás?\nTe especializarás en aplicar evaluaciones integrales para diagnosticar dificultades y diseñar intervenciones personalizadas que impulsen el desarrollo de cada estudiante.\n🔹 Ejemplo real:\nSi identificas que un alumno tiene un déficit en áreas específicas, utilizarás herramientas de evaluación precisas para implementar un plan de intervención que aborde sus necesidades.\n________________________________________\n📌 MÓDULO 6: Recursos Psicopedagógicos para la Interculturalidad\n✅ ¿Cómo te beneficiarás?\nTe especializarás en integrar recursos y metodologías que enriquezcan la diversidad cultural en el aula, promoviendo un ambiente inclusivo y respetuoso.\n🔹 Ejemplo real:\nSi trabajas en un centro con estudiantes de diversas procedencias, implementarás estrategias que celebren la diversidad y faciliten la integración de todos.\n________________________________________\n📌 MÓDULO 7: Procesos de Mediación en la Resolución de Conflictos\n✅ ¿Cómo te beneficiarás?\nTe especializarás en aplicar técnicas de mediación para transformar conflictos en oportunidades de aprendizaje y fortalecer la convivencia escolar.\n🔹 Ejemplo real:\nSi surge un conflicto entre estudiantes, pondrás en práctica métodos de mediación que restauren el diálogo y la armonía en el aula.\n________________________________________\n📌 MÓDULO 8: Técnicas de Modificación de Conducta en el Aula\n✅ ¿Cómo te beneficiarás?\nTe especializarás en desarrollar e implementar estrategias para modificar conductas problemáticas, creando un ambiente educativo positivo y productivo.\n🔹 Ejemplo real:\nSi un alumno muestra comportamientos disruptivos, aplicarás técnicas de modificación de conducta que mejoren la dinámica grupal y el clima escolar.\n________________________________________\n📌 MÓDULO 9: Atención e Intervención en la Diversidad\n✅ ¿Cómo te beneficiarás?\nTe especializarás en atender a estudiantes con diversas necesidades y estilos de aprendizaje, adaptando tus intervenciones para maximizar el potencial de cada uno.\n🔹 Ejemplo real:\nSi un aula presenta una amplia diversidad, implementarás estrategias diferenciadas que aseguren que cada estudiante reciba la atención adecuada.\n________________________________________\n📌 MÓDULO 10: Altas Capacidades\n✅ ¿Cómo te beneficiarás?\nTe especializarás en identificar y potenciar el talento de alumnos con altas capacidades, desarrollando programas de enriquecimiento y aceleración curricular.\n🔹 Ejemplo real:\nSi un estudiante destaca por su rendimiento, diseñarás iniciativas de enriquecimiento que desafíen y estimulen su potencial al máximo.\n________________________________________\n📌 MÓDULO 11: TICS Aplicadas en la Intervención en el Aprendizaje\n✅ ¿Cómo te beneficiarás?\nTe especializarás en integrar las Tecnologías de la Información y Comunicación en el proceso educativo, facilitando un aprendizaje interactivo y colaborativo.\n🔹 Ejemplo real:\nSi un docente desea innovar en su metodología, le proporcionarás herramientas digitales que impulsen la participación y el aprendizaje autónomo de sus alumnos.\n________________________________________\n📌 MÓDULO 12: Diseño de Instrumentos de Evaluación Educativa\n✅ ¿Cómo te beneficiarás?\nTe especializarás en crear y aplicar instrumentos de evaluación que te permitan medir el progreso y diagnosticar las necesidades específicas de los estudiantes con precisión.\n🔹 Ejemplo real:\nSi una institución requiere evaluar el desempeño académico, desarrollarás herramientas personalizadas que brinden información valiosa para la mejora continua.\n________________________________________\n📌 MÓDULO 13: Acoso Escolar y Ciberbullying\n✅ ¿Cómo te beneficiarás?\nTe especializarás en identificar y abordar situaciones de acoso y ciberbullying, implementando programas preventivos y de intervención que garanticen entornos seguros.\n🔹 Ejemplo real:\nSi se detecta un caso de acoso en el aula, aplicarás estrategias integrales que protejan a los estudiantes y promuevan una convivencia respetuosa.\n________________________________________\n📌 MÓDULO 14: Coaching Educativo\n✅ ¿Cómo te beneficiarás?\nTe especializarás en aplicar técnicas de coaching para potenciar el liderazgo y el desarrollo profesional en el ámbito educativo, fortaleciendo la gestión del cambio.\n🔹 Ejemplo real:\nSi un equipo docente necesita fortalecer su cohesión y estrategias, liderarás sesiones de coaching que impulsen la innovación y el trabajo colaborativo.\n________________________________________\n📌 SEMINARIO DE TRABAJO FINAL\n✅ ¿Cómo te beneficiarás?\nIntegrarás todos los conocimientos adquiridos a lo largo de la maestría en un proyecto final que demuestre tu capacidad para transformar procesos educativos y aportar soluciones innovadoras.\n🔹 Ejemplo real:\nAl presentar tu proyecto final, evidenciarás cómo has aplicado las herramientas y estrategias aprendidas para resolver problemáticas reales en el ámbito educativo.\n\n\n🔹 ¿Por Qué Esta Maestría Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral: Los especialistas en Educación son cada vez más buscados en instituciones, empresas y organismos gubernamentales por su capacidad para innovar y liderar procesos transformadores.\n✔ Aprenderás de expertos reales: Profesionales con amplia experiencia en educación te guiarán en cada módulo, compartiendo estrategias y metodologías comprobadas.\n✔ Flexibilidad y formación 100% online: Avanza a tu ritmo sin afectar tu vida profesional, combinando estudio y experiencia práctica.\n✔ Prácticas opcionales en el extranjero o a distancia: Amplía tu perspectiva internacional y perfecciona tus habilidades en contextos educativos multiculturales.\n✔ ISEP EMPRENDE: Aprende a innovar en el ámbito educativo, a atraer talento y a posicionarte en un mercado en constante evolución.\n🔹 Cierre Emocional y Persuasivo\n\"¿Te imaginas en dos años, liderando proyectos innovadores, transformando aulas en laboratorios de creatividad y colaborando con instituciones de prestigio? Hoy tienes la oportunidad de dar el primer paso hacia un futuro lleno de impacto y éxito 💪✨.\"\n\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "20064ac4-6ddd-4910-8547-de00ae4a203c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "4bd4c2ab-35d0-4022-95fb-b0b7e7b8ff6a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "27d5278c-40c2-4c5e-88b7-d7433293c259",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "3804728b-935c-4f40-8cc0-329c756ec722",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "f201932b-788d-4568-a7a4-ad338c52b291",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "84ff8c5d-4bf3-4f8b-87bd-3f1f2010bc74",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "4bb64b73-4749-4f19-8ef1-04fbfe92adf8",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Especialista_Educación\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "dc73e9fd-bdc0-408b-a6fd-f4cfc088fe45",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-27T14:19:15.000Z",
  "versionId": "cf5ab78f-2730-4c09-b275-325273abb8f8"
}