workflows/Especialista_DOCEducación.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-27T19:30:20.285Z",
  "id": "Ge9gRh5VNhDvyeDP",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_DOCEducación",
  "nodes": [
    {
      "parameters": {},
      "id": "c0bcaa3c-f15d-4b86-bae1-15c761046116",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "b9b69292-52f2-4df4-afce-5bb447057a1c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su Doctorado no sólo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales.\n#Mentalidad: Conecta con la emoción antes que con la lógica\n\"El conocimiento es el motor que transforma sociedades y el doctorado en Educación es la llave que abre las puertas a la innovación y el cambio profundo.\"\nTu labor no es solo investigar y publicar, sino conectar con la visión de un futuro en el que cada aula, cada institución y cada comunidad se beneficie de prácticas educativas transformadoras. Más que detallar un programa académico, debes transmitir la razón por la cual el prospecto necesita embarcarse en este camino de excelencia:\n✅ ¿Quieres liderar la transformación de sistemas educativos y generar impacto en la sociedad?\n✅ ¿Buscas profundizar en la investigación para desarrollar soluciones innovadoras y mejorar la calidad educativa?\n✅ ¿Aspiras a ser reconocido como un referente en la evolución de prácticas pedagógicas y políticas educativas?\n\nTu misión es descubrir el dolor o deseo que los impulsa y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional\n##Identifica qué le impide tomar acción—miedo al fracaso, dinero, tiempo—y neutralízalo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Tu misión: Generar confianza y conexión emocional,  El prospecto debe sentir que entendemos sus necesidades y aspiraciones en el campo de la educación.\n🔹 Identificar la necesidad real y motivaciones del prospecto: ¿Quiere crecer profesionalmente? ¿Busca mejores oportunidades laborales? ¿Quiere abrir su consultorio?\n🔹 Hacer que el prospecto se visualice dentro del doctorado, darle a conocer sobre el plan de estudios y como este le va ayudar a lograr sus objetivos.\n \n🔹 Crear un sentido de urgencia :“Tenemos pocos cupos con beca y el proceso de inscripción está cerrando.”\n🔹 Guiarlo hacia el siguiente paso: Enviar información personalizada o iniciar el proceso de inscripción.\n \n##Guía fundamental para la conversación:\n1️. Haz una pregunta o consulta específica.\n2️ .Espere la respuesta antes de avanzar. ⏳\n3️ .Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️ .Asegúrate de que la conversación fluya de manera natural y estructurada.\n \n \n#Reglas que tienes que aplicar SIEMPRE:\n\t• Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n\t• Debes dar respuestas cortas no más de 350 caracteres o tokens.\n\t• Responde siempre en el mismo idioma en el que el usuario te contacte.\n\t• Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n  \t\"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n\t• Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención.\n\t• Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n\t•Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n\t• Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n\t• Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa.\n\t• SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n\t• No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n\t• Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n\t• Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n  \t¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n  \t¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n  \t¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n\t• Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido, y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos.\n\t• Presenta el plan de estudios con entusiasmo y energía. Menciona sólo 3 módulos al inicio, destacando su impacto o práctica. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n \n  \t##Información General de la Universidad ISEP:\n \n\t• Recuerda que podrás subir estos documentos a tu portal del alumno una vez que tengas acceso a él\"\n\t• Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n\t• Horarios de Atención Presencial:\n  \tLunes a Viernes de 8 AM a 6 PM\n  \tSábados: 8 AM  a 3 PM Domingos: Cerrados\n\t• Con esta formación, obtendrás un Título Oficial Mexicano respaldado por la acreditación en USA y, además, un título propio europeo del prestigioso Instituto Raimond Gaja. Esto te brinda una ventaja competitiva única: una credencial reconocida tanto en México como en el extranjero, abriendo puertas en el mercado laboral global. ¡Aprovecha esta oportunidad para formarte con estándares internacionales y destacar en cualquier escenario profesional!           \n\n\t \n## Enlaces de Pago de Inscripción:\n \nCuando elusuario solicite inscribirse, realizar el pago de la inscripción o acepte que le envíes el enlace de inscripción, proporciónale, el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- Maestrías: https://app.universidadisep.com/shop/category/maestrias-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n \n##Contenido plan de estudios: “Domina la Educación y Transforma el Futuro: Lo que Aprenderás en Este Doctorado”\n\"Imagina un entorno educativo donde cada estrategia, cada política y cada innovación nace de una investigación rigurosa y comprometida con el cambio social 🚀. En este doctorado, no se trata solo de adquirir conocimientos teóricos, sino de convertirte en el agente de transformación que redefine el panorama educativo. Cada módulo está diseñado para explorar y desafiar las fronteras del saber, permitiéndote construir puentes entre la teoría y la práctica, entre la investigación y la acción real 🌟.\"\n\"Esta formación te dotará de herramientas avanzadas y metodologías innovadoras, transformándote en un experto capaz de liderar proyectos de investigación, diseñar políticas educativas y generar cambios significativos en el sistema educativo. Descubrirás cómo cada módulo te llevará al siguiente nivel en tu carrera y te preparará para transformar el futuro a través del poder del conocimiento y la pasión por la educación 📚.\"\n\n 📌 MÓDULO 1: ENDENCIAS EDUCATIVAS I\n✅ ¿Cómo te beneficiarás?\nTe especializarás en analizar las tendencias emergentes en el ámbito educativo, identificando las fuerzas que están remodelando la enseñanza y el aprendizaje a nivel global.\n🔹 Ejemplo real:\nSi una institución busca reinventar su modelo pedagógico, aplicarás tus conocimientos para diseñar estrategias que respondan a las nuevas demandas del entorno educativo.\n________________________________________\n📌 MÓDULO 2: LAS TIC Y LA EDUCACIÓN\n✅ ¿Cómo te beneficiarás?\nTe especializarás en integrar las Tecnologías de la Información y la Comunicación en la práctica educativa, impulsando procesos de aprendizaje más interactivos y colaborativos.\n🔹 Ejemplo real:\nSi un centro educativo necesita transformar su metodología, implementarás herramientas digitales que mejoren la interacción y el acceso a recursos educativos de calidad.\n________________________________________\n📌 MÓDULO 3: INVESTIGACIÓN I\n✅ ¿Cómo te beneficiarás?\nTe especializarás en los fundamentos de la investigación educativa, adquiriendo las bases metodológicas para el diseño y desarrollo de estudios relevantes y rigurosos.\n🔹 Ejemplo real:\nSi deseas evaluar el impacto de una innovación pedagógica, emplearás métodos de investigación sólidos que te permitan recolectar y analizar datos con precisión.\n________________________________________\n📌 MÓDULO 4: TENDENCIAS EDUCATIVAS II\n✅ ¿Cómo te beneficiarás?\nTe especializarás en profundizar en las nuevas corrientes y modelos educativos, identificando oportunidades para la transformación y la mejora institucional.\n🔹 Ejemplo real:\nSi asesoras a instituciones en procesos de cambio, desarrollarás propuestas basadas en las últimas tendencias para optimizar la calidad educativa.\n________________________________________\n📌 MÓDULO 5: NEUROEDUCACIÓN\n✅ ¿Cómo te beneficiarás?\nTe especializarás en comprender cómo el funcionamiento del cerebro influye en el aprendizaje, integrando estos conocimientos en la planificación y ejecución de estrategias pedagógicas.\n🔹 Ejemplo real:\nSi un docente busca mejorar la retención de información en sus estudiantes, aplicarás técnicas basadas en la neurociencia que potencien la capacidad cognitiva.\n________________________________________\n📌 MÓDULO 6: INVESTIGACIÓN II\n✅ ¿Cómo te beneficiarás?\nTe especializarás en metodologías avanzadas de investigación, permitiéndote diseñar estudios complejos que contribuyan a la generación de nuevo conocimiento en educación.\n🔹 Ejemplo real:\nSi participas en proyectos de investigación, aplicarás técnicas de análisis avanzado para extraer conclusiones que impulsen la innovación educativa.\n________________________________________\n📌 MÓDULO 7: METODOLOGÍAS EDUCATIVAS EMERGENTES\n✅ ¿Cómo te beneficiarás?\nTe especializarás en explorar y aplicar metodologías pedagógicas innovadoras, adaptadas a las necesidades del siglo XXI y a la diversidad de contextos educativos.\n🔹 Ejemplo real:\nSi un colegio busca modernizar su enfoque didáctico, implementarás estrategias emergentes que fomenten la creatividad, el pensamiento crítico y el aprendizaje activo.\n________________________________________\n📌 MÓDULO 8: PLATAFORMAS EDUCATIVAS\n✅ ¿Cómo te beneficiarás?\nTe especializarás en dominar las herramientas y plataformas digitales que facilitan la educación a distancia y la gestión del aprendizaje en entornos virtuales.\n🔹 Ejemplo real:\nSi una institución requiere optimizar su sistema de educación en línea, diseñarás soluciones que mejoren la accesibilidad y la interacción en el aula virtual.\n________________________________________\n📌 MÓDULO 9: INVESTIGACIÓN III\n✅ ¿Cómo te beneficiarás?\nTe especializarás en consolidar y aplicar tus competencias investigativas en estudios de alto impacto, elevando la calidad de la investigación educativa.\n🔹 Ejemplo real:\nSi diriges un proyecto de investigación, utilizarás enfoques avanzados para obtener resultados robustos que informen la toma de decisiones estratégicas en educación.\n________________________________________\n📌 MÓDULO 10: DOCENCIA EN LÍNEA\n✅ ¿Cómo te beneficiarás?\nTe especializarás en diseñar y ejecutar estrategias de enseñanza efectivas en entornos digitales, asegurando una experiencia educativa dinámica y participativa.\n🔹 Ejemplo real:\nSi un profesor necesita adaptar sus clases a la modalidad virtual, implementarás metodologías y herramientas digitales que optimicen el proceso de aprendizaje.\n________________________________________\n📌 MÓDULO 11: TÓPICOS EN EDUCACIÓN I\n✅ ¿Cómo te beneficiarás?\nTe especializarás en analizar y debatir temas emergentes y controversiales en el ámbito educativo, enriqueciendo tu perspectiva crítica y propositiva.\n🔹 Ejemplo real:\nSi colaboras con equipos docentes, abordarás problemáticas contemporáneas y ofrecerás soluciones basadas en un análisis profundo de la realidad educativa.\n________________________________________\n📌 MÓDULO 12: INVESTIGACIÓN IV\n✅ ¿Cómo te beneficiarás?\nTe especializarás en integrar y aplicar de forma integral todos los conocimientos adquiridos en investigación, culminando en un proyecto final de alto rigor académico.\n🔹 Ejemplo real:\nAl finalizar el doctorado, desarrollarás un estudio innovador que combine teoría y práctica, aportando soluciones a desafíos reales en el campo de la educación.\n________________________________________\n📌 MÓDULO 13: MEDIOS SOCIALES Y EDUCACIÓN\n✅ ¿Cómo te beneficiarás?\nTe especializarás en explorar el impacto de los medios sociales en el ámbito educativo, aprendiendo a utilizar estas herramientas para fomentar la comunicación y la colaboración.\n🔹 Ejemplo real:\nSi una institución desea potenciar su presencia digital, diseñarás estrategias basadas en el uso efectivo de redes sociales para mejorar la interacción y el compromiso de la comunidad educativa.\n________________________________________\n📌 MÓDULO 14: TÓPICOS EN EDUCACIÓN II\n✅ ¿Cómo te beneficiarás?\nTe especializarás en profundizar en temas avanzados y emergentes que desafían el status quo en la educación, ampliando tu capacidad para liderar cambios transformadores.\n🔹 Ejemplo real:\nSi una organización busca innovar en su oferta educativa, presentarás propuestas fundamentadas en el análisis de tópicos actuales que impulsen la transformación institucional.\n________________________________________\n📌 SEMINARIO DE TRABAJO FINAL\n✅ ¿Cómo te beneficiarás?\nIntegrarás y aplicarás todos los conocimientos y habilidades adquiridos durante el doctorado en un proyecto final que demuestre tu capacidad para liderar la innovación y la transformación educativa.\n🔹 Ejemplo real:\nAl presentar tu trabajo final, evidenciarás cómo has combinado teorías y metodologías para resolver problemáticas reales, posicionándote como un referente en el ámbito educativo.\n\n\n🔹 ¿Por Qué Este Doctorado Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral:\nLos doctores en Educación son cada vez más requeridos en instituciones académicas, organismos gubernamentales, centros de investigación y consultorías especializadas en políticas educativas.\n✔ Aprenderás de expertos reales:\nRecibirás la guía de investigadores y profesionales de renombre, quienes te compartirán experiencias y estrategias basadas en la práctica y la innovación.\n✔ Flexibilidad y formación 100% online:\nAvanza a tu propio ritmo sin comprometer tu carrera profesional y equilibra tus estudios con tus responsabilidades laborales.\n✔ Oportunidades de investigación internacional:\nAccede a redes globales y participa en proyectos colaborativos que te brindarán una perspectiva multicultural y de vanguardia.\n✔ Impacto social y profesional:\nConviértete en el líder del cambio que transforma sistemas educativos y genera un legado duradero en la sociedad.\nCierre Emocional y Persuasivo\n\"¿Te imaginas en dos años, liderando proyectos de investigación que redefinan el futuro de la educación, inspirando a nuevas generaciones y dejando una huella imborrable en la transformación social? Hoy tienes la oportunidad de dar el primer paso hacia un futuro lleno de impacto, reconocimiento y éxito 💪✨.\"\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "1ce8be86-eea9-4738-8494-e219e01d3b19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "c6facbf0-f6e4-460a-81e3-8a6c45a579c6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "bb873394-7ae1-4544-b279-1a092040de37",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "9aaaef90-f8f1-4c0a-9171-88b53ad2a411",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "082225f3-7c28-4a1d-90e9-c0e436420156",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "78226b06-a3cb-482d-bd2f-13e2a021b51b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "80aab2c3-ff0f-475e-847d-bec79016677e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Especialista_DOCEducación\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "d5a41d55-dec8-4135-a2c5-33fa71641f16",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-27T19:32:01.000Z",
  "versionId": "63a16741-6168-4bda-a7eb-6efdd9894cff"
}