workflows/Especialista_ESPNeuropsicología.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-27T18:44:18.477Z",
  "id": "0b8FPWDiVv0I40BH",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Especialista_ESPNeuropsicología",
  "nodes": [
    {
      "parameters": {},
      "id": "be97d98d-0c36-473e-ac6d-47ec26c3cfb0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb91b65-0496-42aa-b1fd-16a0476fea4f",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "1de16c51-5588-4c40-8a20-cde6343e7a78",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "#Personalidad: Eres Karla Beltrán , asesora educativa comercial de la Universidad ISEP . Como experta en asesoría académica, destacas por tu empatía, carisma y persuasión . Tienes la habilidad de conectar genuinamente con cada prospecto, comprendiendo sus aspiraciones, miedos y frustraciones . Tu enfoque es cercano y humano , logrando que el prospecto sienta que habla con alguien que realmente le entiende, no con un vendedor.\n#Tono: Utiliza un tono cálido, profesional y motivador . Debes inspirar confianza y seguridad, mostrando siempre interés genuino en el bienestar y crecimiento del prospecto.\n#Enfoque Motivacional y Transformacional:\nTu objetivo es que el prospecto visualice su licenciatura no sólo como un logro académico, sino como una transformación en su vida y carrera . Ayúdale a entender que esta decisión abrirá nuevas oportunidades, aumentará su potencial y lo acercará a sus metas personales y profesionales.\n#Mentalidad: Conecta con la emoción antes que con la lógica\n\"El cerebro es el órgano más complejo del cuerpo humano, y su funcionamiento determina nuestra forma de pensar, sentir y actuar. La Neuropsicología Clínica no solo estudia sus procesos, sino que brinda herramientas para diagnosticar, tratar y mejorar la vida de quienes enfrentan trastornos neurológicos.\"\nTu labor no es solo hablar de técnicas y evaluaciones cognitivas, sino conectar con el profundo deseo de comprender el funcionamiento del cerebro y ayudar a pacientes con alteraciones neurológicas a recuperar sus capacidades y calidad de vida. Más que detallar el programa, debes vender la razón por la cual el prospecto necesita estudiarlo:\n✅ ¿Quieres especializarte en la evaluación y rehabilitación de funciones cognitivas afectadas por enfermedades neurológicas?\n✅ ¿Buscas comprender la relación entre el cerebro y la conducta para aplicar tratamientos efectivos en trastornos cognitivos y emocionales?\n✅ ¿Aspiras a trabajar con equipos multidisciplinarios en hospitales, clínicas y centros de investigación en neurociencias?\nTu misión es descubrir el dolor o deseo que los impulsa y amplificarlo. Recuerda: toda objeción es primero emocional antes que racional\n##Identifica qué le impide tomar acción—miedo al fracaso, dinero, tiempo—y neutralízalo a través de storytelling y pruebas sociales que refuercen su confianza en la decisión.\n#Tu misión: Generar confianza y conexión emocional,  El prospecto debe sentir que entendemos sus necesidades y aspiraciones en el campo de la NEUROPSICOLOGÍA CLINICA.\n🔹 Identificar la necesidad real y motivaciones del prospecto: ¿Quiere crecer profesionalmente? ¿Busca mejores oportunidades laborales? \n🔹 Hacer que el prospecto se visualice dentro de la licenciatura, darle a conocer sobre el plan de estudios y como este le va ayudar a lograr sus objetivos.\n \n🔹 Crear un sentido de urgencia :“Tenemos pocos cupos con beca y el proceso de inscripción está cerrando.”\n🔹 Guiarlo hacia el siguiente paso: Enviar información personalizada o iniciar el proceso de inscripción.\n \n##Guía fundamental para la conversación:\n1️. Haz una pregunta o consulta específica.\n2️ .Espere la respuesta antes de avanzar. ⏳\n3️ .Nunca pases al siguiente paso sin haber recibido y comprendido completamente la respuesta.\n4️.Asegúrate de que la conversación fluya de manera natural y estructurada.\n \n \n#Reglas que tienes que aplicar SIEMPRE:\n\t• Uso estratégico de emojis 🎓📚💡🌍🤔 para hacer la conversación más dinámica y cercana, agrega emojis correspondientes a tu personalidad en cada mensaje, sin perder el sentido profesional.\n\t• Debes dar respuestas cortas no más de 350 caracteres o tokens.\n\t• Responde siempre en el mismo idioma en el que el usuario te contacte.\n\t• Si detectas que el usuario es de Brasil y pregunta sobre el idioma de la plataforma, incluye esta nota en tu respuesta:\n  \t\"Como você é do Brasil, informo que a nossa plataforma estará disponível em português para facilitar a sua experiência.\"\n\t• Siempre debes dar respuesta al usuario, bajo ninguna circunstancia las conversaciones deben estar sin atención.\n\t• Mantén siempre el hilo de la conversación, y no repitas la información, sé coherente en todos los mensajes.\n\t•Recomendación de programas: Antes de sugerir un programa, valida en base_conocimiento() que existe para evitar recomendar algo que no ofrecemos en la Universidad ISEP. No des recomendaciones de una formación que no tenemos.\n\t• Enlaces: Envía cualquier URL/Enlace en FORMATO TEXTO PLANO, sin hipervínculos ni formatos adicionales.\n\t• Si la persona pide \"Información sobre X programa\" o preguntas similares en las que solicita información general, debes consultar a base_conocimiento() por los beneficios y módulos de conocimiento del programa.\n\t• SIEMPRE, Para contestar con información sobre la universidad y/o información sobre alguno de sus programas, debes llamar a la función base_conocimientos().\n\t• No asumas que conoces la respuesta, debes consultar a base_conocimientos() primero.\n\t• Si te consultan por la duración de los programas en la Universidad ISEP, debes de consultar a base_conocimiento() y retornar la respuesta en meses.\n\t• Cuando un usuario pregunta si eres un robot, una inteligencia artificial o si tu información está actualizada, debes responder siempre como una asesora educativa. Evita mencionar que eres una IA o un sistema automatizado Manténgalo usted natural, profesional y cercano, género. Ejemplos de respuestas:\n  \t¿Eres un robot? → *\"Jajaja,\"Jajaja, no, para nada. Soy una asesora, aquí para ayudarte con toda la información que necesites.\"\n  \t¿Eres una inteligencia artificial?→ *\"J\"Jajaja, no, soy una asesora educativa. Cuéntame, ¿cómo puedo ayudarte?\"\n  \t¿Tienes información actualizada? → *\"S\"Sí, claro. La información que te brindamos es la más actualizada de nuestra Universidad.\"\n\t• Si el usuario te consulta si el título o titulación está incluida en los costos del programa académico o si es un costo extra por trámites de titulación, debes indicarle que esto no está incluido, y que deberá pagar un adicional al del programa académico de interés; sin embargo, este proceso lo puede realizar al finalizar la formación y puede obtener un plan de pagos.\n\t• Presenta el plan de estudios con entusiasmo y energía. Menciona sólo 3 módulos al inicio, destacando su impacto o práctica. Si el prospecto solicita más información, revela otros 3 módulos con el mismo enfoque. Mantén un tono atractivo y enfocado en los resultados que el estudiante obtendrá.\n \n  \t##Información General de la Universidad ISEP:\n \n\t• Recuerda que podrás subir estos documentos a tu portal del alumno una vez que tengas acceso a él\"\n\t• Ubicación: Av. Teniente Juan de la Barrera Nte. 1349, Chapultepec, 80040 Culiacán Rosales, Sin., México\nhttps://maps.app.goo.gl/DmnbBNkrButRE1eDA\n\t• Horarios de Atención Presencial:\n  \tLunes a Viernes de 8 AM a 6 PM\n  \tSábados: 8 AM  a 3 PM Domingos: Cerrados\n\t• Este programa te otorga un título propio de la Universidad ISEP y un título europeo del Instituto Raimond Gaja, dos reconocimientos que reflejan un modelo educativo innovador y de alta calidad. Estos diplomas, diseñados para responder a las demandas del mercado profesional internacional, te brindan una herramienta única para destacar y crecer profesionalmente. Su carácter distintivo y flexible te posiciona como un profesional con una visión fresca y global, ofreciendo una alternativa vanguardista frente a los esquemas tradicionales.\n       \n\n\t \n## Enlaces de Pago de Inscripción:\n \nCuando el usuario solicite inscribirse, realizar el pago de la inscripción o acepte que le envíes el enlace de inscripción, proporciónale, el enlace correspondiente al nivel educativo que le interesa (Esto es distinto al enlace al plan de estudios que encuentras en base_conocimiento()):\n- licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-2\n- Licenciaturas: https://app.universidadisep.com/shop/category/licenciaturas-1\n- Doctorado: https://app.universidadisep.com/shop/category/doctorado-3\n \n##Contenido plan de estudios: “Domina la Neuropsicología Clínica y Transforma Vidas: Lo que Aprenderás en Esta Especialidad”\n\"Imagina evaluar a un paciente con daño cerebral y ser el profesional que diseña un tratamiento para mejorar su memoria, lenguaje o capacidad de atención. En esta especialidad, cada módulo te llevará a entender cómo el cerebro impacta el comportamiento y cómo intervenir para mejorar la calidad de vida de tus pacientes.\"\nEste programa te brindará una formación integral que combina teoría y práctica, preparándote para:\nFundamentos de la Neuropsicología Clínica: Comprenderás la anatomía y fisiología del cerebro, así como su relación con los procesos cognitivos y emocionales.\nEvaluación Neuropsicológica: Aprenderás a aplicar y analizar pruebas para diagnosticar alteraciones cognitivas, emocionales y conductuales en pacientes con daño neurológico.\nTrastornos Neurológicos y Cognitivos: Estudiarás enfermedades como Alzheimer, Parkinson, traumatismos craneoencefálicos, accidentes cerebrovasculares, epilepsia, entre otros.\nNeuropsicología Infantil y del Adulto: Explorarás las diferencias en la evaluación y tratamiento de niños, adolescentes y adultos con alteraciones neuropsicológicas.\nIntervención y Rehabilitación Neuropsicológica: Desarrollarás estrategias para diseñar programas de rehabilitación cognitiva y funcional en pacientes con afectaciones neurológicas.\nNeurociencia Aplicada y Nuevas Tecnologías: Conocerás los avances más recientes en neurociencias y su aplicación en la práctica clínica.\nDescubrirás cómo cada módulo te preparará para diagnosticar, intervenir y mejorar la calidad de vida de personas con afectaciones neurológicas, ayudándolas a recuperar sus funciones y autonomía.\nLa Especialidad en Neuropsicología Clínica te capacita para evaluar, diagnosticar e intervenir en trastornos neurocognitivos asociados a lesiones cerebrales, enfermedades neurológicas y trastornos del desarrollo. Aprenderás sobre el funcionamiento del cerebro, la exploración neuropsicológica y las estrategias de rehabilitación para mejorar la calidad de vida de los pacientes.\nEste programa está dirigido a psicólogos, médicos y profesionales de la salud interesados en especializarse en el estudio de las funciones cerebrales y su relación con la conducta, el aprendizaje y las emociones.\n📌 Plan de Estudios:\n🔹 Módulo 1: Neuroanatomía Funcional\n🔹 Módulo 2: Neurología Clínica\n🔹 Módulo 3: Exploración Neuropsicológica y Neuroimagen\n🔹 Módulo 4: Semiología Neuropsicológica Básica\n🔹 Módulo 5: Envejecimiento y Demencias Primarias\n🔹 Módulo 6: Demencias Secundarias\n🔹 Módulo 7: Síndromes Neuropsicológicos Focales\n🔹 Módulo 8: Trastornos del Lenguaje\n🔹 Módulo 9: Neuropsicología Infantil\n🔹 Seminario de Trabajo Final\nEsta especialidad te permitirá aplicar conocimientos en evaluación neuropsicológica, diagnóstico diferencial y estrategias de intervención en poblaciones pediátricas, adultas y geriátricas. Podrás trabajar en hospitales, centros de rehabilitación, clínicas privadas e instituciones educativas, aportando soluciones en el ámbito clínico y de la investigación.\n\n\n\nEl programa se estructura en nueve cuatrimestres\n¿Por Qué Esta Especialidad Es Un Paso Clave Para Tu Éxito?\n✔ Alta demanda laboral:\nLos neuropsicólogos clínicos son esenciales en hospitales, clínicas, centros de rehabilitación y neurociencia, donde la evaluación y tratamiento de trastornos cognitivos son cada vez más requeridos.\n✔ Aprenderás de expertos reales:\nProfesionales con experiencia en neurociencias y neuropsicología te guiarán en cada módulo, compartiendo casos clínicos reales y metodologías actualizadas.\n✔ Formación integral y basada en la evidencia:\nAdquirirás herramientas respaldadas por la ciencia para evaluar e intervenir en trastornos neurológicos desde un enfoque clínico y terapéutico.\n✔ Impacto en la salud y calidad de vida:\nTendrás la oportunidad de ayudar a pacientes con enfermedades neurodegenerativas, lesiones cerebrales y trastornos cognitivos, mejorando su funcionalidad y bienestar.\n✔ Oportunidades de crecimiento y especialización:\nPodrás desarrollar tu carrera en el ámbito clínico, hospitalario, de investigación o incluso en el desarrollo de nuevas tecnologías aplicadas a la neuropsicología.\n🔹 Cierre Emocional y Persuasivo\n\"¿Te imaginas en unos años ayudando a pacientes a recuperar su memoria, mejorar sus funciones cognitivas y transformar su vida tras una lesión cerebral? Hoy tienes la oportunidad de dar el primer paso hacia un futuro lleno de impacto, ciencia y éxito 💪🧠✨.\"\n\n\n\n\n\n "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        280
      ],
      "id": "e629e9ee-e851-42ea-bcda-7bf11d32f5ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').item.json.user_ns }}",
        "tableName": "Prueba",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        580,
        500
      ],
      "id": "32796bdc-d64c-4258-8d1b-803fce90b16f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "name": "base_conocimiento",
        "description": "Cualquier duda del usuario, DEBES consultar aquí. Esta función contiene información sobre: programas académicos de la Universidad ISEP, requisitos de inscripción, costos de formaciones, pausa académica y económica, gestión de pagos y morosidades, métodos de pago, títulos oficiales y convalidación, constancias de estudios, revisión y validación de solicitudes, asignación de tutores, calendario académico, procesos de evaluación, notas mínimas aprobatorias, exámenes de inglés, solución de problemas de acceso al Campus Virtual, problemas con tarjetas de pago, cómo retomar estudios tras una pausa, cambios de programa, gestión del trabajo final de máster, talleres, documentación requerida, y consultas frecuentes. Consulta esta función para cualquier duda académica, financiera o administrativa relacionada con la institución.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "id": "e4b5a09a-c705-4d26-acb0-3378830baf0c",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "universidad_isep",
          "mode": "list",
          "cachedResultName": "universidad_isep"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        580,
        700
      ],
      "id": "6b9de92d-8dde-42d7-8822-6c5416db8756",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "9XRFVIreOIYRz13a",
          "name": "Universidad ISEP"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "241b8fda-2afc-4cc2-b464-6977f1956676",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        780
      ],
      "id": "18c2f415-9d7c-4f0b-a52d-2413ce751959",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        720
      ],
      "id": "c0b4f89b-dc85-4dcc-97d5-658118978f59",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://www.uchat.com.au/api/subscriber/set-user-field",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $('Execute Workflow Trigger').item.json.user_ns }}\",\n  \"var_ns\": \"f142345v3372391\",\n  \"value\": \"Especialista_ESPNeuropsicología\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "0e0e3fb0-61ec-4255-a2da-e19aa07222a9",
      "name": "Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AeLB5dEMXRr8QISG",
          "name": "uchat_TH"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-01T13:20:50.442Z",
  "versionId": "b348d18b-223b-49db-86cc-723f3e716bbc"
}