workflows/facturas_chatbot.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Odoo": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo2": {
      "main": [
        [
          {
            "node": "Odoo4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo3": {
      "main": [
        []
      ]
    },
    "Odoo4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Odoo5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T20:39:55.156Z",
  "id": "bBUBq78zUe8VFqv2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "facturas_chatbot",
  "nodes": [
    {
      "parameters": {},
      "id": "cc4e0bd5-d29d-4271-9635-084e440afd13",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        420,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9724f99-341a-41f0-bcce-77e141b3f3f2",
              "name": "=response",
              "value": "=Tu formación vence: *{{ $json.due_date }}*|Continua al siguiente paso, siguiendo con la conversación natural y las instrucciones que tienes. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        680
      ],
      "id": "bf1229c7-1e0c-4a09-ab32-897fd9d4235a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "584be2be-5916-4e9f-88e6-8f5f4bd05164",
              "name": "response",
              "value": "=Debes un total de: {{ $json.amount_residual }} {{ $json.currency_id[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        320
      ],
      "id": "b5b5a21b-87c4-460d-9bf2-ae4d3e69eb42",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "op.student",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "partner_id",
              "value": "={{ $json.query.nombre }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        680,
        420
      ],
      "id": "9ec754f6-2259-4bab-8106-3f055ef13e73",
      "name": "Odoo",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "op.admission",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "due_date",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "email",
              "value": "={{ $json.query.correo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        600,
        680
      ],
      "id": "0ba76891-e862-490b-bd57-2fc7fc2fc9d7",
      "name": "Odoo1",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "email",
              "value": "psicomarcelamar@gmail.com"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        700,
        180
      ],
      "id": "57afc7a7-1624-4d6f-ab8e-1cdc6f945cf7",
      "name": "Odoo2",
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "sale.order",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "partner_id",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "state",
              "value": "sale"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        400,
        -80
      ],
      "id": "a73bff14-4d71-478b-a784-025ec70ae7a6",
      "name": "Odoo3",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "account.move",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "order_subscription_id",
            "date"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "partner_id",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "sequence_prefix",
              "value": "INV/"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        900,
        180
      ],
      "id": "c8587b24-832d-4f22-9192-9786e73c51c0",
      "name": "Odoo4",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fac5652f-7640-42f7-bb31-ff313cbd9499",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        180
      ],
      "id": "dc37ce15-72a3-41dd-89cd-9d7a511f310d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "account.move",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "amount_residual"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "partner_id",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "sequence_prefix",
              "value": "INV/"
            },
            {
              "fieldName": "state",
              "value": "posted"
            },
            {
              "fieldName": "payment_state",
              "value": "partial"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1360,
        80
      ],
      "id": "935f6e78-513c-436d-b19e-6125ad1e143b",
      "name": "Odoo5",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "account.move",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "order_subscription_id",
            "date"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "partner_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        920,
        -120
      ],
      "id": "00af7e0b-6b7f-46a5-9a8a-e1db4772bed1",
      "name": "Odoo6",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-26T20:39:55.156Z",
  "versionId": "d33bcdf6-8628-4832-9ed2-2bf12d3e9e03"
}