workflows/FlujoBunnyCopia.json
{
  "active": false,
  "connections": {
    "Microsoft OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-11-23T00:21:25.020Z",
  "id": "pMgLZcKRIEhCurBg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "FlujoBunnyCopia",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "89901bcf-5cf9-440e-9107-355a294cba9f",
      "name": "Microsoft OneDrive Trigger",
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        640,
        360
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "binaryPropertyName": "=data"
      },
      "id": "4c5b2a67-1260-4b64-b14d-0800dd59284d",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1040,
        360
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ee75e80-c396-4627-9165-9a8b3c155bfb",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2e47b6d-cd15-4f8c-adb7-3581910cb4e2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        860,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://video.bunnycdn.com/library/342069/videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AccessKey",
              "value": "a32a4af0-9a8d-4603-9c6412ce7363-c329-4c09"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "2c7c421b-3c64-4a0f-8c58-2d71e7c1f206",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        420
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://video.bunnycdn.com/library/342069/videos/992b819a-39c6-41e9-b6fe-49df2a287362\t",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AccessKey",
              "value": "673be0a1-be84-400f-aa609e6390c5-ef68-4b6d"
            },
            {
              "name": "content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "id": "79af9f39-2580-4c43-a9b1-16580f17f2f6",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "3915d7bf-e5af-4d2b-a8de-40ac537961aa",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1700,
        800
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "55c19de0-6ee2-463b-9ace-d6ada9e7ac67",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        240
      ],
      "credentials": {}
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-23T00:21:25.020Z",
  "versionId": "ff17801c-83d7-44d4-b980-abf44421112d"
}