workflows/Integration Facebook Lead Ads, HTTP MX_DOC.json
{
  "active": true,
  "connections": {
    "Odoo": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Lead Ads Trigger": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-24T20:43:54.908Z",
  "id": "E3uceKT2GwY1c2dO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Integration Facebook Lead Ads, HTTP MX_DOC",
  "nodes": [
    {
      "parameters": {
        "page": {
          "__rl": true,
          "value": "104022764963444",
          "mode": "list",
          "cachedResultName": "Universidad ISEP",
          "cachedResultUrl": "https://facebook.com/104022764963444"
        },
        "form": {
          "__rl": true,
          "value": "789319629315339",
          "mode": "list",
          "cachedResultName": "MX_MAE_B1_TOP_Convertion_marzo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.facebookLeadAdsTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        -100
      ],
      "id": "7da2ea68-b20a-45ab-bbde-df68e34b76fa",
      "name": "Facebook Lead Ads Trigger",
      "webhookId": "fc6adae6-7e23-419c-b30d-372bb2fba1e8",
      "credentials": {
        "facebookLeadAdsOAuth2Api": {
          "id": "EoRlYPObogRHaaj7",
          "name": "Facebook Lead Ads account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "crm.lead",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $json.data.full_name }}"
            },
            {
              "fieldName": "type",
              "fieldValue": "lead"
            },
            {
              "fieldName": "contact_name",
              "fieldValue": "={{ $json.data.full_name }}"
            },
            {
              "fieldName": "email_from",
              "fieldValue": "={{ $json.data.email }}"
            },
            {
              "fieldName": "phone",
              "fieldValue": "={{ $json.data.phone_number }}"
            },
            {
              "fieldName": "country_id",
              "fieldValue": "156"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        80,
        -100
      ],
      "id": "421d5dee-ce18-4f48-9202-bbe226a6fa12",
      "name": "Odoo",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://workflow.universidadisep.com/webhook/6df49dfe-210b-45aa-b62d-efae56c711d3",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Facebook Lead Ads Trigger').item.json.data.full_name }}"
            },
            {
              "name": "email",
              "value": "={{ $('Facebook Lead Ads Trigger').item.json.data.email }}"
            },
            {
              "name": "telefono",
              "value": "={{ $('Facebook Lead Ads Trigger').item.json.data.phone_number }}"
            },
            {
              "name": "formacion",
              "value": "= {{ $('Facebook Lead Ads Trigger').item.json.data[\"Maestría\"] }}- Facebook"
            },
            {
              "name": "pais",
              "value": "Mexico"
            },
            {
              "name": "oddo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -100
      ],
      "id": "6dcda829-3c0a-414e-80a2-2da625a326de",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "notificaciones@universidadisep.com",
        "fromName": "test",
        "toEmail": "maikelguzman111@gmail.com",
        "subject": "test",
        "contentValue": "test",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        500,
        -100
      ],
      "id": "dd3177a2-574b-4e84-bb49-c8ae77b4c56c",
      "name": "SendGrid",
      "credentials": {
        "sendGridApi": {
          "id": "EpeBBHx749YmsEKN",
          "name": "SendGrid account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-04T00:40:48.979Z",
      "updatedAt": "2024-12-04T00:40:48.979Z",
      "id": "Y1BsKfyyH4T8xRCR",
      "name": "iallamadas"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-02-28T23:03:05.047Z",
  "versionId": "7ff5a394-d603-4a89-ba4a-26e9996e962d"
}