workflows/LIC_TOP_MX_04ABR.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-04T17:00:05.765Z",
  "id": "27",
  "meta": null,
  "name": "LIC_TOP_MX_04ABR",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.campaign_id = 2;\n  item.json.medium_id = 15;\n  item.json.source_id = 193;\n  item.json.team_id = 5;\n}\n\nreturn $input.all();"
      },
      "id": "1419015a-aa5d-41a8-9030-44a05b474411",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "crm.lead",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $json.body.contact_name}} - Licenciaturas MX"
            },
            {
              "fieldName": "type",
              "fieldValue": "lead"
            },
            {
              "fieldName": "contact_name",
              "fieldValue": "={{ $json.body.contact_name}}"
            },
            {
              "fieldName": "email_from",
              "fieldValue": "={{ $json.body.email_from}}"
            },
            {
              "fieldName": "x_studio_programa_de_inters",
              "fieldValue": "={{ $json.body.x_studio_programa_academico}}"
            },
            {
              "fieldName": "phone",
              "fieldValue": "={{ $json.body.phone}}"
            },
            {
              "fieldName": "website",
              "fieldValue": "={{ $json.body.website}}"
            },
            {
              "fieldName": "medium_id",
              "fieldValue": "={{ $json[\"medium_id\"] }}"
            },
            {
              "fieldName": "campaign_id",
              "fieldValue": "={{ $json[\"campaign_id\"] }}"
            },
            {
              "fieldName": "source_id",
              "fieldValue": "={{ $json[\"source_id\"] }}"
            },
            {
              "fieldName": "team_id",
              "fieldValue": "={{ $json.team_id }}"
            }
          ]
        }
      },
      "id": "66ba6e19-08ba-4c40-a644-526ec6e7c0eb",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ],
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "492f5327-6bca-4c0c-b4dd-ec3bcd760201",
        "options": {}
      },
      "id": "d74bbf2c-9418-43ff-a018-c0c9cae0fb42",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        840,
        400
      ],
      "webhookId": "492f5327-6bca-4c0c-b4dd-ec3bcd760201"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-04T17:17:30.000Z",
  "versionId": "02fc2f88-e944-4eb0-a149-db0b3bf56663"
}