workflows/MAE_MX_Educacion_20marzo.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-21T22:19:35.398Z",
  "id": "24",
  "meta": null,
  "name": "MAE_MX_Educacion_20marzo",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.campaign_id = 3;\n  item.json.medium_id = 15;\n  item.json.source_id = 193;\n  item.json.team_id = 7;\n}\n\nreturn $input.all();"
      },
      "id": "1a6ab589-dbc2-426b-a2ba-a02cacde46ab",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "crm.lead",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $json.body.contact_name}} - MAESTRIA"
            },
            {
              "fieldName": "type",
              "fieldValue": "lead"
            },
            {
              "fieldName": "contact_name",
              "fieldValue": "={{ $json.body.contact_name}}"
            },
            {
              "fieldName": "email_from",
              "fieldValue": "={{ $json.body.email_from}}"
            },
            {
              "fieldName": "x_studio_programa_de_inters",
              "fieldValue": "={{ $json.body.x_studio_programa_academico}}"
            },
            {
              "fieldName": "phone",
              "fieldValue": "={{ $json.body.phone}}"
            },
            {
              "fieldName": "website",
              "fieldValue": "={{ $json.body.website}}"
            },
            {
              "fieldName": "medium_id",
              "fieldValue": "={{ $json[\"medium_id\"] }}"
            },
            {
              "fieldName": "campaign_id",
              "fieldValue": "={{ $json[\"campaign_id\"] }}"
            },
            {
              "fieldName": "source_id",
              "fieldValue": "={{ $json[\"source_id\"] }}"
            },
            {
              "fieldName": "team_id",
              "fieldValue": "={{ $json.team_id }}"
            }
          ]
        }
      },
      "id": "bbed339a-8641-4e2c-ade0-1d1e3520d65b",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ],
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "954a0da9-220b-4fe3-81e0-7f584a903fa5",
        "options": {}
      },
      "id": "b9e2d2f0-5f63-4d23-a7ec-ac99efb62a62",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        400
      ],
      "webhookId": "954a0da9-220b-4fe3-81e0-7f584a903fa5"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-03-21T22:27:59.000Z",
  "versionId": "d5c75202-b04e-45ce-95db-57c9345b9762"
}