workflows/My workflow 8.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-30T18:59:26.482Z",
  "id": "UCS0UIB6MgZgiMsD",
  "meta": null,
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        0
      ],
      "id": "0bba2fd2-5c5b-46cc-870f-26305f2c512c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "slide.slide",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        380,
        -20
      ],
      "id": "23ca87c3-f1f5-4e52-97b2-27ec9d9de572",
      "name": "Odoo",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "slide.slide",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "channel_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "is_category",
              "fieldValue": "True"
            },
            {
              "fieldName": "name",
              "fieldValue": "2. Clasificación y Diagnóstico de los Trastornos Mentales"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        260,
        60
      ],
      "id": "a5e957ae-7a44-4867-94d9-25c5b4538550",
      "name": "Odoo1",
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "190d3556-9464-41e3-9462-f3b0a7f3d569",
              "name": "id",
              "value": 27,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        0
      ],
      "id": "d13c32a5-4b23-49eb-a0ab-60b083309b84",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-30T23:41:18.000Z",
  "versionId": "e13cf4dd-4d78-497a-97f6-dccc8d932d20"
}