workflows/plantilla_orientación.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uchat - plantilla": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Uchat - plantilla1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T22:57:11.371Z",
  "id": "sbtCHanaiRb3AZjI",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls="
  },
  "name": "plantilla_orientación",
  "nodes": [
    {
      "parameters": {},
      "id": "c294dc0f-b8b7-4337-b812-3ca3a28ecf45",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.uchat.com.au/api/subscriber/send-node",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $json.user_ns }}\",\n  \"node_ns\": \"f122557n122942551\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        400
      ],
      "id": "2293a20b-a702-44af-b0b5-bc1ae11fdcae",
      "name": "Uchat - plantilla",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EsnfVfapXUsx9gvm",
          "name": "Uchat - Omnicanal"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.uchat.com.au/api/subscriber/send-sub-flow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $json.user_ns }}\",\n  \"sub_flow_ns\": \"f152209s1385965\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        220
      ],
      "id": "1304077a-3a1a-4e14-8e82-69ec79c341eb",
      "name": "Uchat - plantilla1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OTNQvBs96vPaobpR",
          "name": "uchat_pruebas"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        340
      ],
      "id": "f0415528-13d8-462d-9d53-7f292b2db152",
      "name": "Wait",
      "webhookId": "b5deeff4-a350-4c8c-a04f-69ecc5e1ee0a"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-26T18:55:22.934Z",
      "updatedAt": "2025-02-26T18:55:22.934Z",
      "id": "fZyfPOCPh5pbcx1P",
      "name": "orientacion"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-27T03:01:55.000Z",
  "versionId": "99fe2ee0-d643-4861-bd76-d79974c3032c"
}