workflows/re_run_Cobranzas_Odoo.json
{
  "active": false,
  "connections": {
    "Odoo": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Mex",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bra",
            "type": "main",
            "index": 0
          },
          {
            "node": "ROW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROW": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bra": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "selecciona_agente_4m_mx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "selecciona_agente_6m_mx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Insertar_a_bdd2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "Insertar_a_bdd4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "Insertar_a_bdd5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Insertar_a_bdd6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mex": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar_a_bdd": {
      "main": [
        [
          {
            "node": "update_excluidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar_a_bdd1": {
      "main": [
        [
          {
            "node": "update_excluidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "selecciona_agente_6m_mx": {
      "main": [
        [
          {
            "node": "Insertar_a_bdd1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "selecciona_agente_4m_mx": {
      "main": [
        [
          {
            "node": "Insertar_a_bdd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar_a_bdd2": {
      "main": [
        [
          {
            "node": "update_excluidos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar_a_bdd4": {
      "main": [
        [
          {
            "node": "update_excluidos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar_a_bdd5": {
      "main": [
        [
          {
            "node": "update_excluidos4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar_a_bdd6": {
      "main": [
        [
          {
            "node": "update_excluidos5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_excluidos": {
      "main": [
        [
          {
            "node": "update_reincluidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_excluidos1": {
      "main": [
        [
          {
            "node": "update_reincluidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_excluidos2": {
      "main": [
        [
          {
            "node": "update_reincluidos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_excluidos3": {
      "main": [
        [
          {
            "node": "update_reincluidos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_excluidos4": {
      "main": [
        [
          {
            "node": "update_reincluidos4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_excluidos5": {
      "main": [
        [
          {
            "node": "update_reincluidos5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-28T17:24:10.974Z",
  "id": "udWQSjiAjLwrmpV5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "re_run_Cobranzas_Odoo",
  "nodes": [
    {
      "parameters": {
        "resource": "custom",
        "customResource": "sale.order",
        "operation": "getAll",
        "limit": 1000,
        "options": {
          "fieldsList": [
            "id",
            "name",
            "date_order",
            "amount_total",
            "invoice_status",
            "stage_id",
            "partner_id",
            "overdue_invoice_count_s"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "overdue_invoice_count_s",
              "operator": "greaterThen",
              "value": "1"
            },
            {
              "fieldName": "state",
              "value": "sale"
            }
          ]
        }
      },
      "id": "b01ce29c-a3fc-41b8-9956-d23219a0580d",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -420,
        120
      ],
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c4a8e58-a171-456a-9c8f-c935fd780342",
              "leftValue": "={{ $json.phone.toString() }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7c06fea5-6cdb-46ae-bde4-815df996ff2a",
              "leftValue": "={{ $json.phone.toString() }}",
              "rightValue": "FALSE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "12b01aac-adff-4d27-bf22-c7dcd7a0e90b",
              "leftValue": "={{ $json.phone.toString() }}",
              "rightValue": "[null]",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "beaab42e-100c-4dd6-857c-4ac6404b9ced",
              "leftValue": "={{ $json.phone.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1223a94d-40d2-4fad-bf86-059d00313429",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        280,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a15fe649-a17c-4f6e-a0fd-9b9db146ab17",
              "name": "phone",
              "value": "={{ $json.phone.trim().replace(/[\\s+\\-'\\n]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b9b3aeaf-c40f-4146-829c-fcbff627beb6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16be3742-d6da-43ae-8528-fd4a8f72872c",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "55",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            },
            {
              "id": "158cfab9-32b2-482a-a3bc-b4bc497c2f88",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "52",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f974724-0387-4356-8a8b-38eba63a2f34",
      "name": "ROW",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "0f10bbad-42bc-4dbe-81d3-e3b8c56380b6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16be3742-d6da-43ae-8528-fd4a8f72872c",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "55",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "fade264a-8828-4c69-bdc5-ded1c1300a0e",
      "name": "Bra",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        520
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Odoo').item.json.overdue_invoice_count_s }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 y menos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f82865fb-1751-45e2-bb3a-7ca0ed884fea",
                    "leftValue": "={{ $('Odoo').item.json.overdue_invoice_count_s }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ">4"
            }
          ]
        },
        "options": {}
      },
      "id": "6c1f0bd6-d069-430a-a071-f1578bd07b9a",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        760,
        1200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Odoo').item.json.overdue_invoice_count_s }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 y menos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f82865fb-1751-45e2-bb3a-7ca0ed884fea",
                    "leftValue": "={{ $('Odoo').item.json.overdue_invoice_count_s }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ">4"
            }
          ]
        },
        "options": {}
      },
      "id": "ebd23e1c-61ba-4118-92be-1a8596d7ae38",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        740,
        -1000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Odoo').item.json.overdue_invoice_count_s }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 y menos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f82865fb-1751-45e2-bb3a-7ca0ed884fea",
                    "leftValue": "={{ $('Odoo').item.json.overdue_invoice_count_s }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ">4"
            }
          ]
        },
        "options": {}
      },
      "id": "2eae9a0f-8d41-4d60-8f6d-a88dfd9799fd",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        120
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "numbers_and_agents",
          "mode": "list",
          "cachedResultName": "numbers_and_agents"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "use",
              "value": "Cobranzas_4meses_MX"
            }
          ]
        },
        "options": {}
      },
      "id": "76e80898-7fc3-4534-a392-b5ac0a0681d7",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        -140
      ],
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "numbers_and_agents",
          "mode": "list",
          "cachedResultName": "numbers_and_agents"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "use",
              "value": "Cobranzas_6meses_MX"
            }
          ]
        },
        "options": {}
      },
      "id": "6cea292c-347e-41d3-b052-4d06a4b85edf",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        400
      ],
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "numbers_and_agents",
          "mode": "list",
          "cachedResultName": "numbers_and_agents"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "use",
              "value": "Cobranzas_4meses_BR"
            }
          ]
        },
        "options": {}
      },
      "id": "f4733afa-411b-4bcb-b598-44841bacc1d5",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        960
      ],
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "numbers_and_agents",
          "mode": "list",
          "cachedResultName": "numbers_and_agents"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "use",
              "value": "Cobranzas_6meses_BR"
            }
          ]
        },
        "options": {}
      },
      "id": "1bf3ca34-b740-4b31-86a8-3467ed0446ba",
      "name": "Postgres5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1040,
        1480
      ],
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96c9b08f-5545-4fc3-a3ef-04a19dda996d",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "52",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "739b0608-62a4-4a13-868f-c1061311b157",
      "name": "Mex",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        520,
        -280
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{$json.partner_id\n[0]  }}",
        "options": {
          "fieldsList": [
            "phone",
            "name",
            "email"
          ]
        }
      },
      "id": "4617fb76-e0bc-4711-85f8-2b821756bb78",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -200,
        120
      ],
      "credentials": {
        "odooApi": {
          "id": "19",
          "name": "Odoo APP 16"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "calloutbound_cobranzas",
          "mode": "list",
          "cachedResultName": "calloutbound_cobranzas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "send_to_call": true,
            "call_eject": true,
            "active": true,
            "phone_number": "=+{{ $('Switch').item.json.phone }}",
            "name": "={{ $('Odoo1').item.json.name }}",
            "date_uploda": "={{ $now }}",
            "reason_for_call": "={{ $json.use }}",
            "campaign_name": "={{ $json.use }}{{ $now.toFormat(\"dd/MM/yyyy\") }}",
            "maximum_attempts": 3,
            "time_between_calls": 6,
            "from_number": "={{ $json.phone_number }}",
            "agent_id": "={{ $json.id_agent }}",
            "email": "={{ $('Odoo1').item.json.email }}",
            "oddo_id": "={{ $('Odoo1').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oddo_id",
              "displayName": "oddo_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sucessfull",
              "displayName": "sucessfull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_uploda",
              "displayName": "date_uploda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_last_trx",
              "displayName": "date_last_trx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_state",
              "displayName": "last_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason_for_call",
              "displayName": "reason_for_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_to_call",
              "displayName": "send_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_eject",
              "displayName": "call_eject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maximum_attempts",
              "displayName": "maximum_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_between_calls",
              "displayName": "time_between_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts_counter",
              "displayName": "attempts_counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "formation",
              "displayName": "formation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "err_500",
              "displayName": "err_500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicate",
              "displayName": "duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumen_gerencial",
              "displayName": "resumen_gerencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_last_conversation",
              "displayName": "date_last_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_sid",
              "displayName": "call_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3987763f-a63a-4ff6-bf7f-5f6ebe00365f",
      "name": "Insertar_a_bdd",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        -1300
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "calloutbound_cobranzas",
          "mode": "list",
          "cachedResultName": "calloutbound_cobranzas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "send_to_call": true,
            "call_eject": true,
            "active": true,
            "phone_number": "=+{{ $('Switch').item.json.phone }}",
            "name": "={{ $('Odoo1').item.json.name }}",
            "date_uploda": "={{ $now }}",
            "reason_for_call": "={{ $json.use }}",
            "campaign_name": "={{ $json.use }}{{ $now.toFormat(\"dd/MM/yyyy\") }}",
            "maximum_attempts": 3,
            "time_between_calls": 6,
            "from_number": "={{ $json.phone_number }}",
            "agent_id": "={{ $json.id_agent }}",
            "email": "={{ $('Odoo1').item.json.email }}",
            "oddo_id": "={{ $('Odoo1').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oddo_id",
              "displayName": "oddo_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sucessfull",
              "displayName": "sucessfull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_uploda",
              "displayName": "date_uploda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_last_trx",
              "displayName": "date_last_trx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_state",
              "displayName": "last_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason_for_call",
              "displayName": "reason_for_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_to_call",
              "displayName": "send_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_eject",
              "displayName": "call_eject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maximum_attempts",
              "displayName": "maximum_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_between_calls",
              "displayName": "time_between_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts_counter",
              "displayName": "attempts_counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "formation",
              "displayName": "formation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "err_500",
              "displayName": "err_500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicate",
              "displayName": "duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumen_gerencial",
              "displayName": "resumen_gerencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_last_conversation",
              "displayName": "date_last_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_sid",
              "displayName": "call_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b38f115f-de34-4667-a9bd-1130cf0a6a79",
      "name": "Insertar_a_bdd1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1240,
        -680
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "numbers_and_agents",
          "mode": "list",
          "cachedResultName": "numbers_and_agents"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "use",
              "value": "Cobranzas_6meses_MX"
            }
          ]
        },
        "options": {}
      },
      "id": "c609558a-2422-469e-b1b7-62a664ec202d",
      "name": "selecciona_agente_6m_mx",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        980,
        -680
      ],
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "numbers_and_agents",
          "mode": "list",
          "cachedResultName": "numbers_and_agents"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "use",
              "value": "Cobranzas_4meses_MX"
            }
          ]
        },
        "options": {}
      },
      "id": "a738c3ce-a959-4858-a0fa-f90e4b58ad20",
      "name": "selecciona_agente_4m_mx",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        -1300
      ],
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "calloutbound_cobranzas",
          "mode": "list",
          "cachedResultName": "calloutbound_cobranzas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "send_to_call": true,
            "call_eject": true,
            "active": true,
            "phone_number": "=+{{ $('Switch1').item.json.phone }}",
            "name": "={{ $('Odoo1').item.json.name }}",
            "date_uploda": "={{ $now }}",
            "reason_for_call": "={{ $json.use }}",
            "campaign_name": "={{ $json.use }}{{ $now.toFormat(\"dd/MM/yyyy\") }}",
            "maximum_attempts": 3,
            "time_between_calls": 6,
            "from_number": "={{ $json.phone_number }}",
            "agent_id": "={{ $json.id_agent }}",
            "email": "={{ $('Odoo1').item.json.email }}",
            "oddo_id": "={{ $('Odoo1').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oddo_id",
              "displayName": "oddo_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sucessfull",
              "displayName": "sucessfull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_uploda",
              "displayName": "date_uploda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_last_trx",
              "displayName": "date_last_trx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_state",
              "displayName": "last_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason_for_call",
              "displayName": "reason_for_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_to_call",
              "displayName": "send_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_eject",
              "displayName": "call_eject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maximum_attempts",
              "displayName": "maximum_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_between_calls",
              "displayName": "time_between_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts_counter",
              "displayName": "attempts_counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "formation",
              "displayName": "formation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "err_500",
              "displayName": "err_500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicate",
              "displayName": "duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumen_gerencial",
              "displayName": "resumen_gerencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_last_conversation",
              "displayName": "date_last_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_sid",
              "displayName": "call_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "202b1924-eaf5-43a3-b3c4-f9fc53043f01",
      "name": "Insertar_a_bdd2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1260,
        -140
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = resumen.estado\nFROM resumen_cobranzas_ia_tabla AS resumen\nWHERE callout.oddo_id = resumen.id_oddo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1380,
        -1300
      ],
      "id": "0470aa27-ecf1-40a7-9da8-8847a20f5d78",
      "name": "update_excluidos",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = resumen.estado\nFROM resumen_cobranzas_ia_tabla AS resumen\nWHERE callout.oddo_id = resumen.id_oddo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        -680
      ],
      "id": "50683de3-1480-4f31-b09c-a9e97f0674b7",
      "name": "update_excluidos1",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = resumen.estado\nFROM resumen_cobranzas_ia_tabla AS resumen\nWHERE callout.oddo_id = resumen.id_oddo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1480,
        -140
      ],
      "id": "fb67590c-9e98-48a7-b815-49c2c9403e60",
      "name": "update_excluidos2",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "calloutbound_cobranzas",
          "mode": "list",
          "cachedResultName": "calloutbound_cobranzas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "send_to_call": true,
            "call_eject": true,
            "active": true,
            "phone_number": "=+{{ $('Switch1').item.json.phone }}",
            "name": "={{ $('Odoo1').item.json.name }}",
            "date_uploda": "={{ $now }}",
            "reason_for_call": "={{ $json.use }}",
            "campaign_name": "={{ $json.use }}{{ $now.toFormat(\"dd/MM/yyyy\") }}",
            "maximum_attempts": 3,
            "time_between_calls": 6,
            "from_number": "={{ $json.phone_number }}",
            "agent_id": "={{ $json.id_agent }}",
            "email": "={{ $('Odoo1').item.json.email }}",
            "oddo_id": "={{ $('Odoo1').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oddo_id",
              "displayName": "oddo_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sucessfull",
              "displayName": "sucessfull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_uploda",
              "displayName": "date_uploda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_last_trx",
              "displayName": "date_last_trx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_state",
              "displayName": "last_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason_for_call",
              "displayName": "reason_for_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_to_call",
              "displayName": "send_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_eject",
              "displayName": "call_eject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maximum_attempts",
              "displayName": "maximum_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_between_calls",
              "displayName": "time_between_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts_counter",
              "displayName": "attempts_counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "formation",
              "displayName": "formation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "err_500",
              "displayName": "err_500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicate",
              "displayName": "duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumen_gerencial",
              "displayName": "resumen_gerencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_last_conversation",
              "displayName": "date_last_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_sid",
              "displayName": "call_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "55490ae7-8930-436d-8f47-c447261785ab",
      "name": "Insertar_a_bdd4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1280,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = resumen.estado\nFROM resumen_cobranzas_ia_tabla AS resumen\nWHERE callout.oddo_id = resumen.id_oddo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        400
      ],
      "id": "321612a9-039d-49ab-aea9-e31281e6ce87",
      "name": "update_excluidos3",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "calloutbound_cobranzas",
          "mode": "list",
          "cachedResultName": "calloutbound_cobranzas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "send_to_call": true,
            "call_eject": true,
            "active": true,
            "phone_number": "=+{{ $('Switch2').item.json.phone }}",
            "name": "={{ $('Odoo1').item.json.name }}",
            "date_uploda": "={{ $now }}",
            "reason_for_call": "={{ $json.use }}",
            "campaign_name": "={{ $json.use }}{{ $now.toFormat(\"dd/MM/yyyy\") }}",
            "maximum_attempts": 3,
            "time_between_calls": 6,
            "from_number": "={{ $json.phone_number }}",
            "agent_id": "={{ $json.id_agent }}",
            "email": "={{ $('Odoo1').item.json.email }}",
            "oddo_id": "={{ $('Odoo1').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oddo_id",
              "displayName": "oddo_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sucessfull",
              "displayName": "sucessfull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_uploda",
              "displayName": "date_uploda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_last_trx",
              "displayName": "date_last_trx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_state",
              "displayName": "last_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason_for_call",
              "displayName": "reason_for_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_to_call",
              "displayName": "send_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_eject",
              "displayName": "call_eject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maximum_attempts",
              "displayName": "maximum_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_between_calls",
              "displayName": "time_between_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts_counter",
              "displayName": "attempts_counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "formation",
              "displayName": "formation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "err_500",
              "displayName": "err_500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicate",
              "displayName": "duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumen_gerencial",
              "displayName": "resumen_gerencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_last_conversation",
              "displayName": "date_last_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_sid",
              "displayName": "call_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a255a7d8-70d7-4796-87de-009fd9eb11d3",
      "name": "Insertar_a_bdd5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1300,
        960
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = resumen.estado\nFROM resumen_cobranzas_ia_tabla AS resumen\nWHERE callout.oddo_id = resumen.id_oddo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        960
      ],
      "id": "3e0c1821-037c-4d7f-9727-87713854a6de",
      "name": "update_excluidos4",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "calloutbound_cobranzas",
          "mode": "list",
          "cachedResultName": "calloutbound_cobranzas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "send_to_call": true,
            "call_eject": true,
            "active": true,
            "phone_number": "=+{{ $('Switch2').item.json.phone }}",
            "name": "={{ $('Odoo1').item.json.name }}",
            "date_uploda": "={{ $now }}",
            "reason_for_call": "={{ $json.use }}",
            "campaign_name": "={{ $json.use }}{{ $now.toFormat(\"dd/MM/yyyy\") }}",
            "maximum_attempts": 3,
            "time_between_calls": 6,
            "from_number": "={{ $json.phone_number }}",
            "agent_id": "={{ $json.id_agent }}",
            "email": "={{ $('Odoo1').item.json.email }}",
            "oddo_id": "={{ $('Odoo1').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oddo_id",
              "displayName": "oddo_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sucessfull",
              "displayName": "sucessfull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_uploda",
              "displayName": "date_uploda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_last_trx",
              "displayName": "date_last_trx",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_state",
              "displayName": "last_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason_for_call",
              "displayName": "reason_for_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_to_call",
              "displayName": "send_to_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_eject",
              "displayName": "call_eject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_number",
              "displayName": "from_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maximum_attempts",
              "displayName": "maximum_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_between_calls",
              "displayName": "time_between_calls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts_counter",
              "displayName": "attempts_counter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "formation",
              "displayName": "formation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "err_500",
              "displayName": "err_500",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicate",
              "displayName": "duplicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumen_gerencial",
              "displayName": "resumen_gerencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_last_conversation",
              "displayName": "date_last_conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_sid",
              "displayName": "call_sid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f076ca76-baa6-476f-834e-4a4d31733b8a",
      "name": "Insertar_a_bdd6",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        1480
      ],
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = resumen.estado\nFROM resumen_cobranzas_ia_tabla AS resumen\nWHERE callout.oddo_id = resumen.id_oddo;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        1480
      ],
      "id": "6c3667a0-b48c-4c65-b135-ba2e2d1190dd",
      "name": "update_excluidos5",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = NULL \nFROM contador_estado_cobranzas AS resumen\nWHERE callout.oddo_id = resumen.id_oddo \nAND (resumen.contador_estado = 7 or resumen.contador_estado = 10 or resumen.contador_estado = 13 or resumen.contador_estado = 16 or resumen.contador_estado = 19 or resumen.contador_estado = 22 or resumen.contador_estado = 25 or  resumen.contador_estado = 28 or resumen.contador_estado = 31);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1560,
        -1300
      ],
      "id": "74fb49a1-171a-4dda-a7f0-7ab6001c6b6a",
      "name": "update_reincluidos",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = NULL \nFROM contador_estado_cobranzas AS resumen\nWHERE callout.oddo_id = resumen.id_oddo \nAND (resumen.contador_estado = 7 or resumen.contador_estado = 10 or resumen.contador_estado = 13 or resumen.contador_estado = 16 or resumen.contador_estado = 19 or resumen.contador_estado = 22 or resumen.contador_estado = 25 or  resumen.contador_estado = 28 or resumen.contador_estado = 31);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1620,
        -680
      ],
      "id": "78e41bfd-c899-4639-b8b8-d40c5bedc056",
      "name": "update_reincluidos1",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = NULL \nFROM contador_estado_cobranzas AS resumen\nWHERE callout.oddo_id = resumen.id_oddo \nAND (resumen.contador_estado = 7 or resumen.contador_estado = 10 or resumen.contador_estado = 13 or resumen.contador_estado = 16 or resumen.contador_estado = 19 or resumen.contador_estado = 22 or resumen.contador_estado = 25 or  resumen.contador_estado = 28 or resumen.contador_estado = 31);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1700,
        -140
      ],
      "id": "91245471-ebbf-4b0f-aa00-d4912a29ec68",
      "name": "update_reincluidos2",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = NULL \nFROM contador_estado_cobranzas AS resumen\nWHERE callout.oddo_id = resumen.id_oddo \nAND (resumen.contador_estado = 7 or resumen.contador_estado = 10 or resumen.contador_estado = 13 or resumen.contador_estado = 16 or resumen.contador_estado = 19 or resumen.contador_estado = 22 or resumen.contador_estado = 25 or  resumen.contador_estado = 28 or resumen.contador_estado = 31);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1740,
        400
      ],
      "id": "e28ac6bb-cf29-402d-a63e-9ab7faedf608",
      "name": "update_reincluidos3",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = NULL \nFROM contador_estado_cobranzas AS resumen\nWHERE callout.oddo_id = resumen.id_oddo \nAND (resumen.contador_estado = 7 or resumen.contador_estado = 10 or resumen.contador_estado = 13 or resumen.contador_estado = 16 or resumen.contador_estado = 19 or resumen.contador_estado = 22 or resumen.contador_estado = 25 or  resumen.contador_estado = 28 or resumen.contador_estado = 31);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1800,
        980
      ],
      "id": "af68219d-63f3-4135-a341-b79ebf3c3c7b",
      "name": "update_reincluidos4",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE calloutbound_cobranzas AS callout\nSET last_state = NULL \nFROM contador_estado_cobranzas AS resumen\nWHERE callout.oddo_id = resumen.id_oddo \nAND (resumen.contador_estado = 7 or resumen.contador_estado = 10 or resumen.contador_estado = 13 or resumen.contador_estado = 16 or resumen.contador_estado = 19 or resumen.contador_estado = 22 or resumen.contador_estado = 25 or  resumen.contador_estado = 28 or resumen.contador_estado = 31);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        1480
      ],
      "id": "df1c1b0c-470c-48d8-b82f-e5d022e3cd1d",
      "name": "update_reincluidos5",
      "credentials": {
        "postgres": {
          "id": "hnUS8UxUWHrcQri5",
          "name": "Postgresql_iallamadas"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-28T02:29:41.371Z",
      "updatedAt": "2025-02-28T02:29:41.371Z",
      "id": "QNHsMjTjYVpVyiXd",
      "name": "cobranzas"
    },
    {
      "createdAt": "2024-12-04T00:40:48.979Z",
      "updatedAt": "2024-12-04T00:40:48.979Z",
      "id": "Y1BsKfyyH4T8xRCR",
      "name": "iallamadas"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-28T17:25:08.000Z",
  "versionId": "8c31ef23-730b-4c2a-82ff-fda386b09358"
}