workflows/subir info a bbdd contenido.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-10T01:15:33.551Z",
  "id": "KQkgV5gKuZDRJGj7",
  "meta": null,
  "name": "subir info a bbdd contenido",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0c2797fc-8262-4f9a-aae4-7e1dccb1b9d2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Vld_3EIfiVvXNICwaT7Dw3Kw7dfIOl-7",
          "mode": "list",
          "cachedResultName": "PDF INFORMATIVO LICENCIATURA EN ENFERMERÍA 2025-2026.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Vld_3EIfiVvXNICwaT7Dw3Kw7dfIOl-7/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "e36977f2-597b-4022-8893-a8866c4272d0",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EnPMuHHZw3OclAXB",
          "name": "Inesin"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "8862d17f-78f8-4ddd-9b39-5b98199cf897",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "inesin_db",
          "mode": "list",
          "cachedResultName": "inesin_db"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "f2bdf5e0-d700-45f7-9c0e-a0e6f4442413",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "2cBtPDGTCfO2GXKd",
          "name": "inesin"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        580,
        180
      ],
      "id": "6443c3d1-e3d8-4aaf-aee1-8e99f6424f55",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        800,
        220
      ],
      "id": "a5a2f850-59b0-4cc0-b571-b510619426f1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2500,
        "chunkOverlap": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        900,
        440
      ],
      "id": "7b9d2327-9424-407b-9df9-73cbe3432c25",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-24T05:36:46.987Z",
      "updatedAt": "2025-01-24T05:36:46.987Z",
      "id": "UtrOwaUBjIHVaWBs",
      "name": "inesin"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-28T23:02:19.251Z",
  "versionId": "64492faa-84fe-4ee8-9f96-ef55bc42feb7"
}