workflows/Timeout_NEW.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta IA": {
      "main": [
        [
          {
            "node": "Si hay respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta No hay": {
      "main": [
        [
          {
            "node": "No hay respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respuesta IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta No hay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-20T20:11:20.350Z",
  "id": "FIJCUCbolNg7OWzS",
  "meta": null,
  "name": "Timeout_NEW",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c9001d95-e269-4907-990c-e5f1fbb3d10f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6af9a035-0639-4c4e-9de0-2824eec94354",
      "name": "Webhook",
      "webhookId": "c9001d95-e269-4907-990c-e5f1fbb3d10f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "867baa67-f209-4afe-aa2e-b84f3255620f",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205d92b0-f206-4bf0-8319-9e0696eb0049",
              "name": "output",
              "value": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5dcecd1b-b75b-4940-b170-007d99bed51f",
      "name": "Respuesta IA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205d92b0-f206-4bf0-8319-9e0696eb0049",
              "name": "output",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3f106267-cd28-49df-93be-e5511d2a7f31",
      "name": "Respuesta No hay",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a88d49ac-612e-44d3-8131-271b3e0db0ac",
      "name": "No hay respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2c47c948-2ab3-4bb1-b53d-706ed984d564",
      "name": "Si hay respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        -180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
                    "rightValue": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "108bc42c-cfdc-4014-9926-f223068b0e0b",
                    "leftValue": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ff194195-4aeb-4939-81d1-8626645fb707",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        580,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_ns }}",
        "tableName": "TH",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        220,
        220
      ],
      "id": "015b598c-3abf-4fc2-bfb3-3270dd97c58b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-20T20:11:19.525Z",
      "updatedAt": "2025-02-20T20:11:19.525Z",
      "id": "PeoIz6bFcQwZKWNt",
      "name": "PRUEBA"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-28T23:02:31.271Z",
  "versionId": "70e4f21f-a67a-40c0-b9b2-38485e838e17"
}