workflows/Timeout error _ Pruebas.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta IA": {
      "main": [
        [
          {
            "node": "Si hay respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta No hay": {
      "main": [
        [
          {
            "node": "No hay respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respuesta IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta No hay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-25T21:24:42.566Z",
  "id": "UpVkGEbZyVmzp5lO",
  "meta": null,
  "name": "Timeout error _ Pruebas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "131cddd3-52e1-452d-bd06-616fa48e1f71",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8f12f169-63b4-4eab-8a68-b06a9215adf2",
      "name": "Webhook",
      "webhookId": "131cddd3-52e1-452d-bd06-616fa48e1f71"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "e2c0f4cc-fded-4d5b-8fac-bb34a09ce8a0",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205d92b0-f206-4bf0-8319-9e0696eb0049",
              "name": "output",
              "value": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b9598503-6277-4d97-80e3-f455ccb7b93e",
      "name": "Respuesta IA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205d92b0-f206-4bf0-8319-9e0696eb0049",
              "name": "output",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33bf892e-d2cb-4c27-9256-d8932eb0cf2d",
      "name": "Respuesta No hay",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3811ff36-01fc-4762-bf45-e9c6b1603f72",
      "name": "No hay respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a3dc4ddf-a85e-466c-98fd-23fd4cbc767a",
      "name": "Si hay respuesta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        -180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
                    "rightValue": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "108bc42c-cfdc-4014-9926-f223068b0e0b",
                    "leftValue": "={{ $('Chat Memory Manager').item.json.messages.last().ai }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "930c07e6-141c-4fea-a379-2007e71e41c4",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        580,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_ns }}",
        "tableName": "demo_orientacion",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "id": "0e77a9ff-c60d-46d4-ac03-f1039822e2c8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AElBItifYCFjKauo",
          "name": "Postgres Chatbot Universidad ISEP"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-11T21:58:52.073Z",
      "updatedAt": "2025-02-11T21:58:52.073Z",
      "id": "NYlUEFJCjAa2X4yf",
      "name": "chatbot"
    },
    {
      "createdAt": "2024-12-13T23:39:23.582Z",
      "updatedAt": "2024-12-13T23:39:23.582Z",
      "id": "iYIqNjvo2VXg5kHz",
      "name": "Universidad ISEP"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-28T23:01:44.727Z",
  "versionId": "6314570e-a0b6-420c-9127-335d0ee688f1"
}