workflows/whatsapp/email.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Enviar Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-01-31T01:41:16.227Z",
  "id": "FYUxOZSm4jc2W2NG",
  "meta": null,
  "name": "whatsapp/email",
  "nodes": [
    {
      "parameters": {
        "path": "217bb692-cbc9-4496-817f-f74371c9a4f5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        300
      ],
      "id": "26b60a08-9b6c-47be-babc-bd20e6b6b682",
      "name": "Webhook",
      "webhookId": "217bb692-cbc9-4496-817f-f74371c9a4f5"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromName": "={{ $json.name }}",
        "toEmail": "={{ $json.email_user }}",
        "subject": "Test",
        "contentType": "text/html",
        "contentValue": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        560,
        -140
      ],
      "id": "a1d43ae1-fc1c-4ede-832d-c94420d51d21",
      "name": "SendGrid",
      "credentials": {
        "sendGridApi": {
          "id": "EpeBBHx749YmsEKN",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.uchat.com.au/api/subscriber/send-sub-flow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_ns\": \"{{ $json.data.user_ns }}\",\n  \"sub_flow_ns\": \"f139403s1141299\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        640
      ],
      "id": "7df34491-055e-46e2-aeb3-b62b7c76d777",
      "name": "Enviar Whatsapp",
      "credentials": {
        "httpBasicAuth": {
          "id": "iKru720rDTYWScpq",
          "name": "Twillio_prod"
        },
        "httpHeaderAuth": {
          "id": "EsnfVfapXUsx9gvm",
          "name": "Uchat - Omnicanal"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.uchat.com.au/api/subscriber/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.name }}\",\n  \"phone\": \"{{ $json.phone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        640
      ],
      "id": "d73f80c4-6f55-47d6-9d1d-31e38aab28a8",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EsnfVfapXUsx9gvm",
          "name": "Uchat - Omnicanal"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un agente de Universidad Isep, experto en crear correos electrónicos.\n\nNecesito que hagas un correo electrónico en HTML para el usuario, consulta base_conocimiento() para dar la respuesta del correo:\n\n{{ $json.chatInput }}\n\n#output solo dame el HTML sin contestarme nada más y sin agregar ```html\n\n#Importante agrega emojis"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        180,
        -140
      ],
      "id": "ab7cc273-8042-48d2-b121-f8cc5a0f7924",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "base_conocimiento"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        460,
        60
      ],
      "id": "f0e904bf-66c9-4b8f-a4d2-1d4216d22d33",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        680,
        400
      ],
      "id": "b4bb5e83-3678-4518-860c-18c80c6fd88f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "inesin_db",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        380,
        280
      ],
      "id": "d759f202-8b08-4412-9953-e42658de76c7",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "2cBtPDGTCfO2GXKd",
          "name": "inesin"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        460
      ],
      "id": "5aaf08a3-07d7-4e72-aa6c-4105c0706099",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        200,
        40
      ],
      "id": "b2fb5609-c511-438d-8625-f378243249ef",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GdTgSVO5MkQXCIRg",
          "name": "Universidad ISEP - Proyecto Chatbot"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "chatInput": "Angel es un psicologo que necesita información sobre la maestría de psicología clínica, quiere saber los precios y las becas disponibles"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-04T02:38:20.000Z",
  "versionId": "957dc64d-3c94-4b3f-a2a2-bd9b182eba53"
}